<div class="container">
    <div class="sorting-block">
        <ul class="sorting-nav sorting-nav-v1 text-center">
        </ul>
        <ul class="row sorting-grid">
            <li class="col-md-4 col-sm-6 col-xs-12">
                <a href="#Register">
                    <img class="img-responsive" src="assets/img/main/applicationform.jpg" alt="">
                    <span class="sorting-cover">
                        <span>טופס הרשמה</span>

                    </span>
                </a>
            </li>
            <li class="col-md-4 col-sm-6 col-xs-12">
                <a href="#Membership">
                    <img class="img-responsive" src="assets/img/main/membership.jpg" alt="">
                    <span class="sorting-cover">
                        <span>חברות באגודה</span>

                    </span>
                </a>
            </li>
            <li class="col-md-4 col-sm-6 col-xs-12">
                <a href="#About">
                    <img class="img-responsive" src="assets/img/main/about.jpg" alt="">
                    <span class="sorting-cover">
                        <span>אודות האגודה</span>
                        <!--<p>Anim pariatur cliche reprehenderit</p>-->
                    </span>
                </a>
            </li>
            

            <li class="col-md-4 col-sm-6 col-xs-12">
                <a href="#Directors">
                    <img class="img-responsive" src="assets/img/main/directors.jpg" alt="">
                    <span class="sorting-cover">
                        <span>בעלי תפקידים</span>

                    </span>
                </a>
            </li>
            <li class="col-md-4 col-sm-6 col-xs-12">
                <a href="#QSL">
                    <img class="img-responsive" src="assets/img/main/qsl.jpg" alt="">
                    <span class="sorting-cover">
                        <span>לשכת QSL</span>

                    </span>
                </a>
            </li>
            <li class="col-md-4 col-sm-6 col-xs-12">
                <a href="#Repeaters">
                    <img class="img-responsive" src="assets/img/main/repeaters.jpg" alt="">
                    <span class="sorting-cover">
                        <span>ממסרים</span>

                    </span>
                </a>
            </li>
            
            <li class="col-md-4 col-sm-6 col-xs-12">
                <a href="#Market">
                    <img class="img-responsive" src="assets/img/main/10.jpg" alt="">
                    <span class="sorting-cover">
                        <span>מרכולית</span>
                    </span>
                </a>
            </li>
            <li class="col-md-4 col-sm-6 col-xs-12">
                <a href="#Media">
                    <img class="img-responsive" src="assets/img/main/media.jpg" alt="">
                    <span class="sorting-cover">
                        <span>כתבו עלינו</span>
                    </span>
                </a>
            </li>

            <li class="col-md-4 col-sm-6 col-xs-12">
                <a href="#Protocols">
                    <img class="img-responsive" src="assets/img/main/protocols.jpg" alt="">
                    <span class="sorting-cover">
                        <span>פרוטוקולים</span>

                    </span>
                </a>
            </li>
            
            <li class="col-md-4 col-sm-6 col-xs-12">
                <a href="http://articles.iarc.org/" target="_blank">
                    <img class="img-responsive" src="assets/img/main/articles.jpg" alt="">
                    <span class="sorting-cover">
                        <span>דף המאמרים</span>

                    </span>
                </a>
            </li>




        </ul>
    </div>
</div>
