<style type="text/css">
    .map
    {
        width: 100%;
        height: 350px;
        border-top: solid 1px #eee;
        border-bottom: solid 1px #eee;
    }

        /* important! bootstrap sets max-width on img to 100% which conflicts with google map canvas*/
        .map img
        {
            max-width: none;
        }

    .map-box
    {
        height: 250px;
    }

    .map-box-space
    {
        margin-top: 15px;
    }

    .map-box-space1
    {
        margin-top: 7px;
    }
</style>
<div class="container">


    <!-- Google Map -->
    <div id="map-canvas" class="map margin-bottom-40">
    </div>
    <!---/map-->
    <!-- End Google Map -->

    <!--=== Content Part ===-->
    <div class="container">
        <div class="row-fluid who margin-bottom-30">
            <div class="col-md-7 pull-right">
                <!-- Contacts -->
                <div class="headline">
                    <h4>לצורך יצירת קשר ניתן להשתמש באחת הדרכים הבאות:</h4>
                </div>
                <div class="listed-icons margin-bottom-10">
                    <div><i class="icon-home"></i> אלפרט 3 יהוד .בבניין אתר ההנצחה לחללי חיל הקשר והתקשוב (בתאום מראש עם המזכיר).</div>
                    <div><i class="icon-envelope"></i> אגודת חובבי הרדיו בישראל (ע"ר) ת.ד. 17600 תל אביב מיקוד 6117501</div>
                    <div><i class="icon-envelope-alt"></i> דואר אלקטרוני: <a href="mailto:info@iarc.org">info@iarc.org</a></div>
                    <div><i class="icon-phone-sign"></i> מזכיר האגודה שלום ברק טל 03-6481090 או 054-6467266</div>
                    <div><i class="icon-facebook"></i> <a href="https://www.facebook.com/groups/353267071379649/" target="_blank">אגודת חובבי הרדיו בישראל - IARC</a></div>
                    <div><i class="icon-signal"></i> על אחד ממסרי האגודה (בעיקר מומלץ ממסר ת"א או כל ממסר המחובר אליו)</div>
                </div>
            </div>
            <div class="col-md-5 pull-right">
                <!-- Contacts -->
                <div class="headline">
                    <h4>כתובות דוא"ל:</h4>
                </div>
                <div class="listed-icons margin-bottom-10">
                    <div><i class="icon-envelope-alt"></i> דובר האגודה: <a href="mailto:spokesman@iarc.org">spokesman@iarc.org</a></div>
                    <div><i class="icon-envelope-alt"></i> ועד האגודה: <a href="mailto:committee@iarc.org">committee@iarc.org</a></div>
                    <div><i class="icon-envelope-alt"></i> ועדת חברים: <a href="mailto:membership@iarc.org">membership@iarc.org</a></div>
                    <div><i class="icon-envelope-alt"></i> ועדת ממסרים: <a href="mailto:repeater@iarc.org">repeater@iarc.org</a></div>
                    <div><i class="icon-envelope-alt"></i> ועדת ביקורת: <a href="mailto:review@iarc.org">review@iarc.org</a></div>
                    <div><i class="icon-envelope-alt"></i> אחראי האתר: <a href="mailto:webmaster@iarc.org">webmaster@iarc.org</a></div>
                    <div><i class="icon-envelope-alt"></i> גזבר: <a href="mailto:treasurer@iarc.org">treasurer@iarc.org</a></div>
                </div>
            </div>
            <!--/col-md-12-->
        </div>
        <!--/row-->

          <div class="row-fluid who margin-bottom-30">
              <div class="col-md-7 pull-right">
                  <!-- Contacts -->
                  <div class="headline">
                      <h4>טלפונים חשובים:</h4>
                  </div>
                  <div class="listed-icons margin-bottom-10">
                      <div><i class="icon-phone-sign"></i> צורי ריינשטיין 4Z1RZ יו"ר - 0543227300</div>
                      <div><i class="icon-phone-sign"></i> ישראל וסרמן 4Z1IW גיזבר - 0522295697</div>
                      <div><i class="icon-phone-sign"></i> יולי קפלן 4X6HP מזכיר - 0545696228</div>
                      <div>משרד התקשורת: <i class="icon-phone-sign"></i> 035198296 <i class="icon-print"></i> 035198103</div>
                      <div>משרד להגנת הסביבה: <i class="icon-phone-sign"></i> 026495874 <i class="icon-print"></i> 026495870</div>
                  </div>
              </div>
          </div>

    </div>
</div>
