<div class="container">

    <div class="row">
        <div class="col-md-6 text-left">
            <h2 style="color: #3ebeff"><span style="color: #333333; font-weight: bold">I</span>srael <span style="color: #333333; font-weight: bold">A</span>mateur <span style="color: #333333; font-weight: bold">R</span>adio <span style="color: #333333; font-weight: bold">C</span>lub</h2>
        </div>
        <div class="col-md-6 text-right">
            <h2 style="color: #3ebeff"><span style="color: #333333; font-weight: bold">א</span>גודת <span style="color: #333333; font-weight: bold">ח</span>ובבי ה<span style="color: #333333; font-weight: bold">ר</span>דיו ב<span style="color: #333333; font-weight: bold">י</span>שראל</h2>
        </div>
    </div>

    <div class="search-blocks search-blocks-right-green margin-bottom-40">
        <a href="https://courses.iarc.org/" target="_blank">
            <div class="row">
                <div class="col-md-6 text-center" style="vertical-align:central;">
                    <h1><span style="font-weight:bold">מתעניינים בחובבות רדיו?</span></h1>
                    <h1>בואו לשמוע פרטים!</h1>
                </div>
                <div class="col-md-6 search-img">
                    <iframe width="100%" src="https://www.youtube.com/embed/mJtsJI0qGpc" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </a>
    </div>

    <!--<div class="search-blocks search-blocks-right-green margin-bottom-40">
        <img class="img-responsive" src="assets/img/main/elections.jpg" alt="">
    </div>-->
    <div class="search-blocks search-blocks-right-green margin-bottom-40">
        <h3>ב-30/12 התקיימה האסיפה השנתית - להלן חומר בנושא</h3>
        <ul>
            <li>
                <h4>תוצאות רשמיות של הבחירות למוסדות האגודה: <a href="./Content/docs/evote2020.pdf" target="_blank">EVOTE 2020</a></h4>
            </li>
            <li>
                <h4>מצגת הענקת המגינים ותעודות הוקרה: <a href="./Content/docs/awards2020.pptx" target="_blank">AWARDS 2020</a></h4>
            </li>
            <li>
                <h4>מהלך האסיפה שנערכה בזום, כפי שהוקלטה באפליקציית הזום: <a href="https://youtu.be/rjRL8PxgyUQ" target="_blank">האסיפה השנתית</a></h4>
            </li>
        </ul>
    </div>
    
    <!--Features News-->
    <div class="row">
        <div data-bind="compose: 'viewmodels/components/features'"></div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div data-bind="compose: 'viewmodels/components/news_abstract'"></div>
        </div>
        <div class="col-md-8">
            <div data-bind="compose: 'viewmodels/components/events'"></div>
            <br /><br />

            <div data-bind="compose: 'viewmodels/components/posts'"></div>
        </div>
    </div>
</div>
