<div class="container">
    <div class="row servive-block">
        <div class="col-md-5 col-sm-6"></div>
        <div class="col-md-3 col-sm-6">
            <div class="servive-block-in servive-block-colored servive-block-grey text-center">   
                <h4>אמנון בר-גיורא	</h4>
                <h4>4X1DF</h4>
                <div>
                    <img src="assets/img/directors/4x1df.jpg" alt="image" width="80px" />
                </div>
                <p>נשיא כבוד</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6"></div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-grey">
                <div class="panel-heading">
                    <h3 class="panel-title">חברי הועד</h3>
                </div>
                <div class="panel-body">
                    <div class="row servive-block margin-bottom-10">
                        <div class="col-md-3 col-sm-6">
                            <div class="servive-block-in">
                                <h4>יולי קפלן</h4>
                                <h4>4X6HP</h4>
                                <div>
                                    <img src="assets/img/directors/4x6hp.jpg" alt="image" width="80px" />
                                </div>
                                <p>מזכיר הועד, ניהול פנקס חברים</p>
                            </div>
                        </div>
                        
                        <div class="col-md-3 col-sm-6">
                            <div class="servive-block-in">
                                <h4>דן קצמן	</h4>
                                <h4>4Z5SL</h4>
                                <div>
                                    <img src="assets/img/directors/4z5sl.jpg" alt="image" width="80px" />
                                </div>
                                <p>שיווק ופיתוח עסקי, ניהול הקורס המתוקשב, אחראי ממסרים</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="servive-block-in">
                                <h4>שרוליק הרמתי</h4>
                                <h4>4X1JT</h4>
                                <div>
                                    <img src="assets/img/directors/4z4jt.jpg" alt="image" width="80px" />
                                </div>
                                <p>סגן יו"ר, שימור הידע, הכנת האסיפה, ממסרים, קשר עם בעלי נכסים</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="servive-block-in">
                                <h4>צורי ריינשטיין</h4>
                                <h4>4Z1RZ</h4>
                                <div>
                                    <img src="assets/img/directors/4z1rz.jpg" alt="image" width="80px" />
                                </div>
                                <p>יו"ר</p>
                                <p>קשר עם IARU, ARRL, משהת"ק, צה"ל, משה"ב, פיקוד העורף ומד"א, מועדונים</p>
                            </div>
                        </div>
                    </div>
                    <div class="row servive-block margin-bottom-10">
                        <div class="col-md-3 col-sm-6">
                            <div class="servive-block-in">
                                <h4>ניר ישראלי</h4>
                                <h4>4X6FK</h4>
                                <div>
                                    <img src="assets/img/directors/4x6fk.jpg" alt="image" width="80px" />
                                </div>
                                <p>קש"לים, עוזר יו"ר</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="servive-block-in">
                                <h4>אבינועם אלבו</h4>
                                <h4>4X1HF</h4>
                                <div>
                                    <img src="assets/img/directors/4x6hf.jpg" alt="image" width="80px" />
                                </div>
                                <p>סגן יו"ר</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="servive-block-in">
                                <h4>רוס בוניאט-זדה</h4>
                                <h4>4Z5LA</h4>
                                <div>
                                    <img src="assets/img/directors/4z5la.jpg" alt="image" width="80px" />
                                </div>
                                <p>מנהל HF, תחרויות, שרות לחבר, גזבר</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="servive-block-in">
                                <h4>גיל ליאני</h4>
                                <h4>4Z5SM</h4>
                                <div>
                                    <img src="assets/img/directors/4z5sm.jpg" alt="image" width="80px" />
                                </div>
                                <p>פיתוח אתר האגודה</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <h3 class="panel-title">ועדת ביקורת</h3>
                </div>
                <div class="panel-body">
                    <div class="row servive-block margin-bottom-10">
                        <div class="col-md-4 col-sm-6">
                            <div class="servive-block-in">
                                <h4>אפי רוזנצוויג</h4>
                                <h4>4X1TI</h4>
                                <div>
                                    <img src="assets/img/directors/4x1ti.jpg" alt="image" width="80px" />
                                </div>
                                <p>יו"ר הועדה</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="servive-block-in">
                                <h4>אורי נדיר</h4>
                                <h4>4X1FG</h4>
                                <div>
                                    <img src="assets/img/directors/4x1fg.jpg" alt="image" width="80px" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="servive-block-in">
                                <h4>אלי טל</h4>
                                <h4>4X1ET</h4>
                                <div>
                                    <img src="assets/img/directors/4x1et.jpg" alt="image" width="80px" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <h3 class="panel-title">ועדת חברים</h3>
                </div>
                <div class="panel-body">
                    <div class="row servive-block margin-bottom-10">
                        <div class="col-md-4 col-sm-6">
                            <div class="servive-block-in">
                                <h4>רון אלכסנדר</h4>
                                <h4>4X1PA</h4>
                                <div>
                                    <img src="assets/img/directors/4x4pa.jpg" alt="image" width="80px" />
                                </div>
                                <p>יו"ר הועדה</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="servive-block-in">
                                <h4>משה אינגר</h4>
                                <h4>4Z1PF</h4>
                                <div>
                                    <img src="assets/img/directors/4z1pf.jpg" alt="image" width="80px" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="servive-block-in">
                                <h4>עודד קישוני</h4>
                                <h4>4Z5OK</h4>
                                <div>
                                    <img src="assets/img/directors/4z5ok.jpg" alt="image" width="80px" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <h3 class="panel-title">בעלי תפקידים נוספים</h3>
                </div>
                <div class="panel-body">
                    <div class="row servive-block margin-bottom-10">
                        <div class="col-md-3 col-sm-6">
                            <div class="servive-block-in">
                                <h4>שלום ברק</h4>
                                <h4>4Z4BS</h4>
                                <div>
                                    <img src="assets/img/directors/4z4bs.jpg" alt="image" width="80px" />
                                </div>
                                <p>מזכיר האגודה</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="servive-block-in">
                                <h4>מיכאל ברק</h4>
                                <h4>4X1KF</h4>
                                <div>
                                    <img src="assets/img/directors/4x1kf.jpg" alt="image" width="80px" />
                                </div>
                                <p>עורך הגל</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="servive-block-in">
                                <h4>יצחק ריידר</h4>
                                <h4>4Z5TT</h4>
                                <div>
                                    <img src="assets/img/directors/4z5tt.jpg" alt="image" width="80px" />
                                </div>
                                <p>קש"לים יוצאים</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="servive-block-in">
                                <h4>קותי שטסל</h4>
                                <h4>4X6OM</h4>
                                <div>
                                    <img src="assets/img/directors/4x6om.jpg" alt="image" width="80px" />
                                </div>
                                <p>קש"לים נכנסים</p>
                            </div>
                        </div>
                    </div>
                    <div class="row servive-block margin-bottom-10">
                        <div class="col-md-3 col-sm-6"></div>
                        <div class="col-md-3 col-sm-6"></div>
                        <div class="col-md-3 col-sm-6"></div>
                        <div class="col-md-3 col-sm-6">
                            <div class="servive-block-in">
                                <h4>ולדיסלב איוונוב</h4>
                                <h4>4Z5OZ</h4>
                                <div>
                                    <img src="assets/img/directors/4z5oz.jpg" alt="image" width="80px" />
                                </div>
                                <p>קש"לים שגויים</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 pull-right">
            <div class="row-fluid">
                <!--Striped Rows-->
                <div class="panel panel-red margin-bottom-40">
                    <div class="panel-heading">
                        <h4 class="panel-title">נשיאי כבוד של האגודה</h4>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="text-align: right">שנה</th>
                                <th style="text-align: right">אות קריאה</th>
                                <th style="text-align: right">שם</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1948</td>
                                <td>4X4CZ</td>
                                <td>יחזקאל דויס ז"ל</td>
                            </tr>
                            <tr>
                                <td>1949-1982</td>
                                <td>4X4BX</td>
                                <td>שלמה מנזרי ז"ל</td>
                            </tr>
                            <tr>
                                <td>1985-1996</td>
                                <td>4X1AH</td>
                                <td>יענקלה יצחקי ז"ל</td>
                            </tr>
                            <tr>
                                <td>1997</td>
                                <td>4X6KJ</td>
                                <td>יוסף אובסטפלד</td>
                            </tr>
                            <tr>
                                <td>2009-2013</td>
                                <td>4X1DF</td>
                                <td>אמנון בר-גיורא</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row-fluid">
                <div class="panel panel-blue margin-bottom-40">
                    <div class="panel-heading">
                        <h4 class="panel-title">חברי כבוד באגודה</h4>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="text-align: right">אות קריאה</th>
                                <th style="text-align: right">שם</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>-----</td>
                                <td>זלמו שלו - קשר"ר</td>
                            </tr>
                            <tr>
                                <td>4X1AB</td>
                                <td>אלון בר-סלע</td>
                            </tr>
                            <tr>
                                <td>4X1AH</td>
                                <td>יענקלה יצחקי ז"ל
                                </td>
                            </tr>
                            <tr>
                                <td>4X1AS</td>
                                <td>מנוחין שלמה
                                </td>
                            </tr>
                            <tr>
                                <td>4X1AT</td>
                                <td>אהרון קירשנר ז"ל
                                </td>
                            </tr>
                            <tr>
                                <td>4X1FU</td>
                                <td>יצחק חלפון ז"ל
                                </td>
                            </tr>
                            <tr>
                                <td>4X1IK</td>
                                <td>ישראל קז
                                </td>
                            </tr>
                            <tr>
                                <td>4X1OM</td>
                                <td>ישראל ברקו
                                </td>
                            </tr>
                            <tr>
                                <td>4X1WA</td>
                                <td>דוד שמואלי
                                </td>
                            </tr>
                            <tr>
                                <td>4X4FV</td>
                                <td>ג'ו ליברזון ז"ל
                                </td>
                            </tr>
                            <tr>
                                <td>4X4GF</td>
                                <td>שמשון לוטן ז"ל
                                </td>
                            </tr>
                            <tr>
                                <td>4X4GT</td>
                                <td>טוביה גרינגרויז
                                </td>
                            </tr>
                            <tr>
                                <td>4X4ND</td>
                                <td>אריה שרוני
                                </td>
                            </tr>
                            <tr>
                                <td>4X4OR</td>
                                <td>ישראל ביבר
                                </td>
                            </tr>
                            <tr>
                                <td>4X6KJ</td>
                                <td>יוסף אובסטפלד
                                </td>
                            </tr>
                            <tr>
                                <td>4X6OL</td>
                                <td>שושנה קירשנר
                                </td>
                            </tr>
                            <tr>
                                <td>4X6ZH</td>
                                <td>יצחק מרקדו
                                </td>
                            </tr>
                            <tr>
                                <td>4X8RR</td>
                                <td>רון רודן ז"ל
                                </td>
                            </tr>
                            <tr>
                                <td>4Z4BS</td>
                                <td>שלום ברק
                                </td>
                            </tr>
                            <tr>
                                <td>4Z4NG</td>
                                <td>נתן גידרון
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6 pull-right">
            <div class="row-fluid">
                <div class="panel panel-sea margin-bottom-40">
                    <div class="panel-heading">
                        <h4 class="panel-title">יושבי ראש ועד האגודה</h4>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="text-align: right">שנה</th>
                                <th style="text-align: right">אות קריאה</th>
                                <th style="text-align: right">שם</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1949-1962</td>
                                <td>4X4BX</td>
                                <td>שלמה מנזרי ז"ל</td>
                            </tr>
                            <tr>
                                <td>1963</td>
                                <td>4X4DH</td>
                                <td>ברונו ביננפלד</td>
                            </tr>
                            <tr>
                                <td>1964</td>
                                <td>4X1FU</td>
                                <td>יצחק חלפון ז"ל</td>
                            </tr>
                            <tr>
                                <td>1965-1966</td>
                                <td>4X4DC</td>
                                <td>יהודה קריסטל</td>
                            </tr>
                            <tr>
                                <td>1967-1969</td>
                                <td>4X4BX</td>
                                <td>שלמה מנזרי ז"ל</td>
                            </tr>
                            <tr>
                                <td>1970-1971</td>
                                <td>4X1FU</td>
                                <td>יצחק חלפון ז"ל</td>
                            </tr>
                            <tr>
                                <td>1972-1974</td>
                                <td>4X4CZ</td>
                                <td>יחזקאל דויס ז"ל</td>
                            </tr>
                            <tr>
                                <td>1975-1977</td>
                                <td>4X1IK</td>
                                <td>ישראל קז</td>
                            </tr>
                            <tr>
                                <td>1978-1979</td>
                                <td>4Z4JT</td>
                                <td>שרוליק הרמתי</td>
                            </tr>
                            <tr>
                                <td>1980-1981</td>
                                <td>4X1AT</td>
                                <td>אהרון קירשנר ז"ל</td>
                            </tr>
                            <tr>
                                <td>1982</td>
                                <td>4Z4RM</td>
                                <td>נפתלי בלבן</td>
                            </tr>
                            <tr>
                                <td>1983-1986</td>
                                <td>4X1AT</td>
                                <td>אהרון קירשנר ז"ל</td>
                            </tr>
                            <tr>
                                <td>1987</td>
                                <td>4Z4AB</td>
                                <td>אבי פרידלנדר</td>
                            </tr>
                            <tr>
                                <td>1988</td>
                                <td>4X1AT</td>
                                <td>אהרון קירשנר ז"ל</td>
                            </tr>
                            <tr>
                                <td>1989-1996</td>
                                <td>4X6KJ</td>
                                <td>יוסף אובסטפלד</td>
                            </tr>
                            <tr>
                                <td>1997-1999</td>
                                <td>4Z5IS</td>
                                <td>אליהו שטרן</td>
                            </tr>
                            <tr>
                                <td>2000-2007</td>
                                <td>4X6KJ</td>
                                <td>יוסף אובסטפלד</td>
                            </tr>
                            <tr>
                                <td>2008-2011</td>
                                <td>4Z1PF</td>
                                <td>משה אינגר</td>
                            </tr>
                            <tr>
                                <td>2012-2013</td>
                                <td>4Z1AB</td>
                                <td>עמוס ברק</td>
                            </tr>
                            <tr>
                                <td>2014</td>
                                <td>4Z1RZ</td>
                                <td>צורי ריינשטיין</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--End Striped Rows-->

            </div>
            <div class="row-fluid">
                <div class="panel panel-orange margin-bottom-40">
                    <div class="panel-heading">
                        <h4 class="panel-title">עורכי בטאון "הגל"</h4>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="text-align: right">שנה</th>
                                <th style="text-align: right">אות קריאה</th>
                                <th style="text-align: right">שם</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1950</td>
                                <td>4X4CJ</td>
                                <td>ראובן אביגור ז"ל
                                </td>
                            </tr>
                            <tr>
                                <td>1951-1952</td>
                                <td>4X4BO</td>
                                <td>יאיר בורלא ז"ל
                                </td>
                            </tr>
                            <tr>
                                <td>1961</td>
                                <td>4X4JY</td>
                                <td>מרדכי שורר ז"ל
                                </td>
                            </tr>
                            <tr>
                                <td>1962</td>
                                <td>4X4LQ</td>
                                <td>עמוס קורצ'ין
                                </td>
                            </tr>
                            <tr>
                                <td>1963</td>
                                <td>4X4BO</td>
                                <td>יאיר בורלא ז"ל
                                </td>
                            </tr>
                            <tr>
                                <td>1964</td>
                                <td>4X4DH</td>
                                <td>ברונו ביננפלד
                                </td>
                            </tr>
                            <tr>
                                <td>1966</td>
                                <td>4Z4BR</td>
                                <td>דורון ארד
                                </td>
                            </tr>
                            <tr>
                                <td>1970-1971</td>
                                <td>4Z4AB</td>
                                <td>אבי פרידלנדר
                                </td>
                            </tr>
                            <tr>
                                <td>1972-1974</td>
                                <td>4X4IL</td>
                                <td>בן ציון שעל
                                </td>
                            </tr>
                            <tr>
                                <td>1975</td>
                                <td>4Z4AB</td>
                                <td>אבי פרידלנדר
                                </td>
                            </tr>
                            <tr>
                                <td>1977</td>
                                <td>4Z4VH</td>
                                <td>נועם אבירם
                                </td>
                            </tr>
                            <tr>
                                <td>1978</td>
                                <td>4Z4JT</td>
                                <td>שרוליק הרמתי
                                </td>
                            </tr>
                            <tr>
                                <td>1979-1980</td>
                                <td>4Z4UR</td>
                                <td>אהוד זגר
                                </td>
                            </tr>
                            <tr>
                                <td>1981</td>
                                <td>4Z4SO</td>
                                <td>עודד שרמר
                                </td>
                            </tr>
                            <tr>
                                <td>1982</td>
                                <td>4X6IL</td>
                                <td>בן ציון שעל
                                </td>
                            </tr>
                            <tr>
                                <td>1983-1985</td>
                                <td>4X4KT</td>
                                <td>צבי פומר ז"ל
                                </td>
                            </tr>
                            <tr>
                                <td>1986</td>
                                <td>4Z7BHH</td>
                                <td>עזרא נוריאל
                                </td>
                            </tr>
                            <tr>
                                <td>1987-1991</td>
                                <td>4X4-439</td>
                                <td>ראובן ישראלי
                                </td>
                            </tr>
                            <tr>
                                <td>1991-2001</td>
                                <td>4X6LM</td>
                                <td>שלמה מוסלי
                                </td>
                            </tr>
                            <tr>
                                <td>2002-2014</td>
                                <td>4X1KF</td>
                                <td>מיכאל ברק</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--End Striped Rows-->

            </div>
            <!--/row-fluid-->
        </div>
    </div>

</div>

