<div class="container">

    <div class="row-fluid privacy">

        <h4>חובבי רדיו בחירום</h4>
       <p>רקע</p>
        <ul>
            <li>
                חובבי הרדיו בעולם מסייעים בתקשורת בעיתות מצוקה וחרום ובכך הינם נכס חשוב לקהילה.
            </li>
            <li>
                חובבי הרדיו היו שותפים בפעילויות חרום רבות בהן הקימו ותיפעלו רשת תקשורת פעילות תוך
                זמן קצר וכל זאת הודות לידיעותיהם המקצועיות ומיומנותם הטכנית בתחום האלחוט
            </li>
            <li>
                בישראל, לצורך תקשורת פנים ארצית בזמן חרום, ובמיוחד בארועים בהן יושבתו רשתות
                תקשורת ו/או אספקת ה חשמל, יופעל ו תחנה אחת או יותר לניהול רשת להעברת הודעות על פי
                דרישה וצורך
            </li>
            <li>ממונה נושא תקשורת חרום באגודת חובבי הרדיו: רון יציב IG1X4( com.gmail@ig1x4ron)</li>
        </ul>

        <hr />

        <p>
            לצורך תקשורת פנים ארצית, במקרה של מלחמה, רעידת אדמה, או אסון רב נפגעים, לא עלינו, נקבעו לחירום תדרי המפגש הבאים, במגה-הרץ:
        </p>
        <p>VHF אנלוגי - סימפלקס</p>
        <ul>
            <li>S10 - 145.250</li>
            <li>S11 - 145.275</li>
        </ul>
        <p>HF</p>
          <ul>
              <li>14.300 - USB   משותף ל IARU1
              <li>10.130 - USB   רק ישראל (ורק בחירום)
              <li>7.130 - LSB רק ישראל</li>
              <li>7.110 - LSB משותף ל IARU1</li>
              <li>5.365 - USB   רק ישראל</li>
              <li>3.777 - LSB   רק ישראל</li>
              <li>3.760 - LSB   משותף ל IARU1</li>
          </ul>
        <p>
            ממסרים (אם התשתית תקינה - הערה 1)
        </p>
        <ul>
            <li>ממסרי VHF UHF אנלוגיים</li>
            <li>קבוצה TG 425 על ממסרי ה DMR</li>
            <li>קבוצה TG9112 על ממסרי ה (EMCOM EU)   DMR</li>
            <li>(DMR - כל עוד התשתית הקישורית תשרוד, תספק הרשת קישוריות ארצית ועולמית)</li>
        </ul>
        <p>אנא הקפידו על הכללים הבאים:</p>
        <ol>
            <li>אלו תדרי מפגש. עם ריבוי תעבורה על התדר, רצוי לעבור לתדרים אחרים, אך לוודא תחילה שיש חובבים נוספים מאזורכם הנשארים על התדר בהאזנה. במידה ונשאר ממסר פעיל עדיף להשתמש בו להגדלת טווח.</li>
            <li>יש להשאיר מרווח בין שידור לשידור כדי לאפשר לתחנות חלשות להצטרף. ב  VHF, מפעם לפעם יש לפתוח SQUELCH ולתת קריאה, כדי לשפר את  הסיכוי של תחנה חלשה להיכנס.</li>
            <li>בחרום אין להשתמש ב PL לקליטה. אם שני התדרים האלו שמורים אצלכם בזיכרון עם PL קליטה, שימרו אותם בזיכרונות נוספים ללא PL קליטה.</li>
            <li>מכשירי הנדי המאוחסנים זמן ממושך עלולים להיות ללא סוללות שמישות, והזיכרונות עשויים להימחק. הוציאו את המכשירים לריענון הסוללות הנטענות, ואם אין עוד בידכם סוללות שמישות, הכינו כבל להפעלה ישירה של המכשיר ממצבר הרכב או מצבר חיצוני. עדיף מכשיר מסורבל ממכשיר חסר תועלת.</li>
            <li>רצוי להעדיף מכשירים שאינם תלויים ברשת החשמל. מכשיר חסר שימוש, עדיף שיהיה זרוק בתא המטען של הרכב, מאשר בבוידם בבית. אנטנה רבע אורך גל, מתוצרת עצמית, מחוט באורך 51 ס"מ, עדיפה על RubberDucky.</li>
        </ol>
        <p>
            73<br />
            נרשם ע"י זיו<br />
            4X1UK
        </p>
    </div>
    <!--/row-fluid-->

</div>

