<div class="container">
    <div class="row-fluid privacy">

        <h2>הרשמה להרצאה</h2>
        <p>
            שלום לציבור החובבים<br />
            הנכם מוזמנים להרצאה בנושא אנטנות.<br />
            ההרצאה תתקיים בתאריך 28 אוגוסט (יום ג') בשעה 18:30 במרכז המדעים שבבית ספר תיכון חדש להנדסאים בהרצליה.<br />
            ההרצאה תינתן ע"י אברי דותן , 4X1YV<br />
            מדובר בהרצאה בסיסית (ללא מתמטיקה...) שמיועדת לחובבים (חדשים, אך לא רק) שרוצים להכיר את הנושא ותכלול :<br />
            ·       מהי אנטנה<br />
            ·       מושגים שקשורים לאנטנות<br />
            ·       סוגי אנטנות שנפוצות בקרב חובבי רדיו<br />
            ·       השפעות על ביצועי אנטנה<br />
            ·       שאלות ותשובות<br />
            על מנת שנוכל להיערך בהתאם, הנכם מתבקשים להירשם באתר האגודה (תחת כותרת "האגודה" ומשם למטה ל"הרשמה לאירועים" ), הכנסת אות קריאה ולחיצה על "הרשם".<br />
            תודה ולהתראות.<br />
        </p>
        <hr />
        <p>
            <input type="text" class="form-control" id="address" placeholder="אות קריאה" data-bind="value: callsign" tabindex="1" style="text-transform:uppercase" width="200"><br />
            <button id="SendBtn" type="button" class="btn btn-success" data-bind="click: Send">הרשם</button>
        </p>
    </div>
</div>

