<div class="container">
    <div class="row-fluid privacy">

        <h2>הרשמה להרצאה</h2>
        <p>
            שלום,<br />
            הנכם מוזמנים להרצאה בנושא "תקשורת סיפרתית וטכנולוגית DMR"<br />
            ההרצאה תתקיים בהרצליה בתאריך ה 16.07.18 בשעה 18:30 במרכז למדעים שבבית ספר תיכון חדש הרצליה ותעבר על ידי צביקה 4Z1ZV.<br />
            <br />
            ההרצאה תהיה ברמה המתאימה הן למתעניינים בכניסה לתחום והן לבעלי מכשירים המעוניינים להרחיב הידע ולקבל מענה לשאלות כמקובל בטכנולוגיה חדשנית מתפתחת.<br />
            <br />
            נושאי ההרצאה:<br />
            מבוא לתקשורת סיפרתית - מה זה, יתרונות, מגבלות<br />
            טכנולוגיות ותקני תקשורת ספרתית<br />
            רשת ה-DMR העולמית לחובבי רדיו - BRANDMEISTER<br />
            הפריסה המרשימה של ממסרי DMR, נקודות גישה - HOT SPOTS ושרת בישראל<br />
            ציוד ל-DMR - מקמ"ש, ממסר, HOTSPOT<br />
            מושגי יסוד בתכנות מכשיר DMR<br />
            איך עולים באוויר ללא כאבים..  - רישום ברשת ותכנות CODEPLUG<br />
            מצוות עשה ואל תעשה<br />
            כלים וקישורים ששווה להכיר<br />
            שאלות ותשובות<br />
            <br />
            ההרצאה תהיה הזדמנות מצויינת לקבל יעוץ בשאלות המעסיקות אותך הקשורות לנושא זה ולחלוק ידע בנושא המתפתח בקצב מהיר.<br />
            <br />
            על מנת שנוכל להיערך בהתאם, הנכם מתבקשים להרשם ע"י הכנסת אות הקריאה ולחיצה על "הרשם"<br />
            תודה ולהתראות.<br />
        </p>
        <hr />
        <p>
            <input type="text" class="form-control" id="address" placeholder="אות קריאה" data-bind="value: callsign" tabindex="1" style="text-transform:uppercase" width="200"><br />
            <button id="SendBtn" type="button" class="btn btn-success" data-bind="click: Send">הרשם</button>
        </p>
    </div>
</div>

