<div class="container">
    <div class="row-fluid privacy">

        <h2>הרשמה ליום השדה בנחל תנינים</h2>
        <p>
            שלום לציבור החובבים.<br />
            במטרה להיערך כיאות ליום השדה (שיערך בשמורת נחל תנינים ב-14 בספטמבר), אנחנו מבקשים שכל מי שמגיע ירשם וגם יוסיף את מספר הנילווים .<br />
            לדוגמא - ״ישראל ישראלי פלוס שניים״.<br />
            ההרשמה אינה מחייבת אבל תעזור לנו להיערך בהתאם.<br />
            תודה ושנה טובה !<br />
        </p>
        <hr />
        <p>
            <input type="text" class="form-control" id="address" placeholder="שם או אות קריאה + מספר משתתפים" data-bind="value: callsign" tabindex="1" style="text-transform:uppercase" width="200"><br />
            <button id="SendBtn" type="button" class="btn btn-success" data-bind="click: Send">הרשם</button>
        </p>
    </div>
</div>

