<div class="container">
    <h3>טופסי הרשמה לבחינות</h3>
    <div class="sorting-block">
        <ul class="row sorting-grid">
            <li class="col-md-4 col-sm-6 col-xs-12">
                <a href="https://www.iarc.org/iarc/Content/docs/ExamRequest.pdf" target="_blank">
                    <img class="img-responsive" src="assets/img/main/formicon.png" alt="">
                    <span class="sorting-cover">
                        <span>בקשה לבחינה</span>

                    </span>
                </a>
            </li>
            <li class="col-md-4 col-sm-6 col-xs-12">
                <a href="https://www.iarc.org/iarc/Content/docs/ConfState.pdf" target="_blank">
                    <img class="img-responsive" src="assets/img/main/formicon.png" alt="">
                    <span class="sorting-cover">
                        <span>הצהרת סודיות</span>

                    </span>
                </a>
            </li>
            <li class="col-md-4 col-sm-6 col-xs-12">
                <a href="https://www.iarc.org/iarc/Content/docs/PersonalInfo.pdf" target="_blank">
                    <img class="img-responsive" src="assets/img/main/formicon.png" alt="">
                    <span class="sorting-cover">
                        <span>פרטים אישיים</span>

                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
