<div class="container">

    <div class="row-fluid privacy">
        <h4>מבחנים לקבלת רישיון חובבי רדיו</h4>
        <p><span>משרד התקשורת מקיים 4 פעמים בשנה מבחנים להוצאת רישיון חובבי רדיו. בדרך כלל (אבל לא בהכרח) המבחן מתקיים בהרצליה.</span></p>
        <div>ביום המבחן ניתן להיבחן לכל דרגה בהתאם לנהלי המשרד. (דרגה א' למי שהינו חובב דרגה ב' למעלה משנה)</div>
        <p><span>ישנן שתי דרכים להירשם למבחן:</span></p>
        <ol>
            <li><span>דרך הקורס המתוקשב של אגודת חובבי הרדיו בישראל</span></li>
            <li><span>בתאום ישיר מול משרד התקשורת.</span></li>
        </ol>
        <p><span>הרשמה דרך הקורס המתוקשב מנוהלת על ידי אחראי הקורס בתאום ישיר בינו לבין משרד התקשורת ועל הנבחנים למלא טפסים הנשלחים אליהם לפני המבחן ולשלם את אגרות המבחן על פי הוראות מסודרות שהם מקבלים מספר ימים לפני הבחינה.<br /> פרטים על הקורס ניתן לקבל אצל דני קצמן 0505207273 או במייל </span><a href="mailto:dankatzman1954@gmail.com">dankatzman1954@gmail.com</a></p>
        <p><span>מי שאינו לומד דרך הקורס של אגודת חובבי הרדיו יתאם את ההרשמה למבחן בקשר ישיר אל משרד התקשורת. <br /> יש לפנות אל מארק שטרן בטלפון 035198173 או בדואר אלקטרוני&nbsp; </span><a href="mailto:sternm@moc.gov.il">sternm@moc.gov.il</a></p>
        <p><span>קצת מידע על המבחנים:</span></p>
        <p><span>מבחן לדרגה ד':&nbsp; יש להבחן בשני מבחנים בכתב בלבד. <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; מבחן נהלים ומבחן בחומר טכני. <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;עלות כל מבחן 60 ₪</span></p>
        <p><span>מבחן לדרגה ג': </span></p>
        <p><span>מבחן לדרגה ב': הדרישות למבחן לדרגה ב' הן: <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1. לנבחן יש כבר רישיון דרגה ד'<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2. הנבחן סיים ביצוע 50 קשרים עם חובבי רדיו בעולם דרך תחנת חובב רדיו&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ובהדרכת חובב בעל דרגה ב' או א'.</span></p>
        <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;המבחן הינו מבחן תפעול מעשי של מכשיר הרדיו. סילבוס המבחן יינתן לנבחן.<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; עלות הבחינה 60 ש"ח</span></p>
        <p><span>מבחן לדרגה א': &nbsp;יש להבחן בשני מבחנים בכתב בלבד. <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; מבחן נהלים ומבחן בחומר טכני. <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; עלות כל מבחן 60 ₪<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; הנבחן צריך להיות בעל רישיון דרגה ב' למעלה משנה</span></p>
    </div>
</div>

