<div class="container">

    <div class="row-fluid">
        <!--Striped Rows-->
        <div class="panel panel-red margin-bottom-40">
            <div class="panel-heading">
                <h4 class="panel-title">תדרי חובבים</h4>
            </div>
            <br />
            <p>פירוט של תחומי התדר המותרים לשימוש חובבי הרדיו בישראל ניתן למצוא באתר <a href="https://www.gov.il/BlobFolder/service/radio-amateurs-certificates/he/RadioAmateur_terms-committee-allocation-frequency-bands-use-radio-amateur-country.pdf" target="_blank" style="text-decoration: underline"> משרד התקשורת</a></p>
            
        </div>
    </div>
    <!--/row-fluid-->

</div>

