<div class="container">

    <div class="row-fluid">
        <!--Striped Rows-->
        <div class="panel panel-red margin-bottom-40">
            <div class="panel-heading">
                <h4 class="panel-title">תדרי חובבים</h4>
            </div>
            <br />
            <p>פירוט של תחומי התדר המותרים לשימוש חובבי הרדיו בישראל ניתן למצוא באתר <a href="https://www.gov.il/BlobFolder/service/radio-amateurs-certificates/he/RadioAmateur_terms-committee-allocation-frequency-bands-use-radio-amateur-country.pdf" target="_blank" style="text-decoration: underline"> משרד התקשורת</a></p>

        </div>
        <p>באדיבות שמאי 4Z1WS מצורפות טבלאות תדרים שמטרתן:</p>
        <ul>
            <li>ליצור דף אחד מודפס באותיות גדולות, קריא ונגיש, שאפשר לתלות על קיר התחנה או להגדיר כרקע במחשב, ולקרוא את התדרים בנוחות ובמהירות ממקום הישיבה בתחנה</li>
            <li>להציג את תדרי העבודה המומלצים העיקריים בכל הבנדים לפי שיטות האפנון וגם לפי סוג ההפעלה  (QRP, QRS, WFF, SOTA וכו')</li>
            <li>ליידע את החובב לא רק איפה לשדר, אלא גם היכן לא לשדר כדי למנוע הפרעה לחובבים אחרים  (למשל שידור בהספק גבוה בתדר המיועד ל QRP או SSB בתדר המיועד ל SSTV וכו')</li>
        </ul>
        שחור לבן:<br />
        <a href="https://www.iarc.org/iarc/Content/docs/bandplan_bw1.pdf" target="_blank">טבלת תדרים - VHF/UHF</a><br />
        <a href="https://www.iarc.org/iarc/Content/docs/bandplan_bw2.pdf" target="_blank">טבלת תדרים - HF</a><br />
        <br />
        צבעוני:<br />
        <a href="https://www.iarc.org/iarc/Content/docs/bandplan_c1.pdf" target="_blank">טבלת תדרים - VHF/UHF</a><br />
        <a href="https://www.iarc.org/iarc/Content/docs/bandplan_c2.pdf" target="_blank">טבלת תדרים - HF</a><br />

    </div>
    <!--/row-fluid-->

</div>

