<div class="container">

    <div class="row-fluid">
        <!--Striped Rows-->
        <div class="panel panel-red margin-bottom-40">
            <div class="panel-heading">
                <h4 class="panel-title">תדרי חובבים</h4>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr class="table-header">
                        <th rowspan="2" style="text-align: center; vertical-align: top">תחום</th>
                        <th rowspan="2" style="text-align: center; vertical-align: top">תדרים (קה"צ)</th>
                        <th rowspan="2" style="text-align: center; vertical-align: top">סטטוס</th>
                        <th colspan="3" style="text-align: center; vertical-align: central">רשיון</th>
                    </tr>
                    <tr class="table-header">
                        <th style="text-align: center; vertical-align: central">ד</th>
                        <th style="text-align: center; vertical-align: central">ב</th>
                        <th style="text-align: center; vertical-align: central">א</th>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2" style="text-align: center; vertical-align: central">160 מטר</td>
                        <td style="text-align: center; vertical-align: central">1810-1850</td>
                        <td rowspan="2" style="text-align: center; vertical-align: central">ראשוני</td>
                        <td rowspan="3" style="text-align: center; vertical-align: central">-</td>
                        <td style="text-align: center; vertical-align: central">250</td>
                        <td style="text-align: center; vertical-align: central">1500</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; vertical-align: central">1850-2000</td>
                        <td style="text-align: center; vertical-align: central">40</td>
                        <td style="text-align: center; vertical-align: central">40</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; vertical-align: central">80 מטר</td>
                        <td style="text-align: center; vertical-align: central">3500-3800</td>
                        <td style="text-align: center; vertical-align: central">משותף</td>
                        <td style="text-align: center; vertical-align: central">250</td>
                        <td style="text-align: center; vertical-align: central">1500</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; vertical-align: central">60 מטר</td>
                        <td style="text-align: center; vertical-align: central">*</td>
                        <td colspan="1" style="text-align: center; vertical-align: central">נסיוני על בסיס בקשה פרטנית  במעמד משני</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; vertical-align: central">40 מטר</td>
                        <td style="text-align: center; vertical-align: central">7000-7200</td>
                        <td style="text-align: center; vertical-align: central">ראשוני</td>
                        <td rowspan="7" style="text-align: center; vertical-align: central">-</td>
                        <td rowspan="7" style="text-align: center; vertical-align: central">250</td>
                        <td style="text-align: center; vertical-align: central">1500</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; vertical-align: central">30 מטר</td>
                        <td style="text-align: center; vertical-align: central">10100-10150</td>
                        <td style="text-align: center; vertical-align: central">משני</td>
                        <td style="text-align: center; vertical-align: central">1000</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; vertical-align: central">20 מטר</td>
                        <td style="text-align: center; vertical-align: central">14000-14350</td>
                        <td style="text-align: center; vertical-align: central">ראשוני</td>
                        <td style="text-align: center; vertical-align: central">1500</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; vertical-align: central">17 מטר</td>
                        <td style="text-align: center; vertical-align: central">18068-18168</td>
                        <td style="text-align: center; vertical-align: central">משני</td>
                        <td style="text-align: center; vertical-align: central">1000</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; vertical-align: central">15 מטר</td>
                        <td style="text-align: center; vertical-align: central">21000-21450</td>
                        <td style="text-align: center; vertical-align: central">ראשוני</td>

                        <td style="text-align: center; vertical-align: central">1500</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; vertical-align: central">12 מטר</td>
                        <td style="text-align: center; vertical-align: central">24890-24990</td>
                        <td style="text-align: center; vertical-align: central">משני</td>
                        <td style="text-align: center; vertical-align: central">1000</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; vertical-align: central">10 מטר</td>
                        <td style="text-align: center; vertical-align: central">28000-29700</td>
                        <td style="text-align: center; vertical-align: central">ראשוני</td>
                        <td style="text-align: center; vertical-align: central">1500</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; vertical-align: central">6 מטר</td>
                        <td style="text-align: center; vertical-align: central">50000-50200</td>
                        <td style="text-align: center; vertical-align: central">משני</td>
                        <td style="text-align: center; vertical-align: central">25</td>
                        <td style="text-align: center; vertical-align: central">25</td>
                        <td style="text-align: center; vertical-align: central">25</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; vertical-align: central">2 מטר</td>
                        <td style="text-align: center; vertical-align: central">144-146 מה"צ</td>
                        <td style="text-align: center; vertical-align: central">ראשוני</td>
                        <td rowspan="2" style="text-align: center; vertical-align: central">100</td>
                        <td rowspan="2" style="text-align: center; vertical-align: central">100</td>
                        <td rowspan="2" style="text-align: center; vertical-align: central">250</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; vertical-align: central">70 ס"מ</td>
                        <td style="text-align: center; vertical-align: central">430-440 מה"צ</td>
                        <td style="text-align: center; vertical-align: central">ראשוני</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; vertical-align: central">23 ס"מ</td>
                        <td style="text-align: center; vertical-align: central">1240-1300 מה"צ</td>
                        <td style="text-align: center; vertical-align: central">משני</td>
                        <td style="text-align: center; vertical-align: central">25</td>
                        <td style="text-align: center; vertical-align: central">25</td>
                        <td style="text-align: center; vertical-align: central">100</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="alert alert-info margin-bottom-40">
            * במאי 2013 החליט משרד התקשורת לתת  אפשרות זמנית למשך שנה לבעלי דרגה א' ו ב' שיגישו בקשות פרטניות לשידור נסיוני במספר מצומצם של ערוצים.
            להחלטת המשרד המלאה ראה <a href="http://www.moc.gov.il/sip_storage/FILES/0/3190.pdf" target="_blank">כאן</a>
        </div>
        <div class="alert alert-danger margin-bottom-40">
            לחובבים בדרגה ג' מותר לשדר עד 100W בתחומים 7000-7050, 14000-14120, 21000-21150, 28000-28500<br />
            ועד 50W בתחומים 144-146, 430-440
        </div>
        <div class="alert alert-warning margin-bottom-40">
            התחומים 2 מטר ו 70 סנטימטר מותרים לשימוש עד 1000W לבעלי דרגה א, ועד 150W לבעלי דרגות ג,ד בקרינה שאינה F3E
        </div>
        <!--<div class="panel panel-grey margin-bottom-40">
            <div class="panel-heading">
                <h4 class="panel-title">VHF</h4>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr class="table-header">
                        <th colspan="2" style="text-align: center; vertical-align: top">ערוץ</th>
                        <th style="text-align: center; vertical-align: top">תדר (מה"צ)</th>
                        <th style="text-align: center; vertical-align: top">שימוש</th
                    </tr>
                </thead>
                <tbody>
                    <tr class="alert-info">
                        <td style="text-align: center; vertical-align: central">R0</td>
                        <td style="text-align: center; vertical-align: central">V00</td>
                        <td style="text-align: center; vertical-align: central">145.000</td>
                        <td rowspan="8" style="text-align: center; vertical-align: central">Repeater Input exclusive</td>
                    </tr>
                    <tr class="alert-info">
                        <td style="text-align: center; vertical-align: central">R1</td>
                        <td style="text-align: center; vertical-align: central">V02</td>
                        <td style="text-align: center; vertical-align: central">145.025</td>
                    </tr>
                    <tr class="alert-info">
                        <td style="text-align: center; vertical-align: central">R2</td>
                        <td style="text-align: center; vertical-align: central">V04</td>
                        <td style="text-align: center; vertical-align: central">145.050</td>
                    </tr>
                    <tr class="alert-info">
                        <td style="text-align: center; vertical-align: central">R3</td>
                        <td style="text-align: center; vertical-align: central">V06</td>
                        <td style="text-align: center; vertical-align: central">145.075</td>
                    </tr>
                    <tr class="alert-info">
                        <td style="text-align: center; vertical-align: central">R4</td>
                        <td style="text-align: center; vertical-align: central">V08</td>
                        <td style="text-align: center; vertical-align: central">145.100</td>
                    </tr>
                    <tr class="alert-info">
                        <td style="text-align: center; vertical-align: central">R5</td>
                        <td style="text-align: center; vertical-align: central">V10</td>
                        <td style="text-align: center; vertical-align: central">145.125</td>
                    </tr>
                    <tr class="alert-info">
                        <td style="text-align: center; vertical-align: central">R6</td>
                        <td style="text-align: center; vertical-align: central">V12</td>
                        <td style="text-align: center; vertical-align: central">145.150</td>
                    </tr>
                    <tr class="alert-info">
                        <td style="text-align: center; vertical-align: central">R7</td>
                        <td style="text-align: center; vertical-align: central">V14</td>
                        <td style="text-align: center; vertical-align: central">145.175</td>
                    </tr>
                    <tr class="alert-danger">
                        <td style="text-align: center; vertical-align: central">R8</td>
                        <td style="text-align: center; vertical-align: central">V16</td>
                        <td style="text-align: center; vertical-align: central">145.200</td>
                        <td style="text-align: center; vertical-align: central">Space communication</td>
                    </tr>
                    <tr class="alert-success">
                        <td style="text-align: center; vertical-align: central">R9</td>
                        <td style="text-align: center; vertical-align: central">V18</td>
                        <td style="text-align: center; vertical-align: central">145.225</td>
                        <td rowspan="15" style="text-align: center; vertical-align: central">Simplex channels</td>
                    </tr>
                    <tr class="alert-success">
                        <td style="text-align: center; vertical-align: central">R10</td>
                        <td style="text-align: center; vertical-align: central">V20</td>
                        <td style="text-align: center; vertical-align: central">145.250</td>
                    </tr>
                    <tr class="alert-success">
                        <td style="text-align: center; vertical-align: central">R11</td>
                        <td style="text-align: center; vertical-align: central">V22</td>
                        <td style="text-align: center; vertical-align: central">145.275</td>
                    </tr>
                    <tr class="alert-success">
                        <td style="text-align: center; vertical-align: central">R12</td>
                        <td style="text-align: center; vertical-align: central">V24</td>
                        <td style="text-align: center; vertical-align: central">145.300</td>
                    </tr>
                    <tr class="alert-success">
                        <td style="text-align: center; vertical-align: central">R13</td>
                        <td style="text-align: center; vertical-align: central">V26</td>
                        <td style="text-align: center; vertical-align: central">145.325</td>
                    </tr>
                    <tr class="alert-success">
                        <td style="text-align: center; vertical-align: central">R14</td>
                        <td style="text-align: center; vertical-align: central">V28</td>
                        <td style="text-align: center; vertical-align: central">145.350</td>
                    </tr>
                    <tr class="alert-success">
                        <td style="text-align: center; vertical-align: central">R15</td>
                        <td style="text-align: center; vertical-align: central">V30</td>
                        <td style="text-align: center; vertical-align: central">145.375</td>
                    </tr>
                    <tr class="alert-success">
                        <td style="text-align: center; vertical-align: central">R16</td>
                        <td style="text-align: center; vertical-align: central">V32</td>
                        <td style="text-align: center; vertical-align: central">145.400</td>
                    </tr>
                    <tr class="alert-success">
                        <td style="text-align: center; vertical-align: central">R17</td>
                        <td style="text-align: center; vertical-align: central">V34</td>
                        <td style="text-align: center; vertical-align: central">145.425</td>
                    </tr>
                    <tr class="alert-success">
                        <td style="text-align: center; vertical-align: central">R18</td>
                        <td style="text-align: center; vertical-align: central">V36</td>
                        <td style="text-align: center; vertical-align: central">145.450</td>
                    </tr>
                    <tr class="alert-success">
                        <td style="text-align: center; vertical-align: central">R19</td>
                        <td style="text-align: center; vertical-align: central">V38</td>
                        <td style="text-align: center; vertical-align: central">145.475</td>
                    </tr>
                    <tr class="alert-success">
                        <td style="text-align: center; vertical-align: central">R20</td>
                        <td style="text-align: center; vertical-align: central">V40</td>
                        <td style="text-align: center; vertical-align: central">145.500</td>
                    </tr>
                    <tr class="alert-success">
                        <td style="text-align: center; vertical-align: central">R21</td>
                        <td style="text-align: center; vertical-align: central">V42</td>
                        <td style="text-align: center; vertical-align: central">145.525</td>
                    </tr>
                    <tr class="alert-success">
                        <td style="text-align: center; vertical-align: central">R22</td>
                        <td style="text-align: center; vertical-align: central">V44</td>
                        <td style="text-align: center; vertical-align: central">145.550</td>
                    </tr>
                    <tr class="alert-success">
                        <td style="text-align: center; vertical-align: central">R23</td>
                        <td style="text-align: center; vertical-align: central">V46</td>
                        <td style="text-align: center; vertical-align: central">145.575</td>
                    </tr>
                    <tr class="alert-info">
                        <td style="text-align: center; vertical-align: central">R0</td>
                        <td style="text-align: center; vertical-align: central">V48</td>
                        <td style="text-align: center; vertical-align: central">R145.600</td>
                        <td rowspan="8" style="text-align: center; vertical-align: central">Repeater Output exclusive</td>
                    </tr>
                    <tr class="alert-info">
                        <td style="text-align: center; vertical-align: central">R1</td>
                        <td style="text-align: center; vertical-align: central">RV50</td>
                        <td style="text-align: center; vertical-align: central">145.625</td>
                    </tr>
                    <tr class="alert-info">
                        <td style="text-align: center; vertical-align: central">R2</td>
                        <td style="text-align: center; vertical-align: central">RV52</td>
                        <td style="text-align: center; vertical-align: central">145.650</td>
                    </tr>
                    <tr class="alert-info">
                        <td style="text-align: center; vertical-align: central">R3</td>
                        <td style="text-align: center; vertical-align: central">RV54</td>
                        <td style="text-align: center; vertical-align: central">145.675</td>
                    </tr>
                    <tr class="alert-info">
                        <td style="text-align: center; vertical-align: central">R4</td>
                        <td style="text-align: center; vertical-align: central">RV56</td>
                        <td style="text-align: center; vertical-align: central">145.700</td>
                    </tr>
                    <tr class="alert-info">
                        <td style="text-align: center; vertical-align: central">R5</td>
                        <td style="text-align: center; vertical-align: central">RV58</td>
                        <td style="text-align: center; vertical-align: central">145.725</td>
                    </tr>
                    <tr class="alert-info">
                        <td style="text-align: center; vertical-align: central">R6</td>
                        <td style="text-align: center; vertical-align: central">RV60</td>
                        <td style="text-align: center; vertical-align: central">145.750</td>
                    </tr>
                    <tr class="alert-info">
                        <td style="text-align: center; vertical-align: central">R7</td>
                        <td style="text-align: center; vertical-align: central">RV62</td>
                        <td style="text-align: center; vertical-align: central">145.775</td>
                    </tr>
                    <tr class="alert-danger">
                        <td style="text-align: center; vertical-align: central"></td>
                        <td style="text-align: center; vertical-align: central">V64</td>
                        <td style="text-align: center; vertical-align: central">145.800</td>
                        <td rowspan="8" style="text-align: center; vertical-align: central">Space communication</td>
                    </tr>
                </tbody>
            </table>
        </div>-->


    </div>
    <!--/row-fluid-->

</div>

