<div class="container">
    <div class="row">

        <div class="col-md-12">

            <h3>הרצאה בנושא אנטנות</h3>
            <p>
                <iframe width="640" height="472" src="https://www.youtube.com/embed/puNGL0Mtq9w" frameborder="0" allowfullscreen></iframe>
            </p>

            <h3>הרצאה בנושא DMR</h3>
            <p>
                <iframe width="640" height="472" src="https://www.youtube.com/embed/boz7LirLZUQ" frameborder="0" allowfullscreen></iframe>
            </p>

            <h3>Log4OM - סקירה של תוכנת הלוג</h3>
            <p>
                <iframe width="640" height="472" src="https://www.youtube.com/embed/YuDai8ckKOQ?ecver=2" frameborder="0" allowfullscreen></iframe>
            </p>

            <h3>מושגי יסוד במערכות קליטה</h3>
            <p>
                <iframe width="640" height="472" src="https://www.youtube.com/embed/NsjKNEAheLs" frameborder="0" allowfullscreen></iframe>
            </p>

            <h3>טל ברמן ערוץ 8 - חובבי רדיו וקשר חרום</h3>
            <p>
                <iframe width="640" height="472" src="//www.youtube.com/embed/tTqJT1dXYeU" frameborder="0" allowfullscreen></iframe>
            </p>

            <h3>הסבר על בקרי מקמ"ש תדר גבוה ואופן תפעולם</h3>
            <p>
                <iframe width="640" height="472" src="//www.youtube.com/embed/QxhKdN30feE" frameborder="0" allowfullscreen></iframe>
            </p>

            <h3> סיכום ההפעלה של מועדון 4Z4HC בתחרות ארץ הקודש</h3>
            <p>
                <iframe width="640" height="472" src="https://www.youtube.com/embed/yn4BTrmmHss" frameborder="0" allowfullscreen></iframe>
            </p>

            <h3>ההפעלה באו"ק 4X5J ממגדל דוד בירושלים</h3>
            <p>
                <iframe width="640" height="472" src="https://www.youtube.com/embed/rfUzpP_iFrs" frameborder="0" allowfullscreen></iframe>
            </p>

            <h3>חלום עליכם - בת קיבוץ בשם הילה שהופיעה אצל אמיר 4X6TT</h3>
            <p>
                <iframe width="640" height="472" src="https://www.youtube.com/embed/89FC62jYNQI" frameborder="0" allowfullscreen></iframe>
            </p>
            
            <h3>תחזוקה בממסר תל-אביב - 2001</h3>
            <p>
                <iframe width="640" height="472" src="https://www.youtube.com/embed/4d855g-Aq7Y" frameborder="0" allowfullscreen></iframe>
            </p>
            <h3>ניר 4X6FK ואבי 4X1PS בקשר ה ATV הראשון בישראל - 1991</h3>
            <p>
                <iframe width="640" height="472" src="https://www.youtube.com/embed/-9TXCH1i7eM" frameborder="0" allowfullscreen></iframe>
            </p>

            
        </div>
    </div>
</div>
