<div class="container">

    <div class="row-fluid privacy">

        <h4>למה חובבות רדיו?</h4>
        <p>
           כולנו משתמשים ברדיו כל הזמן: האזנה למוסיקה, טלפון סלולרי, אינטרנט אלחוטי, טלפון ביתי אלחוטי, שלט למכונית, טלוויזיה בלווין, טיסנים וכו'.
            יש אנשים שאוהבים את האתגרים: ליצור קשר אלחוטי עם מדינה רחוקה, או נדירה. לראות עד לאן אפשר להגיע עם עוצמות שידור נמוכות (כאלה שאפשר להשתמש בסוללה במשך יום שלם). לתקשר עם לווינים. לבנות לווינים. לשדר תמונות, או קול, או התכתבות דיגיטלית, או מורס.
            יש אנשים שפשוט מעניין אותם התחום. הם רוצים לדעת איך הדברים עובדים, הם רוצים לבנות משדרים ומקלטים. הם רוצים לשפר אנטנות. לפתור תקלות אצל חברים.
            יש אנשים שאוהבים תחרויות, ובחובבות רדיו יש הרבה תחרויות, ויש גם פרסים. יש גם את אלו שאוספים פרסים.
            יש אנשים שאוהבים לדבר עם אנשים אחרים מהארץ וממדינות אחרות (כמו דרך האינטרנט). הם יכולים לדבר שעות על גבי שעות וללא צורך לשלם חשבון טלפון.
            יש אנשים שרוצים להיות מוכנים לשעת חירום. כאשר הם יהיו באיזור ללא קליטה סללורית (באמצע טיול ג'יפים). כשכל שאר מערכות התקשורת לא יהיו זמינות, ציוד הרדיו של החובבים ממשיך לעבוד.
            יש אנשים שהגיעו לתחום מסיבה כזאת או אחרת, אבל נשארים בגלל שהחברים שהם הכירו דרך חובבות הרדיו היא חברות לחיים.
            זהו תחביב. עושים מה שמעניין. כמובן בהתאם לחוק, לתנאי הרשיון ולכללי הנימוס.
        </p>
        <hr />

        <!-- General Questions -->
            <h4>שאלות ותשובות למתעניין בחובבות הרדיו</h4>
            <div class="panel-group acc-v1 margin-bottom-40" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                מהי חובבות רדיו?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            חובבות הרדיו היא תחביב מדעי וחברתי היא מטפחת את הקשר החברתי בעולם, מקדמת את יכולותיו הטכנולוגיות של החובב ומשתתפת בסיוע לשירות הציבור והמדינה; אך תועלתה העיקרית היא בקידום הטכנולוגיה, על ידי ניסוי והפעלה של שיטות ואמצעים חדשים. חובבי הרדיו מתקשרים ביניהם במספר דרכים, ומניינם בעולם עומד על מיליונים.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                מדוע חובבות ולא מקצוענות?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            המילה "חובבות" אינה מתייחסת לכישוריהם או למיומנויות של האנשים העוסקים בה, אלא מצביעה על כך שנאסר על התקשורת שנעשית במסגרתה לשמש למטרה מסחרית, פוליטית או לשם השגת ממון.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                האם יש צורך ברישיון להחזיק ולתפעל תחנת רדיו חובבים בבית ו/או ברכב?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            כן, הרישיון ניתן על ידי משרד התקשורת. כדי לקבל רישיון להפעלת תחנת חובבים בישראל, יש למלא מספר תנאים שנקבעו על ידי מוסדות השלטון הנוגעים בדבר. המבקש צריך להיות בעל תעודת אזרחות בישראל , ולעמוד בבחינות של משרד התקשורת.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                האם הרישיון שמנפיק משרד התקשורת תקף רק בארץ?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            לא, רישיון שמנפיק משרד התקשורת תואם את החוקים הבינלאומיים של רישיונות חובבי הרדיו בעולם. מסיבה זו ניתן להפעיל עם הרישיון הישראלי ממספר רב של מדינות בעולם ללא בקשה מיוחדת.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                ברצוני להשיג רישיון לתחנת שידור חובבים ולהיות חובב רדיו, מה עלי לעשות?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            אם הידע שלך עונה על דרישות הסילבוס של משרד התקשורת, אז באפשרותך לפנות למשרד בבקשה להיבחן לרמת הרישיון הרצויה לך. אגודת חובבי הרדיו עוזרת ומדריכה כל מי שמעוניין בכך. כדאי לפנות אל האגודה לקבלת הדרכה בנושא.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                מהם סוגי הרישיונות שמנפיק משרד התקשורת?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">
                            קיימים מספר דרגות לרישיון חובב רדיו, רישיון לדרגת מתחילים (דרגה ג') רישיון לדרגת מתקדמים (דרגה ב') ורישיון לדרגה הגבוהה ביותר, דרגה א'.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                                מה ההבדל בין הרישיונות השונים?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse">
                        <div class="panel-body">
                            דרגת הרישיון קובעת את הספק השידור המרבי של התחנה ואת תחום התדרים שבה מורשה החובב להפעיל את תחנתו.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse8">
                                מהם סוגי הפעילויות של חובבי הרדיו?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse8" class="panel-collapse collapse">
                        <div class="panel-body">
                            סוגי הפעילות של חובב רדיו נובעים מתוך שלוש מטרותיו העיקריות של התחביב: טיפוח הקשר החברתי, הקידום הטכני והעמידה לשירות הציבור והמדינה. בפעילותו, מקיים חובב הרדיו קשרים עם חובבים מכל העולם בזמנו החופשי ומשתתף בתחרויות עולמיות. הפעילות מתקיימת מתחנת הרדיו הפרטית שבביתו של החובב או מתחנה נייחת שהחובב מקים בפעילות שדה או בתחנה ניידת מהרכב.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse9">
                                מהם הנושאים עליהם עלי להיבחן במבחני משרד התקשורת? 
                            </a>
                        </h4>
                    </div>
                    <div id="collapse9" class="panel-collapse collapse">
                        <div class="panel-body">
                            על המועמד להוכיח ידיעות בנושאים הבאים: יסודות תורת החשמל, יסודות האלקטרוניקה והכרת נוהלי הקמת קשר.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse10">
                                האם מתקיימים קורסים בהם ניתן ללמוד את החומר הדרוש לבחינה?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse10" class="panel-collapse collapse">
                        <div class="panel-body">
                            אגודת חובבי הרדיו בישראל IARC עורכת קורסים לדרגות השונות. חלקם קורסים פרונטאליים אך קיימים גם קורסים מתוקשבים באתר אינטרנט מיוחד שהוקם לצורך כך.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse11">
                                מהו קורס מתוקשב?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse11" class="panel-collapse collapse">
                        <div class="panel-body">
                            בקורס המתוקשב מקבל החניך מטלות שעליו למלא בזמנו החופשי. לחניך מנחה שהוא יכול להתייעץ אתו על נושאים שמתעוררים במהלך הלימודים. ברוב המקרים נערכים גם מספר מפגשים פרונטאליים לפני המבחנים של משרד התקשורת.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse12">
                                מהי "אגודת חובבי הרדיו בישראל"?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse12" class="panel-collapse collapse">
                        <div class="panel-body">
                            האגודה הינה אגודה רשומה אצל רשם העמותות, היא מאגדת את חובבי הרדיו ומטרתה לקדם את חובבי הרדיו בישראל.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse13">
                                מהם השירותים שניתן לקבל מהאגודה?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse13" class="panel-collapse collapse">
                        <div class="panel-body">
                            קשה למנות את כל השירותים נזכיר מספר מהם: ביטאון "הגל" שיוצא לאור כדו-ירחון, שימוש בממסרי רדיו, משלוח כרטיסי הקשר הפרטיים (QSL) לכל מדינות העולם, הרצאות, ימי שדה, קורסים ועוד.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse14">
                                ברצוני לקרא עוד על חובבות הרדיו
                            </a>
                        </h4>
                    </div>
                    <div id="collapse14" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <!--<li>ספר 60 שנה לאגודת חובבי הרדיו בישראל,  <a href="http://www.4z1pf.net/60year-book/index.html" target="_blank">לקריאה OnLine</a> <a href="http://www.4z1pf.net/articles/book-60-years.pdf" target="_blank">ולהורדה</a></li>
                                <li><a href="http://www.4z1pf.net/articles/hams-in-israel.pdf" target="_blank">חוברת הסבר על חובבות הרדיו</a></li>
                                <li><a href="http://www.4z1pf.net/articles/license.pdf" target="_blank">תנאי רישיון חובב רדיו</a></li>
                                <li><a href="http://www.4z1pf.net/articles/transistor-operation.pdf" target="_blank">חובבי רדיו בחירום</a></li>
                                <li><a href="#HagalArchive">ביטאוני "הגל"</a></li>
                                <li><a href="http://he.wikipedia.org/wiki/%D7%97%D7%95%D7%91%D7%91%D7%95%D7%AA_%D7%A8%D7%93%D7%99%D7%95" target="_blank">בוויקיפדיה</a></li>-->
                                <li><a href="././Content/docs/faq/book-60-years.pdf" target="_blank">ספר 60 שנה לאגודת חובבי הרדיו בישראל</a></li>
                                <li><a href="././Content/docs/faq/hams-in-israel.pdf" target="_blank">חוברת הסבר על חובבות הרדיו</a></li>
                                <li><a href="././Content/docs/faq/license.pdf" target="_blank">תנאי רישיון חובב רדיו</a></li>
                                <li><a href="././Content/docs/faq/transistor-operation.pdf" target="_blank">חובבי רדיו בחירום</a></li>
                                <li><a href="#HagalArchive">ביטאוני "הגל"</a></li>
                                <li><a href="http://he.wikipedia.org/wiki/%D7%97%D7%95%D7%91%D7%91%D7%95%D7%AA_%D7%A8%D7%93%D7%99%D7%95" target="_blank">בוויקיפדיה</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse15">
                                יש לי שאלות נוספות, למי עלי לפנות?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse15" class="panel-collapse collapse">
                        <div class="panel-body">
                            הפנה את שאלותיך לכתובת המייל <a href="mailto:info@iarc.org">info@iarc.org</a> או דרך אתר האגודה.
                        </div>
                    </div>
                </div>

            </div><!--/acc-v1-->
            <!-- End General Questions -->
        <hr />
        <h4>למה לא להשתמש באינטרנט?</h4>
        <p>
            אפשר להשתמש גם באינטרנט. כמו שהרדיו והטלוויזה מתקיימים זה לצד זה, הטלפונים הסלולרים והקווים פועלים יחד, וכמו שקיימות גם אוניברסיטות וגם מכללות. כך גם חובבות הרדיו והאינטרנט משלימות זו את זו. השלם גדול מסכום חלקיו.
            חובבי רדיו רבים מעבירים היום הודעות באמצעות דוא"ל ובודקים מידע על תחרויות באתרים יעודיים. אתר זה הינו דוגמה נוספת לסינרגיה בין שתי שיטות תקשורת אלו.
            בתחילת העמוד מתוארות הרבה סיבות עבור חובבות הרדיו. חלקן, אך לא את כולן ניתן להשיג גם באמצעות האינטרנט.
        </p>
    </div>
    <!--/row-fluid-->

</div>

