<div class="container">
    <div class="sorting-block">
        <ul class="sorting-nav sorting-nav-v1 text-center">
        </ul>
        <ul class="row sorting-grid">
            <li class="col-md-4 col-sm-6 col-xs-12">
                <a href="#Freq">
                    <img class="img-responsive" src="assets/img/main/bandplan.jpg" alt="">
                    <span class="sorting-cover">
                        <span>תדרים</span>

                    </span>
                </a>
            </li>
            <li class="col-md-4 col-sm-6 col-xs-12">
                <a href="#Regulations">
                    <img class="img-responsive" src="assets/img/main/regulations.jpg" alt="">
                    <span class="sorting-cover">
                        <span>חוקים ותקנות</span>

                    </span>
                </a>
            </li>
            <li class="col-md-4 col-sm-6 col-xs-12">
                <a href="#Ham">
                    <img class="img-responsive" src="assets/img/main/ham.jpg" alt="">
                    <span class="sorting-cover">
                        <span>חובבות רדיו</span>
                        <!--<p>Anim pariatur cliche reprehenderit</p>-->
                    </span>
                </a>
            </li>
        </ul>
        <ul class="row sorting-grid">
            <li class="col-md-4 col-sm-6 col-xs-12">
                <a href="#DXpeditions">
                    <img class="img-responsive" src="assets/img/main/expeditions.jpg" alt="">
                    <span class="sorting-cover">
                        <span>משלחות</span>

                    </span>
                </a>
            </li>
            <li class="col-md-4 col-sm-6 col-xs-12">
                <a href="#Holyland">
                    <img class="img-responsive" src="assets/img/main/holyland.jpg" alt="">
                    <span class="sorting-cover">
                        <span>תחרות ארץ הקודש</span>

                    </span>
                </a>
            </li>
            <li class="col-md-4 col-sm-6 col-xs-12">
                <a href="#Emergency">
                    <img class="img-responsive" src="assets/img/main/emergency.jpg" alt="">
                    <span class="sorting-cover">
                        <span>חובבי רדיו בחירום</span>

                    </span>
                </a>
            </li>

        </ul>
        <ul class="row sorting-grid">
            <li class="col-md-4 col-sm-6 col-xs-12"></li>
            <li class="col-md-4 col-sm-6 col-xs-12"></li>
            
        </ul>
    </div>
</div>
