<div class="container">
    <div class="row">
        <div class="col-md-5">
            <img class="img-responsive" src="assets/img/pages/holyland/holyland.jpg" alt="">
        </div>
        <div class="col-md-7">
            <h3>תחרות ארץ הקודש</h3>
            <p>
                כמו בעולם כך גם בישראל, תחביב הרדיו הוא גם ספורט לכל דבר, וחובבי הרדיו מקיימים תחרויות תקשורת שונות בינם לבין עצמם. מטרותיהן בד"כ מתכנסות למכנה משותף של השגת מירב קשרים למקומות הנידחים והמרוחקים ביותר בזמן קצוב, ולזוכים מוענקים פרסי תעודות, גביעים ומדליות. העיקר הוא שלא משנה ספורט או תחביב - אם אתה לא שם אינך קיים, ומכאן גם לישראל יש תוצר רדיו-ספורטיבי כחול-לבן ששמו – איך לא: תחרות "ארץ הקודש".
            </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <h4>לערבב קודש בחול</h4>
            <p>
                לא סוד הוא שהעולם הנוצרי (ולא רק) נדרך ומתמלא קשב לשמע הצירוף "ארץ-הקודש". מסתבר שחובבי רדיו בעולם שאוספים גלויות או בולים מארצות עימן שוחחו, שמחים היו ל"אסוף" גם משהו שקשור לתחביב הרדיו ולארץ הקודש. אגודת חובבי הרדיו בישראל (ע"ר) נענתה לאתגר ויזמה פעילות שכזו, בדרך מקורית המשלבת שיגרה ותחרותיות. פעילות זו מעודדת את הקשר בין חובבי הרדיו בעולם לחובבי ישראל ומספקת אתגרים והנאה למשתתפים בה.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <img class="img-responsive" src="assets/img/pages/holyland/holyland-mobile.jpg" alt="">
        </div>
        <div class="col-md-7">
            <p>
                ביצוע שידורי תחנות רדיו-חובבים ניידות ממקומות שונים בארץ, במסגרת מה שמכונה "הפעלות ארץ הקודש" היא אחת מפעילויות ספורט הרדיו של חובבי הרדיו בישראל, ומתבצעת רצוף על פני כל השנה.<br />
                שיאה הוא בחוה"מ פסח בעת קיום תחרות ה"הולילנד" השנתית. בתחרות משתתפים אלפי חובבים מהארץ ומהעולם, וההשתתפות בה עולה משנה לשנה.<br />
                לחובבי הרדיו בישראל יש רישיון רשמי ממדינת ישראל לשדר מביתם, מרכבם ובעצם מכל מקום שיעלו על דעתם. החובבים מתקשרים בדרכים מגוונות החל בקוד המורס הוותיק, דרך אלחוט הדיבור המוכר או הטלפרינטר לסוגיו, וכלה בשיטות דיגיטאליות מתקדמות שלא היו מביישות חלק ניכר מענקי והתקשורת העולמיים.
            </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="assets/img/pages/holyland/holyland-squares.jpg" alt="">
        </div>
        <div class="col-md-8">
            <h4>מדי שנה בחוה"מ פסח אוספים פיסות מא"י...</h4>
            <p>
                ישראל חולקה ל 23 גזרות גיאוגרפיות בעלות סימן היכר מיוחד, ובתוכן תת-אזורים ("ריבועים"). כל חובב ישראלי יודע לשייך את מיקום תחנתו לריבוע כזה, ובכל קשר מוסרת התחנה הישראלית גם את קוד הריבוע לתחנה שמנגד. נבנתה הגדרה של כמה ואילו ריבועים וכמה נקודות "מזכים" באיזה הישג ובאיזו הכרה, ועוצבה תעודה מרשימה הנמסרת למי שמוכיח למנהל הפעילות מטעם אגודת חובבי הרדיו שעמד בקריטריון הנדרש (The Holy land Award).
            </p>
            <p>
                כך ומזה למעלה מ 15 שנים, אוספים חובבי הרדיו בארץ ועולם "פיסות" של א"י, מקבלים תעודות מרשימות לתחנתם ושומרים על קשר חברי עם ישראל “לך תדע” - הם יאמרו לך – “מתי יצוץ הריבוע הנכסף הבא”?.
            </p>
            <p>
                כדי לעודד הן את ההפעלה הישראלית והן את הביקוש ל"ריבועים נדירים" (כאילו שאין בהם יישוב קבע של חובבים או שהגישה קשה וכד'), וכדי לאפשר למתעניינים חדשים להשיג הרבה ריבועים בזמן קצר, נולדה "תחרות ארץ הקודש" בת 24 השעות. במסגרתה יוצאים חלק מהחובבים לשטח, חמושים ברכב מזווד לקשר או מקימים מאהל עם תחנת רדיו, מרימים את האנטנות ומשדרים מריבועים שונים במשך התחרות. בד"כ מתלוות המשפחות לפיקניק משובח בצד ולטיול מעניין באזור, כך שיצאו כולם נשכרים.
            </p>
            <p>
                במדינה 23 אזורים מנהלתיים בעלי כינוי המרמז על מיקומם (TA לאזור תל-אביב, HG לגולן וכד'), ובתוכם ריבועי ארץ הקודש בגודל 10x10 ק"מ. הספרור מצפון לדרום במספרים וממזרח למערב באותיות. כך הריבוע F-13-TA מציין 100 קמ"ר מסוימים באזור תל-אביב, והריבוע F-13-PT מציין 100 קמ"ר באזור פ"ת.
            </p>
            <hr />
            <h4>"אספנות רדיו"</h4>
            <p>
                מקובל בקרב חובבי רדיו בעולם, לאסוף למשל גלויות מהמדינות עימם התקשרו ("אישורי-קשר"), להציגן לראווה בקיר התחנה ואפילו לקבל בגינן הכרה בינ"ל – כ"א לפי כמות המדינות עימן יצר קשר. בהרבה ממדינות העולם יש מסגרות איסוף נוספות, למשל שידור ממוזיאונים, מגדלורים, איים, מטירות ומבצרים וכד'. אוסף פריטים שכאילו (ממשיים או נקודות) כאילו מזכה את החובב בפרסים ותעודות וכד'.
            </p>
            <p>
                איסוף ריבועי "ארץ-קדושה" הן בשוטף והן בתחרות צובר תאוצה משנה לשנה וכמות המשתתפים הזרים בתחרות הינה מאות רבות. כל קשר בתחרות מזכה בנקודות לשני הצדדים, והזוכים בקטגוריות השונות מתפרסמים בארץ ובעולם הן בביטאון האגודה והן באינטרנט.
            </p>
        </div>
    </div>
    <p>*העמוד נכתב במקור ע"י צחי 4Z1TL</p>
</div>
