<div class="container">

    <div class="row-fluid privacy">

        <h4>תהליך יבוא ציוד תקשורת לחובבי רדיו</h4>
        <p>
            במסמך זה נסקור את הפעולות השונות שעליך לבצע על מנת לרכוש בחו"ל מכשיר הדורש אישור יבוא ולשחרר אותו מהמכס בארץ.
        </p>
        <hr />
        <p>
            כידוע ישנן בחו"ל חנויות רבות המוכרות ציוד לחובבי רדיו אשר ניתן לרכוש בהן את הציוד דרך האינטרנט.
        </p>
        <p>נביא כאן דוגמאות לכמה חנויות וזאת מבלי שבכוונתנו לבצע כאן פרסום או המלצה</p>
        <ul>
            <li><a href="http://www.aesham.com/" target="_blank">www.aesham.com</a></li>
            <li><a href="http://www.gigaparts.com/" target="_blank">www.gigaparts.com</a></li>
            <li><a href="http://www.hamradio.com/" target="_blank">www.hamradio.com</a></li>
            <li><a href="http://www.randl.com/shop/catalog/" target="_blank">www.randl.com/shop/catalog</a></li>
            <li><a href="http://www.universal-radio.com/" target="_blank">www.universal-radio.com</a></li>
            <li><a href="https://www.wimo.com/main_e.html" target="_blank">www.wimo.com/main_e.html</a></li>
        </ul>

        <p>באופן עקרוני, המכס לא מאפשר לאזרח להביא ציוד תקשורת לשידור וקליטה במידה ואין לו אישור יבוא.
         את אישור היבוא ניתן לקבל ממשרד התקשורת.<br />
         משרד התקשורת ייתן לאזרח לייבא משדר/מקלט לתחומי חובבי הרדיו במידה ומתקיימים שני תנאים:</p>
        <ol>
            <li>האזרח הינו חובב רדיו ברישיון משרד התקשורת.</li>
            <li>הציוד שהוא מביא מוגדר על פי המפרט הטכני שלו כציוד לחובבי רדיו.</li>
        </ol>

        <p>סדר הפעולות המומלץ לצורך ביצוע תהליך הקניה, קבלת האישור, היבוא והשחרור מהמכס הוא כלהלן:</p>
        <ol>
            <li>בחר את המכשיר שברצונך לקנות לאחר שבדקת והגעת למסקנה כי הוא מתאים לך.</li>
            <li>הורד מהאינטרנט את המפרט הטכני של המכשיר. הדבר הכרחי בכדי שתוכל לשלוח אותו למשרד התקשורת.</li>
            <li>קבל מהאתר של החנות הצעת מחיר ושמור אותה כקובץ במחשב שלך.</li>
            <li>
                את הבקשה לשחרור המכשיר שלך מהמכס אתה אמור להגיש דרך אתר משרד התקשורת. הקישור לעמוד שממנו יש להתחיל הוא הקישור הבא:
                <a href="https://www.gov.il/he/service/approval_of_wireless_equipment_imported" target="_blank">https://www.gov.il/he/service/approval_of_wireless_equipment_imported</a><br />
            </li>
            <li>בחלקו התחתון של דף זה ישנו קישור לקובץ בשם:<br />
                נספח ו' –בקשה לשחרור חד פעמי מהמכס...<br />
                שאת/ה צריכ/ה ממנו רק את דף מספר 2 שכותרתו:<br />
                "הצהרה בדבר החובה לקבל אישור מקמ"ט תקשורת...."<br />
                עליך למלא את הדף הזה  בלבד, לסרוק אותו ולשמור אותו במחשב להמשך התהליך.<br />
            </li>
            <li>
                כעת עליך ללחוץ על לחצן הנראה כך<br />
                <img class="img-responsive" src="assets/img/pages/import/btn1.png" alt="">
                הדף שתגיע אליו יראה כך:<br />
                <img class="img-responsive" src="assets/img/pages/import/import_page.png" alt="">
                זהו הדף הראשון מבין שישה דפים בהם תעבור.<br />
                בדף מס 1 יש לבחור כפי שניתן לראות בדוגמא למעלה:<br />
                יבואן פרטי, אישור מיוחד, יבוא אישי<br />
                בדף מס 2 יש למלא את כל הפרטים כולל כתובת הדואר האלקטרוני שלך (שאליו ישלח לך מידע על סטטוס הבקשה שלך)<br />
                בדף מספר 3 יש למלא את פרטי הציוד. יש למלא שדה פרט מכס על פי ההסבר המופיע תחת סימן השאלה שלידו.<br />
                יש להתעלם משדה "קוד הנחה"<br />
                בשדה תחום תדרים יש לבחור אופציה "תדרי חובבי רדיו"<br />
                את שאר השדות יש למלא על פי המידע שיש בידך על המכשיר שקנית.<br />
                בדף מספר 4 יש לצרף את המסמכים הסרוקים והם: המפרט הטכני של המכשיר, הצהרה בדבר החובה לקבל אישוק מקמ"ט (הכנת אותה בסעיף 4 של מסמך זה), חשבונית, שטר מטען (ההודעה שתקבל מהמכס מספקת)<br />
                בדף מספר 5 סמן בהתאם<br />
                בדף מספר 6 יש למלא בהתאם ואז ללחוץ על לחץ שלח<br />
                המערכת תעבד את המידע ששלחת ותשלח אליך מייל המאשר קבלת הפניה וכן מספר בן 5 ספרות. מספר זה הינו "מספר מסלול"<br />
            </li>
            <li>יש לשלוח מייל ובו מספר המסלול אל מיכאל לופט או אל מארק שטרן להמשך טיפול<br />
            מיכאל לופט <a href="mailto:michaell@moc.gov.il">michaell@moc.gov.il</a> 03-5198296    
            מארק שטרן <a href="mailto:sternm@moc.gov.il">sternm@moc.gov.il</a> 03-5198173
            </li>
            <li>לאחר שהמידע ששלחת ייבדק, תקבל במייל תוך כמה ימים אישר יבוא. אישור זה בנוסף למסמכים אותם תתבקש על ידי המכס לספק, הם המסמכים שיאפשרו לך לקבל לידך את המכשיר.</li>
        </ol>
        <p>
            בילוי נעים<br />
            רשם: דני קצמן 4Z5SL
        </p>
    </div>
    <!--/row-fluid-->

</div>