<div class="container">

    <div class="row-fluid privacy">

        <h4>תהליך יבוא ציוד תקשורת לחובבי רדיו</h4>
        <p>
            במסמך זה נסקור את הפעולות השונות שעליך לבצע על מנת לרכוש בחו"ל מכשיר הדורש אישור יבוא ולשחרר אותו מהמכס בארץ.
        </p>
        <hr />
        <p>
            כידוע ישנן בחו"ל חנויות רבות המוכרות ציוד לחובבי רדיו אשר ניתן לרכוש בהן את הציוד דרך האינטרנט.
        </p>
        <p>נביא כאן דוגמאות לכמה חנויות וזאת מבלי שבכוונתנו לבצע כאן פרסום או המלצה</p>
        <ul>
            <li><a href="http://www.aesham.com/" target="_blank">www.aesham.com</a></li>
            <li><a href="http://www.gigaparts.com/" target="_blank">www.gigaparts.com</a></li>
            <li><a href="http://www.hamradio.com/" target="_blank">www.hamradio.com</a></li>
            <li><a href="http://www.randl.com/shop/catalog/" target="_blank">www.randl.com/shop/catalog</a></li>
            <li><a href="http://www.universal-radio.com/" target="_blank">www.universal-radio.com</a></li>
            <li><a href="https://www.wimo.com/main_e.html" target="_blank">www.wimo.com/main_e.html</a></li>
        </ul>

        <p>באופן עקרוני, המכס לא מאפשר לאזרח להביא ציוד תקשורת לשידור וקליטה במידה ואין לו אישור יבוא.
         את אישור היבוא ניתן לקבל ממשרד התקשורת.<br />
         משרד התקשורת ייתן לאזרח לייבא משדר/מקלט לתחומי חובבי הרדיו במידה ומתקיימים שני תנאים:</p>
        <ol>
            <li>האזרח הינו חובב רדיו ברישיון משרד התקשורת.</li>
            <li>הציוד שהוא מביא מוגדר על פי המפרט הטכני שלו כציוד לחובבי רדיו.</li>
        </ol>

        <p>סדר הפעולות המומלץ לצורך ביצוע תהליך הקניה, קבלת האישור, היבוא והשחרור מהמכס הוא כלהלן:</p>
        <ol>
            <li>בחר את המכשיר שברצונך לקנות לאחר שבדקת והגעת למסקנה כי הוא מתאים לך.</li>
            <li>הורד מהאינטרנט את המפרט הטכני של המכשיר. הדבר הכרחי בכדי שתוכל לשלוח אותו למשרד התקשורת.</li>
            <li>קבל מהאתר של החנות הצעת מחיר ושמור אותה כקובץ במחשב שלך.</li>
            <li>
                הורד מאתר משרד התקשורת טופס בשם: "בקשה לשחרור חד פעמי מהמכס של מכשיר".<br />
                הטופס נמצא בכתובת הזו:<br />
                <a href="http://www.moc.gov.il/sip_storage/FILES/6/186.pdf" target="_blank">www.moc.gov.il/sip_storage/FILES/6/186.pdf</a><br />
                ניתן להוריד את הקובץ כקובץ word  מהכתובת הזו:<br />
                <a href="http://www.moc.gov.il/sip_storage/FILES/2/1772.doc" target="_blank">www.moc.gov.il/sip_storage/FILES/2/1772.doc</a>
            </li>
            <li>מלא את הטופס על פי השדות המופיעים בו. סעיפים הכרחיים למילוי הם 1,3,4,5,7  ושמור אותו כקובץ במחשב שלך (pdf או word)</li>
            <li>הכן מייל  שמצורפים אליו שלושת הקבצים, הצעת המחיר, המפרט הטכני וטופס הבקשה לשחרור. במידה ולא תשלח את שלושת הטפסים, תהליך האישור עבורך לא יבוצע.</li>
            <li>את המייל יש לשלוח למר מיכאל לופט במשרד התקשורת לפי כתובת המייל: <a href="mailto:michaelL@moc.gov.il">michaell@moc.gov.il</a></li>
            <li>
                מספר הטלפון והפקס של מיכאל במשרד הוא:<br />
                טל: 5198296 03<br />
                פקס: 5198103 03<br />
                פקס: 5107570 03<br />
            </li>
            <li>לאחר שהמידע ששלחת ייבדק, תקבל במייל תוך כמה ימים (בדרך כלל יומיים שלושה) אישר יבוא. זה מבחינתך הרגע שבו כדאי לך לבצע את הקניה.</li>
            <li>כאשר המכשיר יגיע לארץ, תתבקש מהמכס לספק את האישור שקבלת  בנוסף לתשלום על פי חישוב שהמכס יבצע. בדרך כלל מדובר במע"מ ועלות טיפול בהליך השחרור.</li>
        </ol>
        <p>
            נרשם ע"י דני 4Z5SL
        </p>
    </div>
    <!--/row-fluid-->

</div>