<div class="container">
    <div class="row-fluid privacy">
        <h4>חברות באגודה</h4>
        <p>
            רשאי להיות חבר אגודה כל חובב רדיו מעל גיל 17 המגיש בקשה להתקבל לאגודה.
            בנוסף, ועדת חברים יכולה לאשר קבלה לאגודה במעמד של ידיד אגודה. ידיד אגודה יכול להיות מי שלא מלאו לו 17 שנה, או שאינו אזרח מדינת ישראל, או מועדון חובבי רדיו, או תאגיד. לידידי האגודה רוב הזכויות של חברי האגודה, למעט הזכות לבחור ולהיבחר למוסדות האגודה.<br />

            לצטרפות לאגודה או להרשמה לקורס, יש לעבור <a href="https://courses.iarc.org/" target="_blank">לאתר הקורסים</a> ולמלא את טופס ההרשמה בתחתית העמוד
        </p>
        <ul>
            <li><a href="././Content/docs/IARC_Policy_2008.pdf" target="_blank">תקנון האגודה</a></li>
        </ul>
        <hr />
        <h4>דמי חבר עבור תושבי ישראל</h4>
        <label>דמי החבר ישמשו למימון שירותי האגודה אשר ניתנים לחבריה.</label>
        <label>דמי החבר נגבים על בסיס קלנדארי [ המסתיימת בכל 31.12 ] ולתשלומם בתחילת כל שנת פעילות חשיבות מכרעת לצורך תכנון תקציב הפעילות השנתית.</label>

        <ul>
            <li>250 ש"ח לאדם לחידוש חברות עד 28.2 לשנה הקלנדארית (המסתיימת ב- 31.12 )</li>
            <li>300 ₪ החל מ 1.3  לשנת הפעילות המסתיימת ב 31.12.</li>
        </ul>
        <p>תחנות מועדון ומשפחות:</p>
        <ul>
            <li>300  ש"ח למועדונים ולמשפחות באותה כתובת לחידוש חברות עד 28.2 לשנה הקלנדארית (המסתיימת ב 31.12 )</li>
            <li>350 ₪ החל מ 1.3  לשנת הפעילות המסתיימת ב 31.12</li>
        </ul>
        <p>נוער וחיילים:</p>
        <ul>
            <li>150 ש"ח עבור נוער וחיילים לחידוש חברות עד 28.2 לשנה הקלנדארית (המסתיימת ב 31.12 ) </li>
            <li>200 ₪ החל מ 1.3  לשנת הפעילות המסתיימת ב 31.12</li>
        </ul>

        <p>חובבים חדשים שיצטרפו לאגודה החל מיום 1.10 לשנת הפעילות הקלנדארית (המסתיימת ב 31.12 )  יזכו לחברות מלאה גם לשנת הפעילות הקלנדארית העוקבת במסגרת התשלום שנעשה.</p>

        <label>ניתן לשלם את דמי החבר במספר אופנים:</label>
        <ol>
            <li>
                בכרטיס אשראי יש להשתמש בקישור הבא:  <a href="https://courses.iarc.org/product/%D7%AA%D7%A9%D7%9C%D7%95%D7%9D-%D7%93%D7%9E%D7%99-%D7%97%D7%91%D7%A8/" target="_blank">דף תשלום דמי חבר</a>
            </li>
            <li>
                לתשלום באפליקציה PAYBOX : יש להשתמש בקישור הבא:<br />
                <a href="https://payboxapp.page.link/NfSJCpuQZf6VELdM8" target="_blank">https://payboxapp.page.link/NfSJCpuQZf6VELdM8</a><br />
                יש לשלם כאורח - לא צריך להתקין אפליקציה!<br />
                למלא את הפרטים הנדרשים כולל אות קריאה
            </li>
            <li>פנים אל פנים עם הגזבר בפגישה במשרדי האגודה: רחוב אלפרט 3 יהוד, או במפגש שהאגודה מקיימת מפעם לפעם.</li>
            <li>המחאה בדואר (לא בדואר רשום) אל משרדי האגודה לכתובת:    אגודת חובבי הרדיו בישראל (ע"ר) ת.ד. 17600 תל אביב מיקוד 6117501<br />יש להקפיד לרשום על גב ההמחאה את אות הקריאה של החובב!</li>
            <li>
                העברה בנקאית אל חשבון האגודה:<br />
                במידה ובחרתם בהעברה בנקאית יש להקפיד לרשום בפרטים גם את אות הקריאה של החובב על מנת להקל על ניהול הרישום והקישור בין הסכום שהועבר לבין החובב המשלם.<br />
                <div class="tag-box tag-box-v2">
                    פרטי החשבון:<br />
                    אגודת חובבי הרדיו בישראל,<br />
                    בנק לאומי (10),<br />
                    מס' חשבון 02986919,<br />
                    סניף תל גנים 988,<br />
                    גבעתיים, ישראל.<br />
                    (IBAN) מספר זה"ב:<br />
                    IL50 0109 8800 0000 2986 919
                </div>
            </li>
        </ol>
        <hr />
        <h4>דמי חבר עבור תושבי חוץ</h4>
        <p>
            דמי חבר עבור תושבים זרים: 100 דולר ארה"ב לשלוש שנים
        </p>
    </div>
    <!--/row-fluid-->
</div>
