<div class="container">
    <div class="row-fluid privacy">
        <h4>חברות באגודה</h4>
        <p>
            רשאי להיות חבר אגודה כל חובב רדיו מעל גיל 17 המגיש בקשה להתקבל לאגודה.
            בנוסף, ועדת חברים יכולה לאשר קבלה לאגודה במעמד של ידיד אגודה. ידיד אגודה יכול להיות מי שלא מלאו לו 17 שנה, או שאינו אזרח מדינת ישראל, או מועדון חובבי רדיו, או תאגיד. לידידי האגודה רוב הזכויות של חברי האגודה, למעט הזכות לבחור ולהיבחר למוסדות האגודה.
            ע"מ להרשם לאגודה, צור קשר <a href="#Contact">כאן</a>, או בדוא"ל <a href="mailto:membership@iarc.org">membership@iarc.org</a> או באמצעות <a href="#Register" target="_blank">טופס ההצטרפות</a>.<br />
            החברות באגודה מתוארת ומוגדרת בתקנון האגודה.
        </p>
        <ul>
            <li><a href="././Content/docs/IARC_Policy_2008.pdf" target="_blank">תקנון האגודה</a></li>
        </ul>
        <hr />
        <h4>דמי חבר עבור תושבי ישראל</h4>
        <label>דמי החבר ישמשו למימון שירותי האגודה אשר ניתנים לחבריה.</label>
        <p>דמי החבר עבור תושבי ישראל הינם:</p>
        <ul>
            <li>250 ש"ח לאדם</li>
            <li>300 ש"ח עבור משפחות ותחנות מועדון</li>
            <li>150 ש"ח עבור נוער וחיילים</li>
        </ul>
        <!--<p>תשלום דמי החבר יכול להתבצע פנים-מול-פנים (ע"י הגעה למשרדי האגודה, או ע"י פגישת הגזבר), באמצעות דואר (ע"י שליחת המחאה) או ע"י הפקדה לחשבון.</p>-->
        <label>ניתן לשלם את דמי החבר במספר אופנים:</label>
        <ol>
            <li>פנים אל פנים עם הגזבר בפגישה במשרדי האגודה: רחוב אלפרט 3 יהוד, או במפגש שהאגודה מקיימת מפעם לפעם.</li>
            <li>המחאה בדואר אל משרדי האגודה לכתובת:    אגודת חובבי הרדיו בישראל (ע"ר) ת.ד. 17600 תל אביב מיקוד 6117501</li>
            <li>
                בנקאית אל חשבון האגודה:
                <div class="tag-box tag-box-v2">
                    פרטי החשבון:<br />
                    אגודת חובבי הרדיו בישראל,<br />
                    בנק לאומי,<br />
                    מס' חשבון 58818872,<br />
                    סניף איינשטיין 833,<br />
                    רמת אביב, ת"א.
                </div>
            </li>
        </ol>
        במידה ובחרת בדרך זו (העברה בנקאית) אנא שלח מייל אל הגזבר treasurer@iarc.org וצרף צילום אישור ההעברה על מנת להקל על הגזבר את
        ניהול הרישום והקישור בין הסכום שהועבר לבין החובב המשלם.
        <hr />
        <h4>דמי חבר עבור תושבי חוץ</h4>
        <p>
            דמי חבר עבור תושבים זרים הינם כרגע 30 דולר ארה"ב לשנה.
        </p>
    </div>
    <!--/row-fluid-->
</div>
