<div class="container">
    <div class="row-fluid privacy">
        <h4>חברות באגודה</h4>
        <p>
            רשאי להיות חבר אגודה כל חובב רדיו מעל גיל 17 המגיש בקשה להתקבל לאגודה.
            בנוסף, ועדת חברים יכולה לאשר קבלה לאגודה במעמד של ידיד אגודה. ידיד אגודה יכול להיות מי שלא מלאו לו 17 שנה, או שאינו אזרח מדינת ישראל, או מועדון חובבי רדיו, או תאגיד. לידידי האגודה רוב הזכויות של חברי האגודה, למעט הזכות לבחור ולהיבחר למוסדות האגודה.<br />

            לצטרפות לאגודה או להרשמה לקורס, יש לעבור <a href="https://courses.iarc.org/" target="_blank">לאתר הקורסים</a> ולמלא את טופס ההרשמה בתחתית העמוד
        </p>
        <ul>
            <li><a href="././Content/docs/IARC_Policy_2023.pdf" target="_blank">תקנון האגודה</a></li>
        </ul>
        <hr />
        <h4>דמי חבר עבור תושבי ישראל</h4>
        <label>דמי החבר ישמשו למימון שירותי האגודה אשר ניתנים לחבריה.</label>
        <label>דמי החבר נגבים על בסיס קלנדארי [ המסתיימת בכל 31.12 ] ולתשלומם בתחילת כל שנת פעילות חשיבות מכרעת לצורך תכנון תקציב הפעילות השנתית.</label>

        <ul>
            <li>250 ש"ח לאדם לחידוש חברות עד 28.2 לשנה הקלנדארית (המסתיימת ב- 31.12 )</li>
            <li>300 ₪ החל מ 1.3  לשנת הפעילות המסתיימת ב 31.12.</li>
        </ul>
        <p>תחנות מועדון ומשפחות:</p>
        <ul>
            <li>300  ש"ח למועדונים ולמשפחות באותה כתובת לחידוש חברות עד 28.2 לשנה הקלנדארית (המסתיימת ב 31.12 )</li>
            <li>350 ₪ החל מ 1.3  לשנת הפעילות המסתיימת ב 31.12</li>
        </ul>
        <p>נוער וחיילים:</p>
        <ul>
            <li>150 ש"ח עבור נוער וחיילים לחידוש חברות עד 28.2 לשנה הקלנדארית (המסתיימת ב 31.12 ) </li>
            <li>200 ₪ החל מ 1.3  לשנת הפעילות המסתיימת ב 31.12</li>
        </ul>

        <p>חובבים חדשים שיצטרפו לאגודה החל מיום 1.10 לשנת הפעילות הקלנדארית (המסתיימת ב 31.12 )  יזכו לחברות מלאה גם לשנת הפעילות הקלנדארית העוקבת במסגרת התשלום שנעשה.</p>

        <p>
            את דמי החבר ניתן לשלם בכרטיס אשראי בקישור הבא: <a href="https://courses.iarc.org/product/%D7%AA%D7%A9%D7%9C%D7%95%D7%9D-%D7%93%D7%9E%D7%99-%D7%97%D7%91%D7%A8/" target="_blank">דף תשלום דמי חבר</a>. התשלום בכרטיס מבטיח טיפול יעיל ומהיר בחברות.
            במידה והחבר אינו יכול לשלם בכרטיס אשראי, ניתן לתאם צורת תשלום אחרת עם הגזבר באמצעות פניה למייל info@iarc.org
        </p>
        <hr />
        <h4>דמי חבר עבור תושבי חוץ</h4>
        <p>
            דמי חבר עבור תושבים זרים: 100 דולר ארה"ב לשלוש שנים
        </p>
    </div>
    <!--/row-fluid-->
</div>
