<div class="container">
    <div class="row-fluid privacy">

        <h3>נהלי האגודה</h3>

        <div class="panel-group acc-v1 margin-bottom-40" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            נציג האגודה לתערוכה בגרמניה
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <a href="https://www.iarc.org/iarc/Content/docs/procedures/representative_to_germany.pdf" target="_blank">קובץ נהלים עבור נציג האגודה לתערוכה בגרמניה</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

