<div class="container">

    <div class="row-fluid privacy">

        <h4>לשכת QSL (כרטיסי קשר)</h4>
        <p>
            <label>אגודת חובבי הרדיו בישראל (ע"ר) מספקת את לשכות ה QSL הבאות:</label>
        </p>

        <h3>QSLים נכנסים</h3>
        <div class="tag-box tag-box-v2">
            <p>
                קותי שטסל (4X6OM)<br />
                שבט מנשה 46<br />
                הרצליה 46684<br />
            </p>
        </div>

        <h3>QSLים יוצאים</h3>
        <div class="tag-box tag-box-v2">
            <p>
                אודי קדם 4X6ZM<br />
                הגפן 1<br />
                נווה-עוז פ"ת, 4921486<br />
            </p>
        </div>

        <ul>
            <li>רצוי שהכרטיס לא יהיה גדול יותר מגלויה סטנדרטית.</li>
            <li>יש לעשות מיון לפי אותות קריאה (לפי הפרסום ב-IARU QSL Bureaus).</li>
            <li>נא לא לשלוח כרטיסים של מדינות שאין להן קשר עמנו או שהמשרד שלהן סגור, לפי הרשימה הבאה:</li>
        </ul>

        <div class="panel-grey col-md-4 pull-right">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="text-align: right; background-color: #cccccc">מדינה</th>
                        <th style="text-align: right; background-color: #cccccc">קידומת</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Afghanistan</td>
                        <td>YA</td>

                    </tr>
                    <tr>
                        <td>Agalega, Mauritius, Rodrigues
                        </td>
                        <td>3B
                        </td>
                    </tr>
                    <tr>
                        <td>Albania
                        </td>
                        <td>ZA
                        </td>

                    </tr>
                    <tr>
                        <td>Angola
                        </td>
                        <td>D2
                        </td>
                    </tr>
                    <tr>
                        <td>Anguilla
                        </td>
                        <td>VP2E
                        </td>

                    </tr>
                    <tr>
                        <td>Ascension
                        </td>
                        <td>ZD8
                        </td>
                    </tr>
                    <tr>
                        <td>Azerbaijan
                        </td>
                        <td>4J
                        </td>
                    </tr>
                    <tr>
                        <td>Bahamas
                        </td>
                        <td>C6
                        </td>
                    </tr>
                    <tr>
                        <td>Baker & Howland Islands
                        </td>
                        <td>KH1
                        </td>
                    </tr>
                    <tr>
                        <td>Belize
                        </td>
                        <td>V3
                        </td>
                    </tr>
                    <tr>
                        <td>Benin
                        </td>
                        <td>TY
                        </td>
                    </tr>
                    <tr>
                        <td>Bhutan
                        </td>
                        <td>A5
                        </td>
                    </tr>
                    <tr>
                        <td>Burundi
                        </td>
                        <td>9U
                        </td>
                    </tr>
                    <tr>
                        <td>Cambodia</td>
                        <td>XU
                        </td>
                    </tr>
                    <tr>
                        <td>Cameroon
                        </td>
                        <td>TJ
                        </td>
                    </tr>
                    <tr>
                        <td>Cape Verde
                        </td>
                        <td>D4
                        </td>
                    </tr>
                    <tr>
                        <td>Central African Republic
                        </td>
                        <td>TL
                        </td>
                    </tr>
                    <tr>
                        <td>Chad
                        </td>
                        <td>TT
                        </td>
                    </tr>
                    <tr>
                        <td>Congo
                        </td>
                        <td>TN
                        </td>
                    </tr>
                    <tr>
                        <td>Cote d'Ivoire
                        </td>
                        <td>TU
                        </td>
                    </tr>
                    <tr>
                        <td>Desecheo Island
                        </td>
                        <td>KP1
                        </td>
                    </tr>
                    <tr>
                        <td>Egypt
                        </td>
                        <td>Su
                        </td>
                    </tr>
                    <tr>
                        <td>Equatorial Guinea
                        </td>
                        <td>3C0
                        </td>
                    </tr>
                    <tr>
                        <td>Eritrea
                        </td>
                        <td>E3
                        </td>
                    </tr>
                    <tr>
                        <td>Gambia
                        </td>
                        <td>C5
                        </td>
                    </tr>
                    
                    
                </tbody>
            </table>
        </div>
        <div class="panel-grey col-md-4 pull-right">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="text-align: right; background-color: #cccccc">מדינה</th>
                        <th style="text-align: right; background-color: #cccccc">קידומת</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Guantanamo Bay
                        </td>
                        <td>KG4
                        </td>
                    </tr>
                    <tr>
                        <td>Guinea
                        </td>
                        <td>3X
                        </td>
                    </tr>
                    <tr>
                        <td>Guinea-Bissau
                        </td>
                        <td>J5
                        </td>
                    </tr>
                    <tr>
                        <td>Haiti
                        </td>
                        <td>HH
                        </td>
                    </tr>
                    <tr>
                        <td>Kiribati
                        </td>
                        <td>T3
                        </td>
                    </tr>
                    <tr>
                        <td>Kure Island
                        </td>
                        <td>KH7K
                        </td>
                    </tr>
                    <tr>
                        <td>Laos
                        </td>
                        <td>XW
                        </td>
                    </tr>
                    <tr>
                        <td>Lesotho
                        </td>
                        <td>7P
                        </td>
                    </tr>
                    <tr>
                        <td>Lybia
                        </td>
                        <td>5A
                        </td>
                    </tr>
                    <tr>
                        <td>Madagascar
                        </td>
                        <td>5R
                        </td>
                    </tr>
                    <tr>
                        <td>Malawi
                        </td>
                        <td>7Q
                        </td>
                    </tr>
                    <tr>
                        <td>Maldives
                        </td>
                        <td>8Q
                        </td>
                    </tr>
                    <tr>
                        <td>Mariana Island
                        </td>
                        <td>KH0
                        </td>
                    </tr>
                    <tr>
                        <td>Marshall Islands
                        </td>
                        <td>V7
                        </td>
                    </tr>
                    <tr>
                        <td>Mauritania
                        </td>
                        <td>5T
                        </td>
                    </tr>
                    <tr>
                        <td>Micronesia
                        </td>
                        <td>V6
                        </td>
                    </tr>
                    <tr>
                        <td>Midway Island
                        </td>
                        <td>KH4
                        </td>
                    </tr>
                    <tr>
                        <td>Montserrat
                        </td>
                        <td>VP2M
                        </td>
                    </tr>
                    <tr>
                        <td>Morocco
                        </td>
                        <td>CN
                        </td>
                    </tr>
                    <tr>
                        <td>Myanmar
                        </td>
                        <td>XZ
                        </td>
                    </tr>
                    <tr>
                        <td>Nauru
                        </td>
                        <td>C2
                        </td>
                    </tr>
                    <tr>
                        <td>Nepal
                        </td>
                        <td>9N
                        </td>
                    </tr>
                    <tr>
                        <td>Niger
                        </td>
                        <td>5U
                        </td>
                    </tr>
                    <tr>
                        <td>North & South Cook Islands
                        </td>
                        <td>E5
                        </td>
                    </tr>
                    <tr>
                        <td>North Korea
                        </td>
                        <td>P5
                        </td>
                    </tr>
                    <tr>
                        <td>Pagalu Island
                        </td>
                        <td>3C0
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="panel-grey col-md-4 pull-right">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="text-align: right; background-color: #cccccc">מדינה</th>
                        <th style="text-align: right; background-color: #cccccc">קידומת</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Palau</td>
                        <td>T8</td>
                    </tr>
                    <tr>
                        <td>Palmyra & Jarvis Islands</td>
                        <td>KH5</td>
                    </tr>
                    <tr>
                        <td>Papua New Guinea</td>
                        <td>P2</td>
                    </tr>
                    <tr>
                        <td>Rwanda</td>
                        <td>9X</td>
                    </tr>
                    <tr>
                        <td>Sao Tome & Principe</td>
                        <td>S9</td>
                    </tr>
                    <tr>
                        <td>Seychelles</td>
                        <td>S7</td>
                    </tr>
                    <tr>
                        <td>Sierra Leone</td>
                        <td>9L</td>
                    </tr>
                    <tr>
                        <td>Somalia</td>
                        <td>T5</td>
                    </tr>
                    <tr>
                        <td>St Helena</td>
                        <td>ZD7</td>
                    </tr>
                    <tr>
                        <td>St. Kitts & Nevis</td>
                        <td>V4</td>
                    </tr>
                    <tr>
                        <td>St. Vincent</td>
                        <td>J8</td>
                    </tr>
                    <tr>
                        <td>Sudan</td>
                        <td>ST</td>
                    </tr>
                    <tr>
                        <td>Suriname</td>
                        <td>PZ</td>
                    </tr>
                    <tr>
                        <td>Swaziland</td>
                        <td>3DA</td>
                    </tr>
                    <tr>
                        <td>Timor-Leste</td>
                        <td>4W</td>
                    </tr>
                    <tr>
                        <td>Togo</td>
                        <td>5V</td>
                    </tr>
                    <tr>
                        <td>Tonga</td>
                        <td>A3</td>
                    </tr>
                    <tr>
                        <td>Tristan da Cunha</td>
                        <td>ZD9</td>
                    </tr>
                    <tr>
                        <td>Tuvalu</td>
                        <td>T2</td>
                    </tr>
                    <tr>
                        <td>United Arab Emirates</td>
                        <td>A6</td>
                    </tr>
                    <tr>
                        <td>Vatican</td>
                        <td>HV</td>
                    </tr>
                    <tr>
                        <td>Vietnam</td>
                        <td>3W</td>
                    </tr>
                    <tr>
                        <td>Wake Island</td>
                        <td>KH9</td>
                    </tr>
                    <tr>
                        <td>Western Sahara</td>
                        <td>S0</td>
                    </tr>
                    <tr>
                        <td>Yemen</td>
                        <td>7O</td>
                    </tr>
                    <tr>
                        <td>Zimbabwe</td>
                        <td>Z2</td>
                    </tr>



                </tbody>
            </table>
        </div>
        <p>
            מומלץ לכל שולחי הכרטיסים שיבדקו ב- 
                    <a href="http://www.qrz.com" target="_blank">QRZ.com</a>
            אם אין אפשרות לשלוח לאלה שאין להם משרד דרך Manager אחר ולציין זאת על גבי הכרטיס.
        </p>
    </div>
    <!--/row-fluid-->

</div>

