<div class="container" style="background-color: #f5fbff">
    <h2>טופס בקשה להצטרף כחבר באגודת חובבי הרדיו בישראל (ע"ר)</h2>
    <h5>
        אנחנו שמחים על החלטתך להצטרף לאגודת חובבי הרדיו בישראל.<br />
        לאחר תשלום דמי החבר, יש למלא את הפרטים בטופס ולצרף קובץ PDF או צילום בכל פורמט מקובל של שובר התשלום ותמונה עדכנית.<br />
        לאחר אישור  על ידי וועדת החברים יושלם הליך הקבלה לחברות באגודה.
    </h5>
    <h5>דמי החבר עבור תושבי ישראל הינם: 250 ש"ח לאדם, 300 ש"ח עבור משפחות ותחנות מועדון, 150 ש"ח עבור נוער וחיילים</h5>
    <h5>לנרשמים לקורס המקוון - עלות הקורס כוללת בתוכה דמי חברות והיא על פי מה שנמסר מרכז ההדרכה</h5>
    <div class="tag-box tag-box-v2">
        פרטי החשבון:<br />
        אגודת חובבי הרדיו בישראל,<br />
        בנק לאומי,<br />
        מס\' חשבון 58818872,<br />
        סניף איינשטיין 833,<br />
        רמת אביב, ת"א.
    </div>
    <hr />
    <div id="registration-form" class="form-horizontal" data-parsley-validate>
        <div class="form-group">
            <div class="col-md-4">
                <input type="text" class="form-control" id="lastname" placeholder="שם משפחה" data-bind="value: lastname" tabindex="2" data-parsley-errors-messages-disabled required>
            </div>
            <label for="lastname" class="col-md-2 control-label">שם משפחה</label>

            <div class="col-md-4">
                <input type="text" class="form-control" id="firstname" placeholder="שם פרטי" data-bind="value: firstname" tabindex="1" data-parsley-errors-messages-disabled required>
            </div>
            <label for="firstname" class="col-md-2 control-label">שם פרטי</label>
        </div>

        <div class="form-group">
            <div class="col-md-4">
                <input type="text" class="form-control" id="elastname" placeholder="שם משפחה באנגלית" data-bind="value: elastname" tabindex="4" data-parsley-errors-messages-disabled required>
            </div>
            <label for="elastname" class="col-md-2 control-label">שם משפחה באנגלית</label>

            <div class="col-md-4">
                <input type="text" class="form-control" id="efirstname" placeholder="שם פרטי באנגלית" data-bind="value: efirstname" tabindex="3" data-parsley-errors-messages-disabled required>
            </div>
            <label for="efirstname" class="col-md-2 control-label">שם פרטי באנגלית</label>
        </div>

        <div class="form-group">
            <div class="col-md-6"></div>
            <div class="col-md-4">
                <input type="email" class="form-control" id="email" placeholder="אימייל" data-bind="value: email" tabindex="5" data-parsley-errors-messages-disabled required>
            </div>
            <label for="inputEmail1" class="col-md-2 control-label">אימייל</label>
        </div>

        <div class="form-group">
            <div class="col-md-4">
                <input type="text" class="form-control" id="callsign" placeholder="אות קריאה (אם קיים)" style="text-transform: uppercase" data-bind="value: callsign" tabindex="7">
            </div>
            <label for="callsign" class="col-md-2 control-label">אות קריאה (אם קיים)</label>

            <div class="col-md-4">
                <input type="text" class="form-control" id="licensenum" placeholder="מספר רשיון (אם קיים)" data-bind="value: licensenum" data-parsley-type="digits" tabindex="6" data-toggle="tooltip" data-trigger="focus" title="הכנס את מספר הרישיון שלך - ספרות בלבד">
            </div>
            <label for="licensenum" class="col-md-2 control-label">מספר רשיון (אם קיים)</label>
        </div>

        <div class="form-group">
            <div class="col-md-4">
                <input type="text" class="form-control" id="id" placeholder="תעודת זהות" data-bind="value: id" tabindex="9" data-parsley-errors-messages-disabled data-parsley-type="digits" required data-toggle="tooltip" data-trigger="focus" title="הכנס את מספר תעודת הזהות שלך - ספרות בלבד">
            </div>
            <label for="id" class="col-md-2 control-label">תעודת זהות</label>

            <div class="col-md-4">
                <div class=\'input-group date\' id=\'birthdate\' data-date-format="DD/MM/YYYY" tabindex="8">
                    <span class="input-group-addon"><span class="icon icon-time"></span>
                    </span>
                    <input type=\'text\' class="form-control" data-bind="value: birthdate" data-parsley-errors-messages-disabled required />
                </div>
            </div>
            <label for="birthdate" class="col-md-2 control-label">תאריך לידה</label>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label class="radio radio-inline">
                    <input type="radio" name="flavorGroup" value="m" data-bind="checked: gender" />
                    זכר
                </label>
                <label class="radio radio-inline">
                    <input type="radio" name="flavorGroup" value="f" data-bind="checked: gender" />
                    נקבה</label>
            </div>
            <label for="gender" class="col-md-2 control-label">מין</label>

            <div class="col-md-4">
                <input type="text" class="form-control" id="country" placeholder="אזרחות" data-bind="value: country" tabindex="10" data-parsley-errors-messages-disabled required>
            </div>
            <label for="country" class="col-md-2 control-label">אזרחות</label>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <input type="text" class="form-control" id="address" placeholder="כתובת" data-bind="value: address" tabindex="13" data-parsley-errors-messages-disabled required>
            </div>
            <label for="address" class="col-md-2 control-label">כתובת</label>
            <div class="col-md-4">
                <input type="text" class="form-control" id="city" placeholder="עיר" data-bind="value: city" tabindex="12" data-parsley-errors-messages-disabled required>
            </div>
            <label for="city" class="col-md-2 control-label">עיר</label>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <input type="text" class="form-control" id="zip" placeholder="מיקוד" data-bind="value: zip" tabindex="15" data-parsley-errors-messages-disabled required>
            </div>
            <label for="zip" class="col-md-2 control-label">מיקוד</label>
            <div class="col-md-4">
                <input type="text" class="form-control" id="house" placeholder="דירה" data-bind="value: house" tabindex="14">
            </div>
            <label for="house" class="col-md-2 control-label">דירה</label>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <input type="text" class="form-control" id="mobile" placeholder="נייד" data-bind="value: mobile" tabindex="17" data-parsley-errors-messages-disabled data-parsley-type="digits" data-toggle="tooltip" data-trigger="focus" title="הכנס את מספר הטלפון הנייד שלך - ספרות בלבד">
            </div>
            <label for="mobile" class="col-md-2 control-label">נייד</label>
            <div class="col-md-4">
                <input type="text" class="form-control" id="phone" placeholder="טלפון" data-bind="value: phone" tabindex="16" data-parsley-errors-messages-disabled data-parsley-type="digits" data-toggle="tooltip" data-trigger="focus" title="הכנס את מספר הטלפון שלך - ספרות בלבד">
            </div>
            <label for="phone" class="col-md-2 control-label">טלפון</label>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <textarea class="form-control" id="reason" placeholder="נא לרשום כאן סיבות להגשת הבקשה" data-bind="value: reason" tabindex="18" style="resize: none"></textarea>
            </div>
            <label for="reason" class="col-md-2 control-label">סיבת הבקשה</label>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <textarea class="form-control" id="cv" placeholder="נא לרשום כאן קורות חיים" data-bind="value: cv" tabindex="19" style="resize: none"></textarea>
            </div>
            <label for="cv" class="col-md-2 control-label">קורות חיים בקצרה</label>
        </div>
        <!--<div class="form-group">
            <div class="col-md-1">
                <button type="button" class="btn btn-success pull-left" data-bind="command: Send">שלח</button>
            </div>
            <div class="col-md-2">
                <input type="button" id="upload-btn" class="btn btn-primary btn-large clearfix" value="בחר תמונה">
            </div>
            <div class="col-md-2 text-left"><span data-bind="text: file"></span></div>
            <div class="col-md-2">
                <input type="button" id="payment-btn" class="btn btn-primary btn-large clearfix" value="צרף אישור תשלום">
            </div>
            <div class="col-md-2 text-left"><span data-bind="text: paymentfile"></span></div>
            <div class="col-md-2">
                <button id="SendBtn" type="button" class="btn btn-default" data-bind="click: Clear">נקה</button>
            </div>
        </div>-->
        <div class="row">
            <div class="col-md-1">
                <button type="button" class="btn btn-success pull-left" data-bind="command: Send">שלח</button>
            </div>
            <div class="col-md-2">
                <input type="button" id="upload-btn" class="btn btn-primary btn-large clearfix" value="בחר תמונה">
            </div>
            <div class="col-md-2 text-left"><span data-bind="text: file"></span></div>
            <div class="col-md-4">
                <!--<input type="button" id="payment-btn" class="btn btn-primary btn-large clearfix" value="צרף אישור תשלום">או שלח צ'ק לפי הנחיה טלפונית-->
שלח צ'ק או אישור תשלום לפי הנחיה טלפונית
            </div>
            <!--<div class="col-md-2 text-left"><span data-bind="text: paymentfile"></span></div>-->
            <div class="col-md-2">
                <button id="SendBtn" type="button" class="btn btn-default" data-bind="click: Clear">נקה</button>
            </div>
        </div>
    </div>



    <div class="content-box">
        <div class="clear">
            <!--<input type="button" id="upload-btn" class="btn btn-primary btn-large clearfix" value="בחר תמונה">-->
            <!--<span style="padding-left: 5px; vertical-align: middle;"><i>PNG, JPG, or GIF (500K max file size)</i></span>-->
            <div id="errormsg" class="clearfix redtext">
            </div>
            <div id="pic-progress-wrap" class="progress-wrap" style="margin-top: 10px; margin-bottom: 10px;">
            </div>
            <div id="payment-progress-wrap" class="progress-wrap" style="margin-top: 10px; margin-bottom: 10px;">
            </div>

            <div id="picbox" class="clear" style="padding-top: 0px; padding-bottom: 10px;">
            </div>

        </div>
    </div>

</div>

