<div class="container">

    <div class="row-fluid privacy">

        <h4>מורה נבוכים</h4>
        <p>
          לצורך הקמת אנטנה והפעלת תחנת חובב רדיו בישראל זקוקים לאישורים מ3 משרדי ממשלה: משרד התקשורת, המשרד להגנת הסביבה והרשות המקומית.
        </p>
        <hr />
        <h4>משרד התקשורת</h4>
        <p>
            מטרת הרשיון היא בעיקר למנוע הפרעות לשאר המשתמשים בגלי האתר. משרד התקשורת מתנה רשיון חובב רדיו בלימוד (ובחינה) של תכונות גלי רדיו, ציוד רדיו ונהלי הפעלה. התקנות כוללות פרקים על מניעת הפרעות לציבור הרחב ונהלים כיצד להתנהג מול חובבים אחרים.
            <a href="http://www.moc.gov.il/198-he/MOC.aspx" target="_blank">פקודת הטלגרף האלחוטי התשל"ב - 1972</a> קובעת את חובות הרישוי בישראל.
        </p>
        <ul>
            <li><a href="././Content/docs/syllabus_moc.pdf" target="_blank">סילבוס ותקנון  בחינות- (שים לב -נספחים 7+8 הושפעו /בוטלו על ידי מכתב המשרד מיום 14 באוגוסט 2013)</a></li>
            <li><a href="././Content/docs/MOC_exam_rule1.pdf" target="_blank">נוהל בחינה מעשית - הפעלה (שרות חובבי רדיו, 14 באוגוסט 2013)</a></li>
        </ul>
        <hr />
        <h4>המשרד להגנת הסביבה</h4>
        <p>
            בגלל חוק הקרינה בלתי מייננת, התשס"ו - 2006, המשרד להגנת הסביבה מחייב רישוי לכל משדר מעל הספק מסויים.
            תקנות הקרינה הבלתי מייננת התשס"ט - 2009 מחייבות גם את חובבי הרדיו בישראל. כחובבים מעניקות לנו התקנות מספר הקלות, שהעיקרית בהן היא היעדר הצורך בביצוע בדיקות קרינה יקרות ע"י בודק מוסמך. חובב מבצע בעצמו חישובי הערכת סיכונים שמקורם בחשיפה שלו, משפחתו, שכניו והדיירים הסמוכים לתחנתו, כחלק מהגשת הבקשה.
            להלן מספר הסברים ומדריכים בנושא זה באדיבותם של אהוד זגר 4Z4UR וצחי לינדנבאום 4Z1TL.
        </p>
        <ul>
            <li><a href="././Content/docs/non_ionizing_radiation_safety_guide.pdf" target="_blank">מדריך בטיחות קרינה בלתי מייננת לחובבי רדיו</a></li>
            <li><a href="././Content/docs/rad_request_form.docx" target="_blank">בקשה לקבלת היתר להקמה והפעלה של מיתקן חובב רדיו</a></li>
            <li><a href="././Content/docs/rad_howto.pdf" target="_blank">הבקשה להיתר הקמה והפעלה – כיצד?</a></li>
            <li><a href="././Content/docs/rad_calc_chart.xls" target="_blank">גליון עזר לחישוב טווח בטיחות והערכת חשיפה לתחנת אלחוט של חובבי רדיו</a></li>
            <!--<li><a href="././Content/docs/rad_manual_april_2011.pdf" target="_blank">מדריך בטיחות קרינה בלתי מייננת לחובבי רדיו</a></li>-->
        </ul>
        <hr />
        <h4>רשות התכנון המקומית</h4>
        <p>
            תפקידה של רשות התכנון המקומית בנושא חובבי הרדיו הוא לעניין מתן היתר בניה לאנטנה. כמו כן, יש הבדל בין אנטנות מסוגים שונים ודין אנטנה עשויה מתיל מתכת אינה כדין כיוונית מסוג יאגי או דומה. באוגוסט 2014 נכנסו לתוקפן תקנות תכנון ובניה המעניקות פטור מהיתר בניה לאנטנה מסוג אנכי בגובה של עד 9 מטר וכן אנטנה מסוג תיל, אך מחייבות בהודעה מתאימה לאחר הקמת האנטנה.<br />
            <a href="././Content/docs/7400.pdf" target="_blank">מאמר הסבר, ינואר 2018</a><br />
        </p>
        <hr />
        
        <h4>עבודה על 60 מטר</h4>
        <p>
            במאי 2013 (ושוב ב 2014) החליט משרד התקשורת לתת אפשרות זמנית למשך שנה לבעלי דרגה א' ו ב' שיגישו בקשות פרטניות לשידור נסיוני במספר מצומצם של ערוצים.
        </p>
        <ul>
            <li><a href="././Content/docs/MOC_form_60m.pdf" target="_blank">טופס בקשה לשידור - 60 מטר</a></li>
        </ul>

    </div>
    <!--/row-fluid-->

</div>

