<!--=== Top ===-->
<div class="top-v1">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="list-unstyled top-v1-contacts text-left">
                    <li><span data-bind="html: 'V' + version" style="color: #f1f1f1"></span>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-unstyled top-v1-contacts">
                    <li>אגודת חובבי הרדיו בישראל (ע"ר)
                    </li>
                    <li>
                        <i class="icon-envelope"></i>דואל: <a href="mailto:info@iarc.org">info@iarc.org</a>
                    </li>
                    <!--<li>
                        <i class="icon-phone"></i>תמיכה: 054-7828077
                    </li>-->
                </ul>
            </div>
        </div>
    </div>
</div>
<!--/top-v1-->
<!--=== End Top ===-->

<!--=== Header ===-->
<div class="header margin-bottom-10">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <!-- <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img id="logo-header" src="assets/img/iarc_logo.gif" alt="Logo" height="50px">
                </a>
            </div> -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="_collapse _navbar-collapse _navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li data-bind="css: { active: selectedMainMenu() == 'pa' }">
                        <a href="https://www.iarc.org/silentkey/" target="_blank">אתר הזיכרון</a>
                    </li>
                    <li class="dropdown text-left" data-bind="css: { active: selectedMainMenu() == 'english' }" style="direction: ltr">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            <img src="././assets/img/english.png" style="margin-top: -5px" />
                            IARC
                            <i class="icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li data-bind="css: { active: selectedSubMenu() == 'cept' }"><a href="#CEPT">CEPT</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == '4x4z' }"><a href="#4X4Z">4X/4Z callsign series</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == '4z8' }"><a href="#4Z8">4Z8 prefix</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'membership' }"><a href="#EN_Membership">Membership</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'bandplan' }"><a href="#Bandplan">Israeli Band Plan</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'beacons' }"><a href="#Beacons">Beacons</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'repeaters' }"><a href="#EN_Repeaters">Repeaters</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'meetings' }"><a href="#Meetings">Meeting points</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'skf' }"><a href="#SilentKeyForest">Silent Key Forest</a></li>
                        </ul>
                    </li>

                    <li class="dropdown text-left" data-bind="css: { active: selectedMainMenu() == 'holyland' }" style="direction: ltr">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            Holyland
                            <i class="icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li data-bind="css: { active: selectedSubMenu() == 'holylandcontest' }"><a href="#HolylandContest">Holyland Contest Rules</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'holylandrules' }"><a href="#HolylandRules">חוקי התחרות לישראלים</a></li>
                            <li class="divider">Online Tools</li>
                            <li data-bind="css: { active: selectedSubMenu() == 'holysquare' }"><a href="https://www.iarc.org/holysquare/" target="_blank">Holyland Squares - Online Tool</a></li>
                            <!--<li data-bind="css: { active: selectedSubMenu() == 'HolyTracker' }"><a href="https://play.google.com/store/apps/details?id=org.gts.holytracker" target="_blank">HolyTracker - Spotting App</a></li>
            <li data-bind="css: { active: selectedSubMenu() == 'LiveMap' }"><a href="https://iarc.org/squarereg/livemap.html" target="_blank">HolyTracker - Live Map</a></li>-->
                            <li data-bind="css: { active: selectedSubMenu() == 'holylandsquares' }"><a href="#HolylandSquares">Holyland Squares - Paper Maps</a></li>
                            <li class="divider">Results</li>
                            <li data-bind="css: { active: selectedSubMenu() == 'holylandresults' }"><a href="#HolylandResults">Holyland Contest Results</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'holylandresults_isr' }"><a href="#HolylandResultsISR">Holyland Contest Results - 4X</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'holylandaward' }"><a href="#HolylandAward">Holyland Award</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'logupload' }"><a href="#LogUpload">Upload Holyland Contest Log</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'holylandlogs' }"><a href="#HolylandLogs">Holyland Received Logs</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'certificategenerator' }"><a href="#Certificategenerator">Holyland Certificate Request</a></li>

                        </ul>
                    </li>

                    <li data-bind="css: { active: selectedMainMenu() == 'pa' }">
                        <a href="#PA">איזור אישי</a>
                    </li>
                    <li data-bind="css: { active: selectedMainMenu() == 'contact' }">
                        <a href="#Contact">
                            צור קשר
                        </a>
                    </li>
                    <!--<li data-bind="css: { active: selectedMainMenu() == 'news' }">
        <a href="#News">חדשות
        </a>
    </li>-->
                    <li class="dropdown" data-bind="css: { active: selectedMainMenu() == 'gallery' }">
                        <a href="#" class="dropdown-toggle">
                            גלריה
                            <i class="icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li data-bind="css: { active: selectedSubMenu() == 'videogallery' }"><a href="#Gallery">גלרית וידאו</a></li>
                            <li><a href="https://plus.google.com/u/0/b/101436536481101172135/photos/101436536481101172135/albums" target="_blank">גלרית Google+</a></li>
                        </ul>
                    </li>

                    <li class="dropdown" data-bind="css: { active: selectedMainMenu() == 'links' }">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            קישורים

                            <i class="icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li data-bind="css: { active: selectedSubMenu() == 'lessons' }"><a href="https://courses.iarc.org/" target="_blank">אתר הקורס המתוקשב</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'become' }"><a href="https://www.gov.il/he/service/radio-amateurs-certificates" target="_blank">חובבי רדיו - משרד התקשורת</a></li>
                            <!--<li data-bind="css: { active: selectedSubMenu() == 'pages' }"><a href="http://www.sviva.gov.il/subjectsEnv/Radiation/Communication_Facilities/Radio/Pages/Amature_Radio.aspx" target="_blank">אתר המשרד להגנת הסביבה</a></li>-->
                            <li data-bind="css: { active: selectedSubMenu() == 'iaru' }"><a href="http://www.iaru.org/region-1.html" target="_blank">אתר IARU</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'itu' }"><a href="http://www.itu.int" target="_blank">אתר ITU</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'arrl' }"><a href="http://www.arrl.org/" target="_blank">אתר ARRL</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'rsgb' }"><a href="http://rsgb.org/" target="_blank">אתר RSGB</a></li>

</ul>
                    </li>
                    <li class="dropdown" data-bind="css: { active: selectedMainMenu() == 'hagal' }">
                        <a href="#HagalMain" class="dropdown-toggle">
                            הגל

                            <i class="icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li data-bind="css: { active: selectedSubMenu() == 'hagal' }"><a href="#Hagal">הגל</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'hagalarchive' }"><a href="#HagalArchive">ארכיון הגל</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'onairhagal' }"><a href="#Onairhagal">הגל המשודר</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" data-bind="css: { active: selectedMainMenu() == 'israelham' }">
                        <a href="#HamInIsrael" class="dropdown-toggle">
                            חובבות רדיו בישראל

                            <i class="icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li data-bind="css: { active: selectedSubMenu() == 'ham' }"><a href="#Ham">חובבות רדיו</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'regulations' }"><a href="#Regulations">חוקים ותקנות</a></li>
                            <!--<li data-bind="css: { active: selectedSubMenu() == 'import' }"><a href="#Import">יבוא ציוד חובבים</a></li>-->
                            <li data-bind="css: { active: selectedSubMenu() == 'import' }"><a href="https://www.iarc.org/iarc/Content/docs/import.pdf" target="_blank">יבוא ציוד חובבים</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'exams' }"><a href="#Exams">הרשמה לבחינות</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'examforms' }"><a href="#ExamForms">טופסי הרשמה לבחינות</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'freq' }"><a href="#Freq">תדרים</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'repeaters' }"><a href="#Repeaters">ממסרים</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'repeatersmap' }"><a href="#RepeatersMap">מפת ממסרים</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'echolink' }"><a href="#EchoLink">אקולינק</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'emergency' }"><a href="#Emergency">חובבי רדיו בחירום</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'holyland' }"><a href="#Holyland">תחרות ארץ הקודש</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'sukotresults' }"><a href="#SukotResults">תחרות סוכות - תוצאות</a></li>
                            <!--<li data-bind="css: { active: selectedSubMenu() == 'dxpeditions' }"><a href="#DXpeditions">משלחות</a></li>-->
                            <li data-bind="css: { active: selectedSubMenu() == 'wwff' }"><a href="http://4xff.iarc.org/" target="_blank">4XFF</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" data-bind="css: { active: selectedMainMenu() == 'aguda' }">
                        <a href="#Aguda" class="dropdown-toggle">
                            האגודה

                            <i class="icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li data-bind="css: { active: selectedSubMenu() == 'about' }"><a href="#About">אודות האגודה</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'membership' }"><a href="#Membership">חברות באגודה</a></li>
                            <!--<li data-bind="css: { active: selectedSubMenu() == 'register' }"><a href="#Register">טופס הצטרפות</a></li>-->
                            <li data-bind="css: { active: selectedSubMenu() == 'onlinecourse' }"><a href="#OnlineCourse">הצטרפות \ הרשמה לקורס המתוקשב</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'eventregistration' }"><a href="#EventRegistration">הרשמה לאירועים</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'procedures' }"><a href="#Procedures">נהלים</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'qsl' }"><a href="#QSL">לשכת QSL</a></li>
                            <!--<li data-bind="css: { active: selectedSubMenu() == 'directors' }"><a href="#Directors">בעלי תפקידים</a></li>-->
                            <li data-bind="css: { active: selectedSubMenu() == 'directors' }"><a href="https://www.iarc.org/iarc/Content/docs/directors.pdf" target="_blank">בעלי תפקידים</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'protocols' }"><a href="#Protocols">פרוטוקולים</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'media' }"><a href="#Media">כתבו עלינו</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'market' }"><a href="#Market">מרכולית</a></li>
                            <li><a href="http://articles.iarc.org/" target="_blank">דף המאמרים</a></li>
                        </ul>
                    </li>
                    <li data-bind="css: { active: selectedMainMenu() == 'main' }">
                        <a href="#">
                            דף הבית
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /navbar-collapse -->
        </div>
    </div>
</div>
<!--/header-->
<!--=== End Header ===-->

<!--=== Content Part ===-->
<div class="container">

    <!-- Begin Sidebar -->
    <div class="col-md-3 hidden-sm hidden-xs pull-right">
        <!-- Magazine Posts -->
        <div class="row">
            <div class="col-md-12 col-sm-6">
                <h3></h3>
                <div class="text-center">
                    <a href="#">
                        <img src="assets/img/iarc_logo.gif" alt="">
                    </a>
                </div>
            </div>
            
            <div class="magazine-posts col-md-12 col-sm-6">
                <h3>תשלום דמי חבר</h3>
                <div class="magazine-posts-img">
                    <a href="#Membership">
                        <img class="img-responsive" src="assets/img/main/4.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="magazine-posts col-md-12 col-sm-6">
                <h3>הצטרף לקורס חובבי רדיו</h3>
                <!--<span>7 בינואר עד 9 במרץ</span>-->
                <div class="magazine-posts-img">
                    <a href="https://courses.iarc.org/" target="_blank">
                        <img class="img-responsive" src="assets/img/main/11.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="magazine-posts col-md-12 col-sm-6">
                <h3 dir="ltr" style="text-align:left">HolyLogger</h3>
                <div class="magazine-posts-img">
                    <a href="https://4z1kd.github.io/HolyLogger/" target="_blank">
                        <img class="img-responsive" src="assets/img/main/HolyLogger.png" alt="">
                    </a>
                </div>
            </div>
            <div class="magazine-posts col-md-12 col-sm-6">
                <h3>מרכולית</h3>
                <div class="magazine-posts-img">
                    <a href="#Market">
                        <img class="img-responsive" src="assets/img/main/10.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <!-- End Magazine Posts -->

        <!-- Social Icons -->
        <div class="magazine-sb-social margin-bottom-20">
            <div class="headline headline-md">
                <h2>רשתות חברתיות</h2>
            </div>
            <ul class="social-icons social-icons-color">
                <!--<li><a href="#" data-original-title="Feed" class="social_rss"></a></li>-->
                <li><a href="https://www.facebook.com/groups/353267071379649/" target="_blank" data-original-title="Facebook" class="social_facebook"></a></li>
                <!--<li><a href="https://twitter.com/iarc_info" target="_blank" data-original-title="Twitter" class="social_twitter"></a></li>-->
                <!--<li><a href="#" data-original-title="Vimeo" class="social_vimeo"></a></li>-->
                <li><a href="https://plus.google.com/+IarcOrg/" target="_blank" data-original-title="Goole Plus" class="social_googleplus"></a></li>
                <!--<li><a href="#" data-original-title="Pinterest" class="social_pintrest"></a></li>
                    <li><a href="#" data-original-title="Linkedin" class="social_linkedin"></a></li>
                    <li><a href="#" data-original-title="Dropbox" class="social_dropbox"></a></li>-->
                <!--<li><a href="#" data-original-title="Picasa" class="social_picasa"></a></li>-->
                <!--<li><a href="#" data-original-title="Spotify" class="social_spotify"></a></li>
                    <li><a href="#" data-original-title="Jolicloud" class="social_jolicloud"></a></li>-->
                <li><a href="http://iarcinfo.wordpress.com/" target="_blank" data-original-title="Wordpress" class="social_wordpress"></a></li>
                <!--<li><a href="#" data-original-title="Github" class="social_github"></a></li>
                    <li><a href="#" data-original-title="Xing" class="social_xing"></a></li>-->
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- End Social Icons -->

        <!-- Quick Links -->
        <div class="magazine-sb-categories">
            <div class="headline headline-md">
                <h2>ניווט מהיר</h2>
            </div>
            <div class="row">
                <ul class="list-unstyled col-xs-6">
                    <li><a href="#Freq">תדרים</a></li>
                    <li><a href="#Repeaters">ממסרי VHF/UHF</a></li>
                    <li><a href="#News">חדשות</a></li>
                    <li><a href="https://plus.google.com/u/0/b/101436536481101172135/photos/101436536481101172135/albums" target="_blank">גלריה</a></li>
                    <li><a href="#QSL">לשכת QSL</a></li>
                    <li><a href="#SilentKeyForest">Silent Key Forest</a></li>
                </ul>
                <ul class="list-unstyled col-xs-6">
                    <li><a href="#About">אודות האגודה</a></li>
                    <li><a href="#Membership">חברות באגודה</a></li>
                    <li><a href="#Directors">בעלי תפקידים</a></li>
                    <li><a href="#Hagal">בטאון הגל</a></li>
                    <li><a href="#Holyland">תחרות ארץ הקודש</a></li>
                    <li><a href="#Contact">צור קשר</a></li>
                </ul>
            </div>
        </div>
        <!-- End Quick Links -->

        <!-- Blog Twitter -->
        <div style="direction: rtl">
            <!--<div class="headline">
                <h3>ציוצים אחרונים</h3>
            </div>-->
            <!--<div class="blog-twitter-inner" style="direction: rtl">
                <a class="twitter-timeline" href="https://twitter.com/iarc_info" data-widget-id="413191627423744000" style="direction: rtl;">Tweets by @iarc_info</a>
            </div>-->
        </div>
        <!-- End Blog Twitter -->
    </div>

    <!-- End Sidebar -->
    <div class="col-md-9 pull-right container-fluid page-host" data-bind="router: { transition: 'entrance', cacheViews: true }"></div>

</div>
<!--/container-->
<!-- End Content Part -->

<!--=== Footer ===-->
<!--<div class="footer copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="copyright-space">
                    <span class="pull-left" style="color: #717171">עיצוב ופיתוח: 4Z1KD</span>
                </p>
            </div>
            <div class="col-md-6">
                <p class="copyright-space">
                    2015 &copy; אגודת חובבי הרדיו, כל הזכויות שמורות
                    
                </p>
            </div>
        </div>
        
    </div>
    
</div>-->
<!--=== End Footer ===-->
