<div class="container">
    <div class="row-fluid text-right" style="direction: rtl">
		<div class="margin-bottom-40"></div>
        <div class="row margin-bottom-10">
			<div class="col-md-12">
			<strong>
			תוצאות תחרות סוכות
			</strong>
			</div>
            <div class="col-md-8">
			
            </div>
            <div class="col-md-4 pull-right" style="max-width: 350px; margin-top:8px;">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="  search-query form-control" placeholder="Search" data-bind="value: searchInput, valueUpdate: 'afterkeydown'" />
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="button">
                                <span class="icon icon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
       <div class="panel panel-green margin-bottom-40">
            <div class="panel-heading">
                <h4 class="panel-title">תחרות סוכות 2021</h4>
            </div>
            <table class="table table-striped table-hover text-right" id="dataTable">
                <tr class="text-right">
                    <th class="text-right">מקום</th>
                    <th class="text-right">אות קריאה</th>
                    <th class="text-right">שם</th>
                    <th class="text-right">מספר קשרים</th>
                    <th class="text-right">נקודות</th>
                    <th class="text-right">קטגוריה</th>
                </tr>
                <tr><td>1</td><td>4X1RE/P</td><td>Dr. Eyal Raskin</td><td>66</td><td>2536</td><td>VHF/UHF</td></tr> 
                <tr><td>2</td><td>4Z1NB/P</td><td>ELI SHAHAF</td><td>54</td><td>2471</td><td>VHF/UHF</td></tr>
                <tr><td>3</td><td>4X1BQ</td><td>Joseph Sharon</td><td>66</td><td>2453</td><td>VHF/UHF</td></tr>
                <tr><td>4</td><td>4X1IG/P</td><td>Ron Yatziv</td><td>49</td><td>2400</td><td>VHF</td></tr>
                <tr><td>5</td><td>4X5MG/P</td><td>Ido</td><td>46</td><td>2074</td><td>VHF/UHF</td></tr>
                <tr><td>6</td><td>4X1TI</td><td>Efi</td><td>32</td><td>2054</td><td>VHF/UHF</td></tr>
                <tr><td>7</td><td>4Z1DZ/P</td><td>Chanan</td><td>48</td><td>1913</td><td>VHF/UHF</td></tr>
                <tr><td>8</td><td>4X5HF/P</td><td>ILAN TSAMERET</td><td>19</td><td>1834</td><td>VHF/UHF</td></tr>
                <tr><td>9</td><td>4X1ON/P</td><td>Ofer Ezra</td><td>27</td><td>1743</td><td>VHF</td></tr>
                <tr><td>10</td><td>4X1ST/P</td><td>Tim Scrimshaw 4X1ST</td><td>37</td><td>1457</td><td>VHF/UHF</td></tr>
                <tr><td>11</td><td>4X6YA</td><td>Hilik Amir</td><td>51</td><td>1441</td><td>VHF/UHF</td></tr>
                <tr><td>12</td><td>4X4LF</td><td>Shlomo Goldstein</td><td>20</td><td>1430</td><td>VHF/UHF</td></tr>
                <tr><td>13</td><td>4Z1AR</td><td>Amir</td><td>52</td><td>1376</td><td>VHF/UHF</td></tr>
                <tr><td>14</td><td>4Z1ZV</td><td>ZVI SEGAL</td><td>48</td><td>1269</td><td>VHF/UHF</td></tr>
                <tr><td>15</td><td>4Z1WS</td><td>Shamai</td><td>34</td><td>1171</td><td>VHF/UHF</td></tr>
                <tr><td>16</td><td>4X1BG</td><td>Nimrod Schwartz</td><td>20</td><td>1165</td><td>VHF/UHF</td></tr>
                <tr><td>17</td><td>4X6AG</td><td>Gadi Alon</td><td>32</td><td>1143</td><td>VHF/UHF</td></tr>
                <tr><td>18</td><td>4X1UF/P</td><td>Israel Lavee</td><td>17</td><td>1053</td><td>VHF/UHF</td></tr>
                <tr><td>19</td><td>4Z4DX</td><td>Dov</td><td>37</td><td>855</td><td>VHF/UHF</td></tr>
                <tr><td>20</td><td>4X1MK</td><td>Ron Gang</td><td>15</td><td>822</td><td>VHF</td></tr>
                <tr><td>21</td><td>4Z4XC/P</td><td>YAIR</td><td>25</td><td>603</td><td>VHF</td></tr>
                <tr><td>22</td><td>4X5KE/P</td><td>Eran Kedar</td><td>16</td><td>555</td><td>VHF/UHF</td></tr>
                <tr><td>23</td><td>4X1KS</td><td>mark</td><td>21</td><td>507</td><td>VHF/UHF</td></tr>
                <tr><td>24</td><td>4X1DA</td><td>Rich Harel</td><td>15</td><td>477</td><td>VHF/UHF</td></tr>
                <tr><td>25</td><td>4X1HJ</td><td>Halevy Itzhak</td><td>12</td><td>435</td><td>VHF</td></tr>
                <tr><td>26</td><td>4Z5OI/P</td><td>Jurgen</td><td>16</td><td>400</td><td>VHF</td></tr>
                <tr><td>27</td><td>4X5SB</td><td>DANIEL BAREL</td><td>5</td><td>235</td><td>VHF</td></tr>
                <tr><td>28</td><td>4X1UK/P</td><td>Ziv Gilad</td><td>11</td><td>230</td><td>VHF/UHF</td></tr>
                <tr><td>29</td><td>4X5GB</td><td>Ronen Ohana</td><td>9</td><td>224</td><td>VHF</td></tr>
                <tr><td>30</td><td>4X4ZP</td><td>RON ENGAL</td><td>3</td><td>157</td><td>VHF</td></tr>
                <tr><td>31</td><td>4X1WQ</td><td>Avi</td><td>4</td><td>119</td><td>VHF</td></tr>
            </table>
        </div>
    </div>
</div>

