<div class="container">
    <div class="row-fluid text-right" style="direction: rtl">
		<div class="margin-bottom-40"></div>
        <div class="row margin-bottom-10">
			<div class="col-md-12">
			<strong>
			תוצאות תחרות סוכות
			</strong>
			</div>
            <div class="col-md-8">
			
            </div>
            <div class="col-md-4 pull-right" style="max-width: 350px; margin-top:8px;">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="  search-query form-control" placeholder="Search" data-bind="value: searchInput, valueUpdate: 'afterkeydown'" />
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="button">
                                <span class="icon icon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
       <div class="panel panel-green margin-bottom-40">
            <div class="panel-heading">
                <h4 class="panel-title">תחרות סוכות 2019</h4>
            </div>
            <table class="table table-striped table-hover text-right" id="dataTable">
                <tr class="text-right">
                    <th class="text-right">מקום</th>
                    <th class="text-right">אות קריאה</th>
                    <th class="text-right">שם</th>
                    <th class="text-right">מספר קשרים</th>
                    <th class="text-right">נקודות</th>
                </tr>
                <tr><td>1</td><td>4Z4OQ</td><td>Ziv Amit</td><td>82</td><td>4905</td></tr>
                <tr><td>2</td><td>4Z1NB</td><td>Eli</td><td>78</td><td>4279</td></tr>
                <tr><td>3</td><td>4X1TI</td><td>Efi</td><td>45</td><td>3726</td></tr>
                <tr><td>4</td><td>4Z4DX</td><td>Dov</td><td>69</td><td>3627</td></tr>
                <tr><td>5</td><td>4X1FW</td><td>Simha Priel</td><td>79</td><td>3420</td></tr>
                <tr><td>6</td><td>4X1JP</td><td>Yossi Pizante</td><td>61</td><td>3329</td></tr>
                <tr><td>7</td><td>4X6RE</td><td>Eyal</td><td>65</td><td>3204</td></tr>
                <tr><td>8</td><td>4X1DA</td><td>Rich</td><td>77</td><td>3146</td></tr>
                <tr><td>9</td><td>4X1UF</td><td>Israel</td><td>63</td><td>3036</td></tr>
                <tr><td>10</td><td>4Z1ZV</td><td>Zvi</td><td>78</td><td>2915</td></tr>
                <tr><td>11</td><td>4X1IG</td><td>Ron Yatziv</td><td>58</td><td>2873</td></tr>
                <tr><td>12</td><td>4X5HF</td><td>Ilan</td><td>52</td><td>2745</td></tr>
                <tr><td>13</td><td>4Z1DZ</td><td>Chanan</td><td>54</td><td>2664</td></tr>
                <tr><td>14</td><td>4X1KS</td><td>Mark</td><td>71</td><td>2561</td></tr>
                <tr><td>15</td><td>4X1ZQ</td><td>Avishay</td><td>69</td><td>2437</td></tr>
                <tr><td>16</td><td>4X5ZS</td><td>Zeev</td><td>51</td><td>2408</td></tr>
                <tr><td>17</td><td>4Z1KM</td><td>micha</td><td>50</td><td>2119</td></tr>
                <tr><td>18</td><td>4X1KP</td><td>Dov Vardy</td><td>44</td><td>2058</td></tr>
                <tr><td>19</td><td>4Z4CH</td><td>Ran Balgaly</td><td>56</td><td>1966</td></tr>
                <tr><td>20</td><td>4Z1TL</td><td>Tsachy L.</td><td>60</td><td>1966</td></tr>
                <tr><td>21</td><td>4X6YA</td><td>Hilik Amir</td><td>55</td><td>1929</td></tr>
                <tr><td>22</td><td>4X5MG</td><td>Ido</td><td>44</td><td>1905</td></tr>
                <tr><td>23</td><td>4X4LF</td><td>Shlomo Goldstein</td><td>26</td><td>1858</td></tr>
                <tr><td>24</td><td>4Z1AR</td><td>Amir</td><td>52</td><td>1849</td></tr>
                <tr><td>25</td><td>4Z4KX</td><td>Mark Stern</td><td>45</td><td>1602</td></tr>
                <tr><td>26</td><td>4X1MK</td><td>Ron Gang</td><td>23</td><td>1524</td></tr>
                <tr><td>27</td><td>4X1ON</td><td>Ofer</td><td>33</td><td>1407</td></tr>
                <tr><td>28</td><td>4X1UK</td><td>Ziv Gilad</td><td>40</td><td>1281</td></tr>
                <tr><td>29</td><td>4X5DL</td><td>Yaniv</td><td>30</td><td>1240</td></tr>
                <tr><td>30</td><td>4X1ST</td><td>Tim Scrimshaw</td><td>38</td><td>1234</td></tr>
                <tr><td>31</td><td>4Z9III</td><td>Jim</td><td>30</td><td>1193</td></tr>
                <tr><td>32</td><td>4Z5PT</td><td>Pildysh Valery</td><td>28</td><td>1134</td></tr>
                <tr><td>33</td><td>4Z5OY</td><td>Ezion Ayran</td><td>24</td><td>934</td></tr>
                <tr><td>34</td><td>4X6HU</td><td>Rami</td><td>30</td><td>836</td></tr>
                <tr><td>35</td><td>4Z5OT</td><td>Louis Hammer</td><td>19</td><td>702</td></tr>
                <tr><td>36</td><td>4Z1IZ</td><td>Avraham</td><td>29</td><td>629</td></tr>
                <tr><td>37</td><td>4Z5DZ</td><td>Dubi</td><td>17</td><td>604</td></tr>
                <tr><td>38</td><td>4X1ZS</td><td>Zvi Serlin</td><td>16</td><td>499</td></tr>
                <tr><td>39</td><td>4X4FD</td><td>Eli</td><td>10</td><td>479</td></tr>
                <tr><td>40</td><td>4Z4UO</td><td>Omer Tsouk</td><td>22</td><td>460</td></tr>
                <tr><td>41</td><td>4Z5CP</td><td>Dimitry Borzenko</td><td>16</td><td>350</td></tr>
                <tr><td>42</td><td>4X5CQ</td><td>Yehoshua Krochmale</td><td>10</td><td>281</td></tr>
                <tr><td>43</td><td>4X5BR</td><td>Roy</td><td>9</td><td>155</td></tr>
                <tr><td>44</td><td>4X5SB</td><td>Daniel</td><td>5</td><td>127</td></tr>
                <tr><td>45</td><td>4X5MT</td><td>Avi</td><td>3</td><td>24</td></tr>
            </table>
        </div>
    </div>
</div>

