<div class="container">
    <div class="row-fluid privacy">
        <h4>WWFF בישראל - 4XFF</h4>
        <p>
           מטרת התוכנית היא להסב את תשומת הלב לחשיבות השמירה על הטבע - החי, הצומח והדומם.
            ברוח זו מקימים חובבי רדיו את התחנות שלהם ומפעילים מתוך פארקים, גנים לאומיים, שמורות טבע ואיזורים מוגנים.
            התוכנית היא בין לאומית, איננה מסחרית, ומנוהלת ע"י רכזים של מספר רב של תוכניות חי וצומח לאומיות.
            לטובת חובבי הרדיו והטבע הישראלים, מובאת בזו רשימה של אתרי הטבע בישראל כפי שמוכרים ע"י התוכנית.
        </p>
        <p></p>
        <hr />
    </div>

    <div class="row-fluid">
        <div class="col-md-12">
            <div class="panel panel-grey margin-bottom-40">
                <div class="panel-heading">
                    <span class="panel-title text-right">רשימת אתרי 4XFF</span>
                    <!--<span class="panel-title pull-left">Echolink</span>-->
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="text-align: right">מזהה</th>
                            <th style="text-align: right">שם</th>
                            <th style="text-align: right">קישור</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>4XFF-001</td>
                            <td>חוף אכזיב</td>
                            <td><a href="http://www.parks.org.il/ParksAndReserves/achziv/Pages/default.aspx" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-002</td>
                            <td>נחל אלכסנדר</td>
                            <td><a href="http://www.parks.org.il/ParksAndReserves/alexanderStreamHofBetYanai/Pages/default.aspx" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-003</td>
                            <td>אשקלון</td>
                            <td><a href="http://www.parks.org.il/ParksAndReserves/ashkelon/Pages/default.aspx" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-004</td>
                            <td>עבדת</td>
                            <td><a href="http://www.parks.org.il/ParksAndReserves/avdat/Pages/default.aspx" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-005</td>
                            <td>יער ברעם</td>
                            <td><a href="http://www.parks.org.il/ParksAndReserves/baram/Pages/default.aspx" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-006</td>
                            <td>עשוש</td>
                            <td><a href="http://www.inature.info/wiki/%D7%A9%D7%9E%D7%95%D7%A8%D7%AA_%D7%A2%D7%A9%D7%95%D7%A9" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-007</td>
                            <td>בית גוברין - מרשה</td>
                            <td><a href="http://www.parks.org.il/ParksAndReserves/betGuvrinMaresha/Pages/default.aspx" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-008</td>
                            <td>בית שאן</td>
                            <td><a href="http://www.parks.org.il/ParksAndReserves/betShean/Pages/default.aspx" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-009</td>
                            <td>עיר דוד</td>
                            <td><a href="http://www.parks.org.il/ParksAndReserves/cityofDavidJerusalem%20Walls/Pages/default.aspx" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-010</td>
                            <td>קיסריה</td>
                            <td><a href="http://www.parks.org.il/ParksAndReserves/caesarea/Pages/default.aspx" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-011</td>
                            <td>חוף דור\הבונים</td>
                            <td><a href="http://www.parks.org.il/ParksAndReserves/dorHabonim/Pages/default.aspx" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-012</td>
                            <td>גילבוע</td>
                            <td><a href="http://he.wikipedia.org/wiki/%D7%94%D7%A8_%D7%94%D7%92%D7%9C%D7%91%D7%95%D7%A2" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-013</td>
                            <td>הנחלים הגדולים</td>
                            <td><a href="http://www.inature.info/wiki/%D7%A9%D7%9E%D7%95%D7%A8%D7%AA_%D7%94%D7%A0%D7%97%D7%9C%D7%99%D7%9D_%D7%94%D7%92%D7%93%D7%95%D7%9C%D7%99%D7%9D_%D7%95%D7%A7%D7%98%D7%95%D7%A8%D7%94" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-014</td>
                            <td>הר הנגב</td>
                            <td><a href="http://www.parks.org.il/ParksAndReserves/negev/Pages/default.aspx" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-015</td>
                            <td>החולה</td>
                            <td><a href="http://www.parks.org.il/ParksAndReserves/hula/Pages/default.aspx" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-016</td>
                            <td>עין גדי</td>
                            <td><a href="http://www.parks.org.il/ParksAndReserves/enGedi/Pages/default.aspx" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-017</td>
                            <td>מדבר יהודה</td>
                            <td>&nbsp;</td>
                            <tr>
                        <tr>
                            <td>4XFF-018</td>
                            <td>הבשור, אשכול</td>
                            <td><a href="http://www.parks.org.il/ParksAndReserves/eshkol/Pages/default.aspx" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-019</td>
                            <td>הרי יהודה</td>
                            <td><a href="http://www.parks.org.il/ParksAndReserves/yhuda/Pages/default.aspx" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-020</td>
                            <td>מכתשים, עין יהב</td>
                            <td><a href="http://www.inature.info/wiki/%D7%A9%D7%9E%D7%95%D7%A8%D7%AA_%D7%9E%D7%9B%D7%AA%D7%A9%D7%99%D7%9D_%D7%A2%D7%99%D7%9F_%D7%99%D7%94%D7%91" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-021</td>
                            <td>הרי אילת</td>
                            <td><a href="http://www.inature.info/wiki/%D7%A9%D7%9E%D7%95%D7%A8%D7%AA_%D7%94%D7%A8%D7%99_%D7%90%D7%99%D7%9C%D7%AA" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-022</td>
                            <td>הר מירון, נחל עמוד</td>
                            <td><a href="http://www.parks.org.il/ParksAndReserves/meron/Pages/default.aspx" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-023</td>
                            <td>הר חרמון, בניאס, שניר, נמרוד</td>
                            <td><a href="http://www.parks.org.il/ParksAndReserves/nahalSnir/Pages/default.aspx" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-024</td>
                            <td>כורסי</td>
                            <td><a href="http://www.parks.org.il/ParksAndReserves/kursi/Pages/default.aspx" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-025</td>
                            <td>הר תבור, נחל תבור</td>
                            <td><a href="http://www.parks.org.il/ParksAndReserves/nahalTavor/Pages/default.aspx" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-026</td>
                            <td>ממשית</td>
                            <td><a href="http://www.parks.org.il/ParksAndReserves/mamshit/Pages/default.aspx" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-027</td>
                            <td>מצדה</td>
                            <td><a href="http://www.parks.org.il/ParksAndReserves/masada/Pages/default.aspx" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-028</td>
                            <td>הר הכרמל</td>
                            <td><a href="http://www.parks.org.il/ParksAndReserves/mountCarmel/Pages/default.aspx" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-029</td>
                            <td>פארק הירדן, בטחה, בית צידה, זאכי, מג'רסה</td>
                            <td><a href="http://www.parks.org.il/ParksAndReserves/majrase/Pages/default.aspx" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-030</td>
                            <td>קומראן</td>
                            <td><a href="http://www.parks.org.il/ParksAndReserves/qumran/Pages/default.aspx" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-031</td>
                            <td>פארק שרון</td>
                            <td><a href="http://www.parksharon.co.il/" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-032</td>
                            <td>שבטה</td>
                            <td><a href="http://www.parks.org.il/ParksAndReserves/shivta/Pages/default.aspx" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-033</td>
                            <td>תמנע</td>
                            <td><a href="http://www.parktimna.co.il/" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-034</td>
                            <td>יער יהודיה, גמלא, זוויתן, משושים</td>
                            <td><a href="http://www.parks.org.il/ParksAndReserves/yehudiyaforest/Pages/default.aspx" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-035</td>
                            <td>תל באר שבע</td>
                            <td><a href="http://www.parks.org.il/ParksAndReserves/telBeerSheva/Pages/default.aspx" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-036</td>
                            <td>תל חצור</td>
                            <td><a href="http://www.parks.org.il/ParksAndReserves/telHazor/Pages/default.aspx" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-037</td>
                            <td>מגידו</td>
                            <td><a href="http://www.parks.org.il/ParksAndReserves/megiddo/Pages/default.aspx" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-038</td>
                            <td>ירקון</td>
                            <td><a href="http://www.parks.org.il/ParksAndReserves/yarkon/Pages/default.aspx" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-039</td>
                            <td>מצוקי צין</td>
                            <td><a href="http://www.inature.info/wiki/%D7%A9%D7%9E%D7%95%D7%A8%D7%AA_%D7%94%D7%A8_%D7%A6%D7%99%D7%9F" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                        <tr>
                            <td>4XFF-040</td>
                            <td>ציפורי</td>
                            <td><a href="http://www.parks.org.il/ParksAndReserves/zippori/Pages/default.aspx" target="_blank"><i class="icon-info"></i></a></td>
                            <tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--/row-fluid-->

</div>

