<div data-bind="foreach: items">
    <div class="magazine-mini-news">
        <h3><span data-bind="html: title"></span></h3>
        <div class="post-author">
            <span data-bind="html: date"></span>&nbsp;\&nbsp;
            <strong><span data-bind="html: author"></span></strong>
        </div>
        <span data-bind="html: abstract"></span>
        <div class="news-read-more">
            <i class="icon-plus"></i>
            <a href="#News">קרא עוד...</a>
        </div>
    </div>
</div>
