

.hovereffect
{
    border-style:solid;
    border-width:2px;
    border-color:transparent;
}
.hovereffect:active
{
    border-style:none;
}

.page-host {
    position: relative;
    top: 40px;
    max-width:1024px;
    margin-left:auto;
    margin-right:auto;
}
.navbar-fixed-bottom .navbar-inner,
.navbar-fixed-top .navbar-inner {
    padding-left: 1em;
    padding-right: 1em;
}

.navbar-fixed-top .icon-home {
    font-size: 18px
}

.loader {
    margin: 6px 8px 4px 8px;
    visibility: hidden;
}

.loader.active {
    visibility: visible;
}

@media (max-width: 1024px) {
    .page-host {
        top: 0;
    }

    .navbar-fixed-top {
        margin-bottom: 0;
    }
}

.label-user,
.badge-user {
  background-color: #a112ed;
}

.label-audit,
.badge-audit {
  background-color: #ff05d4;
}

/*File upload progress bar*/
.bar
{
height:18px;
background-color: #000066;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
}

