
[class^="gicon_"],
[class*=" gicon_"] {
  display: inline-block;
  width: 27px !important;
  height: 26px !important;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 24px;
  vertical-align: text-top;
  background-image: url("images/glyphicons-pro.png");
  background-repeat: no-repeat;
}

.gicon_glass{
	background-position: 0 -3px ;
	width: 24px;
	height: 24px;
}

.gicon_leaf{
	background-position: -32px -3px ;
	width: 24px;
	height: 25px;
}

.gicon_car{
	background-position: -127px -34px ;
	width: 26px;
	height: 22px;
}

.gicon_user_add{
	background-position: -92px -34px ;
	width: 28px;
	height: 22px;
}

.gicon_user_remove{
	background-position: -65px -35px ;
	width: 26px;
	height: 22px;
}

.gicon_film{
	background-position: -41px -35px ;
	width: 22px;
	height: 26px;
}

.gicon_magic{
	background-position: -290px -7px ;
	width: 24px;
	height: 24px;
}

.gicon_envelope{
	background-position: -7px -42px ;
	width: 24px;
	height: 16px;
}

.gicon_camera{
	background-position: -249px -3px ;
	width: 26px;
	height: 20px;
}

.gicon_heart{
	background-position: -217px -5px ;
	width: 24px;
	height: 22px;
}

.gicon_beach_umbrella{
	background-position: -186px -3px ;
	width: 24px;
	height: 24px;
}

.gicon_train{
	background-position: -159px -2px ;
	width: 20px;
	height: 26px;
}

.gicon_dog{
	background-position: -125px -2px ;
	width: 26px;
	height: 25px;
}

.gicon_user{
	background-position: -94px -2px ;
	width: 23px;
	height: 22px;
}

.gicon_girl{
	background-position: -65px -3px ;
	width: 22px;
	height: 22px;
}

.gicon_search{
	background-position: -74px -110px ;
	width: 24px;
	height: 24px;
}

.gicon_cars{
	background-position: -260px -75px ;
	width: 36px;
	height: 25px;
}

.gicon_notes_2{
	background-position: -38px -110px ;
	width: 20px;
	height: 27px;
}

.gicon_pencil{
	background-position: -170px -70px ;
	width: 24px;
	height: 24px;
}

.gicon_bus{
	background-position: -130px -67px ;
	width: 32px;
	height: 25px;
}

.gicon_print{
	background-position: -99px -69px ;
	width: 24px;
	height: 24px;
}

.gicon_bin{
	background-position: -5px -107px ;
	width: 20px;
	height: 28px;
}

.gicon_music{
	background-position: -233px -68px ;
	width: 21px;
	height: 25px;
}

.gicon_note{
	background-position: -207px -68px ;
	width: 18px;
	height: 25px;
}

.gicon_heart_empty{
	background-position: -68px -70px ;
	width: 24px;
	height: 22px;
}

.gicon_home{
	background-position: -289px -37px ;
	width: 27px;
	height: 26px;
}

.gicon_snowflake{
	background-position: -258px -37px ;
	width: 28px;
	height: 28px;
}

.gicon_fire{
	background-position: -39px -67px ;
	width: 21px;
	height: 26px;
}

.gicon_magnet{
	background-position: -6px -72px ;
	width: 21px;
	height: 23px;
}

.gicon_parents{
	background-position: -221px -38px ;
	width: 32px;
	height: 22px;
}

.gicon_binoculars{
	background-position: -192px -36px ;
	width: 24px;
	height: 24px;
}

.gicon_road{
	background-position: -157px -36px ;
	width: 28px;
	height: 24px;
}

.gicon_camera_small{
	background-position: -166px -150px ;
	width: 22px;
	height: 24px;
}

.gicon_dislikes{
	background-position: -146px -182px ;
	width: 25px;
	height: 24px;
}

.gicon_star{
	background-position: -198px -149px ;
	width: 25px;
	height: 24px;
}

.gicon_link{
	background-position: -135px -150px ;
	width: 21px;
	height: 23px;
}

.gicon_eye_open{
	background-position: -112px -186px ;
	width: 31px;
	height: 17px;
}

.gicon_wifi_alt{
	background-position: -75px -186px ;
	width: 26px;
	height: 26px;
}

.gicon_luggage{
	background-position: -40px -184px ;
	width: 20px;
	height: 27px;
}

.gicon_old_man{
	background-position: -4px -187px ;
	width: 23px;
	height: 24px;
}

.gicon_woman{
	background-position: -235px -149px ;
	width: 22px;
	height: 22px;
}

.gicon_file{
	background-position: -273px -150px ;
	width: 19px;
	height: 24px;
}

.gicon_coins{
	background-position: -274px -110px ;
	width: 26px;
	height: 24px;
}

.gicon_airplane{
	background-position: -101px -152px ;
	width: 24px;
	height: 25px;
}

.gicon_notes{
	background-position: -74px -151px ;
	width: 20px;
	height: 25px;
}

.gicon_stats{
	background-position: -40px -151px ;
	width: 26px;
	height: 25px;
}

.gicon_charts{
	background-position: -5px -152px ;
	width: 27px;
	height: 24px;
}

.gicon_pie_chart{
	background-position: -241px -108px ;
	width: 26px;
	height: 25px;
}

.gicon_group{
	background-position: -202px -112px ;
	width: 35px;
	height: 22px;
}

.gicon_keys{
	background-position: -172px -113px ;
	width: 24px;
	height: 26px;
}

.gicon_calendar{
	background-position: -142px -110px ;
	width: 23px;
	height: 24px;
}

.gicon_router{
	background-position: -107px -110px ;
	width: 27px;
	height: 26px;
}

.gicon_tags{
	background-position: -116px -261px ;
	width: 30px;
	height: 24px;
}

.gicon_cleaning{
	background-position: -186px -258px ;
	width: 24px;
	height: 25px;
}

.gicon_ruller{
	background-position: -224px -262px ;
	width: 27px;
	height: 14px;
}

.gicon_gift{
	background-position: -263px -258px ;
	width: 24px;
	height: 25px;
}

.gicon_umbrella{
	background-position: -80px -258px ;
	width: 26px;
	height: 28px;
}

.gicon_eye_close{
	background-position: -40px -262px ;
	width: 31px;
	height: 24px;
}

.gicon_alarm{
	background-position: -3px -261px ;
	width: 27px;
	height: 25px;
}

.gicon_clock{
	background-position: -253px -225px ;
	width: 24px;
	height: 24px;
}

.gicon_stopwatch{
	background-position: -222px -221px ;
	width: 23px;
	height: 27px;
}

.gicon_projector{
	background-position: -185px -220px ;
	width: 28px;
	height: 25px;
}

.gicon_history{
	background-position: -148px -220px ;
	width: 25px;
	height: 26px;
}

.gicon_truck{
	background-position: -108px -218px ;
	width: 32px;
	height: 27px;
}

.gicon_cargo{
	background-position: -73px -220px ;
	width: 25px;
	height: 26px;
}

.gicon_compass{
	background-position: -267px -185px ;
	width: 24px;
	height: 24px;
}

.gicon_keynote{
	background-position: -36px -219px ;
	width: 20px;
	height: 30px;
}

.gicon_paperclip{
	background-position: -233px -183px ;
	width: 26px;
	height: 24px;
}

.gicon_power{
	background-position: -3px -221px ;
	width: 22px;
	height: 24px;
}

.gicon_lightbulb{
	background-position: -207px -182px ;
	width: 20px;
	height: 26px;
}

.gicon_tag{
	background-position: -177px -184px ;
	width: 24px;
	height: 24px;
}

.gicon_building{
	background-position: -73px -412px ;
	width: 24px;
	height: 26px;
}

.gicon_eyedropper{
	background-position: -39px -413px ;
	width: 24px;
	height: 24px;
}

.gicon_adjust{
	background-position: -3px -413px ;
	width: 26px;
	height: 26px;
}

.gicon_tint{
	background-position: -236px -372px ;
	width: 24px;
	height: 25px;
}

.gicon_crop{
	background-position: -203px -371px ;
	width: 26px;
	height: 26px;
}

.gicon_vector_path_square{
	background-position: -173px -371px ;
	width: 24px;
	height: 24px;
}

.gicon_vector_path_circle{
	background-position: -140px -370px ;
	width: 24px;
	height: 24px;
}

.gicon_vector_path_polygon{
	background-position: -106px -371px ;
	width: 26px;
	height: 25px;
}

.gicon_vector_path_line{
	background-position: -72px -375px ;
	width: 24px;
	height: 24px;
}

.gicon_vector_path_curve{
	background-position: -38px -375px ;
	width: 24px;
	height: 24px;
}

.gicon_vector_path_all{
	background-position: -4px -375px ;
	width: 24px;
	height: 24px;
}

.gicon_font{
	background-position: -280px -220px ;
	width: 27px;
	height: 23px;
}

.gicon_book{
	background-position: -268px -329px ;
	width: 22px;
	height: 24px;
}

.gicon_bookmark{
	background-position: -237px -335px ;
	width: 15px;
	height: 24px;
}

.gicon_wifi{
	background-position: -196px -335px ;
	width: 31px;
	height: 23px;
}

.gicon_cup{
	background-position: -169px -336px ;
	width: 22px;
	height: 24px;
}

.gicon_stroller{
	background-position: -137px -334px ;
	width: 25px;
	height: 26px;
}

.gicon_headphones{
	background-position: -107px -333px ;
	width: 24px;
	height: 24px;
}

.gicon_headset{
	background-position: -75px -332px ;
	width: 24px;
	height: 28px;
}

.gicon_warning_sign{
	background-position: -37px -334px ;
	width: 29px;
	height: 24px;
}

.gicon_signal{
	background-position: -4px -336px ;
	width: 24px;
	height: 24px;
}

.gicon_retweet{
	background-position: -247px -302px ;
	width: 28px;
	height: 15px;
}

.gicon_refresh{
	background-position: -215px -296px ;
	width: 25px;
	height: 26px;
}

.gicon_roundabout{
	background-position: -184px -299px ;
	width: 26px;
	height: 26px;
}

.gicon_random{
	background-position: -149px -303px ;
	width: 28px;
	height: 20px;
}

.gicon_heat{
	background-position: -113px -297px ;
	width: 29px;
	height: 25px;
}

.gicon_repeat{
	background-position: -81px -296px ;
	width: 23px;
	height: 26px;
}

.gicon_display{
	background-position: -41px -297px ;
	width: 28px;
	height: 24px;
}

.gicon_log_book{
	background-position: -7px -300px ;
	width: 22px;
	height: 24px;
}

.gicon_address_book{
	background-position: -155px -259px ;
	width: 22px;
	height: 24px;
}

.gicon_embed{
	background-position: -234px -492px ;
	width: 30px;
	height: 14px;
}

.gicon_embed_close{
	background-position: -267px -486px ;
	width: 30px;
	height: 24px;
}

.gicon_table{
	background-position: -165px -486px ;
	width: 24px;
	height: 24px;
}

.gicon_message_full{
	background-position: -202px -486px ;
	width: 24px;
	height: 28px;
}

.gicon_italic{
	background-position: -263px -453px ;
	width: 14px;
	height: 24px;
}

.gicon_bold{
	background-position: -232px -453px ;
	width: 19px;
	height: 24px;
}

.gicon_text_underline{
	background-position: -200px -452px ;
	width: 20px;
	height: 24px;
}

.gicon_text_strike{
	background-position: -170px -455px ;
	width: 20px;
	height: 22px;
}

.gicon_text_height{
	background-position: -138px -454px ;
	width: 26px;
	height: 24px;
}

.gicon_text_width{
	background-position: -106px -455px ;
	width: 22px;
	height: 24px;
}

.gicon_text_resize{
	background-position: -70px -453px ;
	width: 26px;
	height: 26px;
}

.gicon_left_indent{
	background-position: -41px -455px ;
	width: 24px;
	height: 22px;
}

.gicon_right_indent{
	background-position: -9px -455px ;
	width: 24px;
	height: 22px;
}

.gicon_align_left{
	background-position: -104px -410px ;
	width: 24px;
	height: 21px;
}

.gicon_align_center{
	background-position: -138px -411px ;
	width: 24px;
	height: 21px;
}

.gicon_align_right{
	background-position: -168px -414px ;
	width: 24px;
	height: 21px;
}

.gicon_justify{
	background-position: -200px -413px ;
	width: 24px;
	height: 21px;
}

.gicon_list{
	background-position: -232px -412px ;
	width: 24px;
	height: 21px;
}

.gicon_text_smaller{
	background-position: -265px -415px ;
	width: 22px;
	height: 16px;
}

.gicon_text_bigger{
	background-position: -269px -372px ;
	width: 24px;
	height: 22px;
}

.gicon_inbox_in{
	background-position: -237px -568px ;
	width: 24px;
	height: 26px;
}

.gicon_inbox_out{
	background-position: -204px -569px ;
	width: 24px;
	height: 26px;
}

.gicon_cogwheel{
	background-position: -173px -571px ;
	width: 24px;
	height: 24px;
}

.gicon_cogwheels{
	background-position: -132px -571px ;
	width: 34px;
	height: 27px;
}

.gicon_picture{
	background-position: -103px -573px ;
	width: 24px;
	height: 20px;
}

.gicon_adjust_alt{
	background-position: -71px -570px ;
	width: 23px;
	height: 24px;
}

.gicon_database_lock{
	background-position: -38px -565px ;
	width: 26px;
	height: 28px;
}

.gicon_message_empty{
	background-position: -8px -564px ;
	width: 24px;
	height: 28px;
}

.gicon_message_in{
	background-position: -258px -525px ;
	width: 24px;
	height: 28px;
}

.gicon_message_out{
	background-position: -225px -524px ;
	width: 24px;
	height: 28px;
}

.gicon_message_plus{
	background-position: -192px -528px ;
	width: 29px;
	height: 23px;
}

.gicon_message_minus{
	background-position: -154px -529px ;
	width: 29px;
	height: 23px;
}

.gicon_message_ban{
	background-position: -117px -528px ;
	width: 29px;
	height: 23px;
}

.gicon_message_flag{
	background-position: -82px -528px ;
	width: 27px;
	height: 23px;
}

.gicon_message_lock{
	background-position: -48px -526px ;
	width: 28px;
	height: 24px;
}

.gicon_message_new{
	background-position: -7px -527px ;
	width: 28px;
	height: 22px;
}

.gicon_inbox{
	background-position: -25px -491px ;
	width: 24px;
	height: 23px;
}

.gicon_inbox_plus{
	background-position: -60px -489px ;
	width: 27px;
	height: 27px;
}

.gicon_inbox_minus{
	background-position: -95px -489px ;
	width: 27px;
	height: 27px;
}

.gicon_inbox_lock{
	background-position: -129px -489px ;
	width: 26px;
	height: 28px;
}

