<div style="margin-top: 50px; direction: rtl">
    <h2>שיעורים</h2>

    <div id="accordion" class="nav pull-right" data-bind="foreach: videoList">
        <h3 data-bind="text: ' שיעור ' + i + ': ' + '&nbsp;&nbsp;&nbsp;' + d"></h3>
        <div>
            <div class="span2 pull-right">
                <a class="fancy" data-fancybox-type="iframe" data-bind="attr: { 'href': yt, 'title':d }" style="text-decoration: none; cursor: pointer">
                    <img class="hovereffect" data-bind="attr: { src: 'Content/images/youtube.png' }" alt="" style="width: 128px; height: 128px;" />
                </a>
            </div>
            <div class="span2 pull-right" data-bind="visible: ppt != ''">
                <a class="fancyppt" data-fancybox-type="iframe" data-bind="attr: { 'href': ppt, 'title': d }" style="text-decoration: none; cursor: pointer" title="הורד מצגת">
                    <img class="hovereffect" data-bind="attr: { src: 'Content/images/powerpoint.png' }" alt="" style="width: 128px; height: 128px;" />
                </a>
            </div>
            <div class="span2 pull-right" data-bind="visible: exm != undefined && exm != ''">
                <a class="fancyexm" data-fancybox-type="iframe" data-bind="attr: { 'href': exm, 'title': d }" style="text-decoration: none; cursor: pointer" title="הורד שאלות ממבחנים">
                    <img class="hovereffect" data-bind="attr: { src: 'Content/images/exam.jpg' }" alt="" style="width: 128px; height: 128px;" />
                </a>
            </div>
        </div>
    </div>
    <div style="height:20px;margin-top:20px;">&nbsp;</div>
</div>



