<div class="container">
    <div class="row-fluid privacy text-left" style="direction:ltr">

        <h4>4Z8</h4>
        <p>
          This information is for your convenience by IARC and not by the Ministry of Communications. The Ministry of Communications is not obligated by this page.<br />
            source: <a href="././Content/docs/4x_cept.pdf" target="_blank">4x_cept.pdf</a><br />
        </p>
        <hr />
        <h4>Release of the call series 4Z8 for Foreign Amateur Radio Operators</h4>
        <p>
            The Ministry of Communications, being the sole responsible issuing Authority, for amateur radio call signs, recognizes CEPT Recommendation T/R 61-02, and will (under this recommendation) issue a National Israeli call sign in the series 4Z8, to amateur radio operators, which are coming from countries that have implemented and are participating in the CEPT Recommendation T/R 61-02.<br /><br />
            A personal application for a Radio Amateur License in the series 4Z8 has to be made and requested from the Ministry of Communications. Each application will be decided on its own merit.
        </p>

        <label>The application for this category must comply with the following conditions:</label>
        <ul>
            <li>The applicant should be or have, continues employment in Israel for a period of more than 1 year, (365 days) by a recognized Employer, who’s place of business is registered locally.</li>
            <li>The applicant must show proof that he has a valid (official) work permit, for employment in Israel and for which period of time, issued by The Department Labor & Welfare.</li>
            <li>The applicant must show proof that he has a visa, or passport, stating to have gained entry into the country as a "Temporary Resident" issued by the Ministry of the Interior.</li>
            <li>The applicant must show proof that he is in the possession of a current valid, Amateur Radio license compatible with the CEPT Recommendation T/R 61-02, without any blemish.</li>
            <li>The applicant should not have had, in the past or at present an Israeli callsign.</li>
            <li>The applicant, does not have had, in the past or at present, the status of a Israeli Citizen, or permanent Resident.</li>
        </ul>

        <hr />

        <label>The following documents must be submitted:</label>
        <ol>
            <li>Letter from employer, stating kind of work, duration, residency, etc.</li>
            <li>Show proof of temporary residency, (copy of contract for living quarters) for at least the period described as above.</li>
            <li>Copy of the work permit.</li>
            <li>Copy of the visa or passport document.</li>
            <li>Copy of the license</li>
        </ol>

        <hr />

        <label>If a local 4Z8 license is issued, its validity is in force only:</label>
        <ol>
            <li>if the licensing fee has been duly paid</li>
            <li>for as long as its validity is indicated on the license.</li>
        </ol>
        
    </div>
</div>

