<div class="container">

    <div class="row-fluid privacy text-left" style="direction: ltr">

        <h4>Beacons</h4>
        <p>
            There are several amateur radio beacons that operate in Israel.
        </p>
        <hr />

        <h4>4X6TU</h4>
        <p>The 4X6TU was used to run in Tel-Aviv University (hence the callsign TU). This is an HF beacon, and is active on several frequencies. These days It is active from the top of "Mishan" building in Giva'taim.</p>
        
        <hr />
        
        <h4>4X4SIX</h4>
        <p>
            The 4X4SIX beacon was active on the educational TV station in Ramat-Aviv and was maintained by Yehuda 4X6ON that also built its antenna. The beacon itself was built by Jacob 4Z5AY.<br />
            Today, the beacon is in Jerusalem and maintained by Carlos 4X1ZC.
        </p>
    </div>
    <!--/row-fluid-->

</div>

