<div class="container">

    <div class="row-fluid privacy text-left" style="direction:ltr">

        <h4>Licensing information for Israel - 4X</h4>
        <p>
            Israel implements CEPT T/R 61-01 and 02; reciprocal licenses are given to visitors by IARC.<br />
            see CEPT instructions of Israel at <a href="././Content/docs/4x_cept.pdf" target="_blank">4x_cept.pdf</a><br />
            All visitors' licenses handled by IARC if not according to CEPT T/R 61-01 and 02.
        </p>
        <div class="tag-box tag-box-v2">
            <p>
                IARC Address:<br />
                Israel Amateur Radio Club<br />
                P.O.Box 17600<br />
                Tel Aviv 6117501 Israel<br />
            </p>
        </div>
        <hr />
        <h4>CEPT countries, up to 3 months stay</h4>
        <p>
            Amateurs coming from countries that have CEPT implemented the CEPT T/R 61-01 agreement, do not have to apply for any reciprocal license. They can bring their equipment, and operate in Israel for a period of up to 3 months, providing that they have a valid "home country" license with them. Their call sign is as follows, 4X/ and home call. (see CEPT and special CEPT instructions of Israel)<br />
            <br />
            NON-EUROPEAN countries that have CEPT implemented the CEPT T/R 61-01 agreement, do not have to apply for any reciprocal license. Participating countries are: Australia, Canada, Israel, New Zealand, Netherlands Antilles, Peru, South Africa, USA.<br />
            <br />
            Amateurs coming from countries that have CEPT implemented the CEPT T/R 61-02 agreement, have to apply for a reciprocal license if staying for a period of more than 3 months.<br />
            <br />
            Being that the above mentioned countries are now participating in the "CEPT Recommendation T/R 61-01" as one of the non-European Countries, implementing this licensing agreement, just like Israel has done some years ago. It is not necessary anymore to apply and file any paperwork concerning, a temporary amateur radio reciprocal license. Under the "CEPT Recommendation T/R 61-01" you are allowed to operate your amateur radio equipment for a period of up to 3 months, according to your own (home country) licensing conditions and the prevailing rules of the country being visited. (Bring your present valid license with you)<br />
            <br />
            Israel is in IARU Region 1, which has a slightly different band plan and power limits.
        </p>
        <!--<hr />
         <h4>More than 3 months, or non-CEPT countries</h4>
        <p>
            Any other country, that does not participate in the CEPT agreements, will have to notify the Israel Amateur Radio Club (see form 006). The Israel Amateur Radio Club can help in obtaining a reciprocal license. Application form 006 is <a href="http://www.qsl.net/oh2mcn/4xa.htm" target="_blank">here</a> as well as information as to what other documents are required.
        </p>-->

    </div>
    <!--/row-fluid-->

</div>

