<div class="container">
    <div class="row-fluid privacy text-left" style="direction: ltr">
        <h4>IARC Repeaters Network</h4>
        <p>
            Below is the repeaters network as maintained by IARC in routine and emergency.
        </p>
        <hr />
    </div>

    <div class="row-fluid text-left" style="direction: ltr">
        <div class="col-md-12">
            <div class="panel panel-red margin-bottom-40">
                <div class="panel-heading">
                    <h4 class="panel-title">VHF Repeaters</h4>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="text-align: left">Repeater</th>
                            <th style="text-align: left">Frequency</th>
                            <th style="text-align: left">Shift</th>
                            <th style="text-align: left">PL</th>
                            <th style="text-align: left">Location</th>
                            <th style="text-align: left">Comments</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>R-0</td>
                            <td>145.600</td>
                            <td>- 600Khz</td>
                            <td>91.5</td>
                            <td>Mitzpe Ramon</td>
                            <td>Temporarily out of service</td>
                        </tr>
                        <tr>
                            <td>R-1</td>
                            <td>145.625</td>
                            <td>- 600Khz</td>
                            <td>91.5</td>
                            <td>Jerusalem</td>
                            <td>sends PL 71.9</td>
                        </tr>
                        <tr>
                            <td>R-3</td>
                            <td>145.675</td>
                            <td>- 600Khz</td>
                            <td>91.5</td>
                            <td>Megido</td>
                            <td></td>
                        </tr>
                        <!--<tr>
                            <td>R-4.5</td>
                            <td>145.7125</td>
                            <td>600Khz -</td>
                            <td>91.5</td>
                            <td>Bental</td>
                            <td>sends PL 91.5</td>
                        </tr>-->
                        <tr>
                            <td>R-7</td>
                            <td>145.775</td>
                            <td>- 600Khz</td>
                            <td>91.5</td>
                            <td>Tel Aviv</td>
                            <td>sends PL 91.5</td>
                        </tr>
                        <tr>
                            <td>R-12A</td>
                            <td>144.700</td>
                            <td>+ 600Khz</td>
                            <td>91.5</td>
                            <td>Haifa</td>
                            <td>sends PL 91.5</td>
                        </tr>
                        <tr>
                            <td>R-12B</td>
                            <td>145.300</td>
                            <td>- 600Khz</td>
                            <td>91.5</td>
                            <td>Eilat</td>
                            <td>Temporarily out of service</td>
                        </tr>
                        <tr>
                            <td>R-12C</td>
                            <td>145.3125</td>
                            <td>- 600Khz</td>
                            <td>91.5</td>
                            <td>Be'er Sheva</td>
                            <td>sends PL 91.5</td>
                        </tr>
                        <tr>
                            <td>R-13</td>
                            <td>145.325</td>
                            <td>- 600Khz</td>
                            <td>91.5</td>
                            <td>Yatir</td>
                            <td>sends PL 91.5</td>
                        </tr>
                        <tr>
                            <td>R-14</td>
                            <td>145.350</td>
                            <td>- 600Khz</td>
                            <td>91.5</td>
                            <td>Zefat</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>R-15</td>
                            <td>144.775</td>
                            <td>+ 600Khz</td>
                            <td>91.5</td>
                            <td>Giva'taim</td>
                            <td>sends PL 114.8</td>
                        </tr>
                        <tr>
                            <td>R-16</td>
                            <td>145.400</td>
                            <td>- 600Khz</td>
                            <td>91.5</td>
                            <td>Netania</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>R-18</td>
                            <td>145.450</td>
                            <td>- 600Khz</td>
                            <td>91.5</td>
                            <td>Kiryat Uno</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row-fluid text-left" style="direction: ltr">
                
                    <div class="panel panel-blue margin-bottom-40">
                        <div class="panel-heading">
                            <h4 class="panel-title">Analog UHF Repeaters</h4>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="text-align: left">Repeater</th>
                                    <th style="text-align: left">Frequency</th>
                                    <th style="text-align: left">Shift</th>
                                    <th style="text-align: left">PL</th>
                                    <th style="text-align: left">Location</th>
                                    <th style="text-align: left">Comments</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>R-70</td>
                                    <td>438.650</td>
                                    <td>7.6Mhz -</td>
                                    <td>91.5</td>
                                    <td>Tel Aviv</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>R-73</td>
                                    <td>438.725</td>
                                    <td>7.6Mhz -</td>
                                    <td>91.5</td>
                                    <td>Haifa</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>R-80</td>
                                    <td>438.850</td>
                                    <td>7.6Mhz -</td>
                                    <td>91.5</td>
                                    <td>Ma'ale Gilboa</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="panel panel-green margin-bottom-40">
                        <div class="panel-heading">
                            <h4 class="panel-title">Digital UHF Repeaters</h4>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="text-align: left">Repeater</th>
                                    <th style="text-align: left">Rx</th>
                                    <th style="text-align: left">Tx</th>
                                    <th style="text-align: left">Color Code</th>
                                    <th style="text-align: left">QTH</th>
                                    <th style="text-align: left">Talk Group</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>R-70 (425201) </td>
                                    <td>438.650</td>
                                    <td>431.050</td>
                                    <td>1</td>
                                    <td>Tel Aviv</td>
                                    <td>Connceted to BrandMeister Network</td>
                                </tr>
                                <tr>
                                    <td>R-71 (425202) </td>
                                    <td>438.675</td>
                                    <td>431.075</td>
                                    <td>1</td>
                                    <td>Rosh Ha'ayin</td>
                                    <td>Connceted to BrandMeister Network</td>
                                </tr>
                                <tr>
                                    <td>R-73 (425301) </td>
                                    <td>438.725</td>
                                    <td>431.125</td>
                                    <td>1</td>
                                    <td>Haifa</td>
                                    <td>Connceted to BrandMeister Network</td>
                                </tr>
                                <tr>
                                    <td>R-75 (425401) </td>
                                    <td>438.775</td>
                                    <td>431.175</td>
                                    <td>1</td>
                                    <td>Be'er Sheva</td>
                                    <td>MMDVM - Connceted to BrandMeister Network</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="panel panel-black margin-bottom-40">
                        <div class="panel-heading">
                            <h4 class="panel-title">Links</h4>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="text-align: left">Frequency</th>
                                    <th style="text-align: left">Location</th>
                                    <th style="text-align: left">Links to</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>439.950</td>
                                    <td>Belvoir Fortress</td>
                                    <td>Haifa Repeater</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        
    </div>
</div>