<div class="container">
    <div class="row-fluid privacy text-left" style="direction: ltr">
        <h4>IARC Repeaters Network</h4>
        <p>
            Below is the repeaters network as maintained by IARC in routine and emergency.
        </p>
        <hr />
    </div>

    <div class="row-fluid text-left" style="direction: ltr">
        <div class="col-md-12">
            <span>Multi site repeater is a connection of several repeaters to cover a large geographical area</span>
            <div class="panel panel-red margin-bottom-40">
                <div class="panel-heading">
                    <h4 class="panel-title">Analog VHF Repeaters</h4>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="text-align: left">Repeater</th>
                            <th style="text-align: left">Frequency</th>
                            <th style="text-align: left">Shift</th>
                            <th style="text-align: right">PL(tx)</th>
                            <th style="text-align: right">PL(rx)</th>
                            <th style="text-align: left">Location</th>
                            <th style="text-align: left">Comments</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>R-0</td>
                            <td>145.600</td>
                            <td>- 600Khz</td>
                            <td>91.5</td>
                            <td>91.5</td>
                            <td>Mitzpe Ramon</td>
                            <td>Digital repeater on demand</td>
                        </tr>
                        <tr>
                            <td>R-1</td>
                            <td>145.625</td>
                            <td>- 600Khz</td>
                            <td>91.5</td>
                            <td>91.5</td>
                            <td>Jerusalem</td>
                            <td>Connected to multi-site repeater</td>
                        </tr>
                        <tr>
                            <td>R-3</td>
                            <td>145.675</td>
                            <td>- 600Khz</td>
                            <td>91.5</td>
                            <td>91.5</td>
                            <td>Megido</td>
                            <td>Connected to multi-site repeater</td>
                        </tr>
                        <tr>
                            <td>R-7</td>
                            <td>145.775</td>
                            <td>- 600Khz</td>
                            <td>91.5</td>
                            <td>91.5</td>
                            <td>Tel Aviv</td>
                            <td>Connected to multi-site repeater</td>
                        </tr>
                        <tr>
                            <td>R-12A</td>
                            <td>145.300</td>
                            <td>- 600Khz</td>
                            <td>91.5</td>
                            <td>91.5</td>
                            <td>Haifa</td>
                            <td>Connected to multi-site repeater</td>
                        </tr>
                        <tr>
                            <td>R-11.5</td>
                            <td>145.2875</td>
                            <td>- 600Khz</td>
                            <td>91.5</td>
                            <td>91.5</td>
                            <td>Be'er Sheva</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>R-13</td>
                            <td>145.325</td>
                            <td>- 600Khz</td>
                            <td>91.5</td>
                            <td>91.5</td>
                            <td>Yatir</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>R-14</td>
                            <td>145.350</td>
                            <td>- 600Khz</td>
                            <td>91.5</td>
                            <td>91.5</td>
                            <td>Hermon</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>R-15</td>
                            <td>144.775</td>
                            <td>+ 600Khz</td>
                            <td>91.5</td>
                            <td>114.8</td>
                            <td>Giva'taim</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>R-16</td>
                            <td>145.400</td>
                            <td>- 600Khz</td>
                            <td>91.5</td>
                            <td></td>
                            <td>Netania</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>R-18</td>
                            <td>145.450</td>
                            <td>- 600Khz</td>
                            <td>91.5</td>
                            <td></td>
                            <td>Kiryat Uno</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel panel-blue margin-bottom-40">
                <div class="panel-heading">
                    <h4 class="panel-title">Analog UHF Repeaters</h4>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="text-align: left">Repeater</th>
                            <th style="text-align: left">Frequency</th>
                            <th style="text-align: left">Shift</th>
                            <th style="text-align: right">PL(tx)</th>
                            <th style="text-align: right">PL(rx)</th>
                            <th style="text-align: left">Location</th>
                            <th style="text-align: left">Comments</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>R-70</td>
                            <td>438.650</td>
                            <td>7.6Mhz -</td>
                            <td>91.5</td>
                            <td>91.5</td>
                            <td>Tel Aviv</td>
                            <td>Digital repeater by default</td>
                        </tr>
                        <tr>
                            <td>R-71</td>
                            <td>438.675</td>
                            <td>7.6Mhz -</td>
                            <td>91.5</td>
                            <td>91.5</td>
                            <td>Rosh HaAyin</td>
                            <td>Digital repeater by default</td>
                        </tr>
                        <tr>
                            <td>R-73</td>
                            <td>438.725</td>
                            <td>7.6Mhz -</td>
                            <td>91.5</td>
                            <td>91.5</td>
                            <td>Haifa</td>
                            <td>Digital repeater by default</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel panel-black margin-bottom-40">
                <div class="panel-heading">
                    <h4 class="panel-title">Digital VHF Repeaters</h4>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="text-align: left">Repeater</th>
                            <th style="text-align: left">Rx</th>
                            <th style="text-align: left">Tx</th>
                            <th style="text-align: left">Color Code</th>
                            <th style="text-align: left">QTH</th>
                            <th style="text-align: left">Default TG on TS1</th>
                            <th style="text-align: left">Connectivity</th>
                            <th style="text-align: left">Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>R-0</td>
                            <td>145.600</td>
                            <td>145.000</td>
                            <td>1</td>
                            <td>Mitzpe Ramon</td>
                            <td>Dynamic</td>
                            <td>BrandMeister</td>
                            <td>Analog repeater by default</td>
                        </tr>
                        <tr>
                            <td>R-12B</td>
                            <td>145.300</td>
                            <td>144.700</td>
                            <td>1</td>
                            <td>Eilat (future repeater)</td>
                            <td>425</td>
                            <td>BrandMeister</td>
                            <td>TS2 is available for any talk group</td>
                        </tr>
                        <tr>
                            <td>R-14</td>
                            <td>145.350</td>
                            <td>144.750</td>
                            <td>1</td>
                            <td>Hermon</td>
                            <td>Dynamic</td>
                            <td>BrandMeister</td>
                            <td>Analog repeater by default</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel panel-green margin-bottom-40">
                <div class="panel-heading">
                    <h4 class="panel-title">Digital UHF Repeaters</h4>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="text-align: left">Repeater</th>
                            <th style="text-align: left">Rx</th>
                            <th style="text-align: left">Tx</th>
                            <th style="text-align: left">Color Code</th>
                            <th style="text-align: left">QTH</th>
                            <th style="text-align: left">Default TG on TS1</th>
                            <th style="text-align: left">Connectivity</th>
                            <th style="text-align: left">Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>R-68 (425101) </td>
                            <td>438.600</td>
                            <td>431.000</td>
                            <td>1</td>
                            <td>Jerusalem</td>
                            <td>425</td>
                            <td>BrandMeister</td>
                            <td>TS2 is available for any talk group</td>
                        </tr>
                        <tr>
                            <td>R-68 (425902) </td>
                            <td>438.600</td>
                            <td>431.000</td>
                            <td>1</td>
                            <td>Eilat</td>
                            <td>425</td>
                            <td>BrandMeister</td>
                            <td>TS2 is available for any talk group</td>
                        </tr>
                        <tr>
                            <td>R-70 (425201) </td>
                            <td>438.650</td>
                            <td>431.050</td>
                            <td>1</td>
                            <td>Tel Aviv</td>
                            <td>425</td>
                            <td>BrandMeister</td>
                            <td>TS2 is available for any talk group</td>
                        </tr>
                        <tr>
                            <td>R-71 (425202) </td>
                            <td>438.675</td>
                            <td>431.075</td>
                            <td>1</td>
                            <td>Rosh Ha'ayin</td>
                            <td>425</td>
                            <td>BrandMeister</td>
                            <td>TS2 is available for any talk group</td>
                        </tr>
                        <tr>
                            <td>R-73 (425301) </td>
                            <td>438.725</td>
                            <td>431.125</td>
                            <td>1</td>
                            <td>Haifa</td>
                            <td>425</td>
                            <td>BrandMeister</td>
                            <td>TS2 is available for any talk group</td>
                        </tr>
                        <tr>
                            <td>R-75 (425401) </td>
                            <td>438.775</td>
                            <td>431.175</td>
                            <td>1</td>
                            <td>Be'er Sheva</td>
                            <td>425</td>
                            <td>BrandMeister</td>
                            <td>TS2 is available for any talk group</td>
                        </tr>
                        <tr>
                            <td>R-78 (425701)</td>
                            <td>438.850</td>
                            <td>431.250</td>
                            <td>1</td>
                            <td>Ma'ale Gilboa</td>
                            <td>425</td>
                            <td>BrandMeister</td>
                            <td>TS2 is available for any talk group</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row-fluid privacy text-left" style="direction: ltr">
        <u>DMR Network</u><br />
        Local BrandMeister server: 4251. DNS Address: brandmeister-il.ddns.net password: passw0rd<br />
        Local Israel talk group: TG425. Color code:1 Time slot:1 This TG is available statically on all DMR repeaters except Mitzpe Ramon and Hermon. On those repeaters it is available on demand (Dynamic TG)<br />
        All other talk groups: please respect local convention and use Time slot 2.<br />
        Parrot is available as a Private call to ID 425997 when connected to local BM server only.<br />
        Bridge to analog FM repeaters network: Use Talk group TG42577. Please use Time slot 2.<br />
        Network access to analog repeaters via AllStar: please connect to node 46737<br />
    </div>
</div>
