<div class="text-right">
    <h1>ברוכים הבאים לקורס חובבי רדיו מתוקשב</h1>
    <div class="pull-right">
        <!--<div class="pull-right">
            <div class="span5">
                <h3><i class="icon icon-ok"></i>&nbsp;שיעורים</h3>
                <a href="#lessons"><h4>כאן תוכלו למצוא את כל החומר מחולק לשיעורים</h4></a>
            </div>
        </div>
        <div style="clear: both"></div>-->
        <div class="pull-right">
            <div class="span5">
                <h3><i class="icon icon-facetime-video"></i>&nbsp;שיעורים</h3>
                <a href="#lessons"><h4>כאן תוכלו למצוא את כל השיעורים</h4></a>
            </div>
        </div>
        <div style="clear: both"></div>
        <div class="pull-right">
            <div class="span5">
                <h3><i class="icon icon-film"></i>&nbsp;מצגות</h3>
                <a href="#presentations"><h4>כאן תוכלו למצוא מצגות בנושאים שונים </h4></a>
            </div>
        </div>
        <div style="clear: both"></div>
        <div class="pull-right" data-bind="visible: role() != 'restricted'">
            <div class="span5">
                <h3><i class="icon icon-pencil"></i>&nbsp;מבחנים</h3>
                <a href="#exams"><h4>כאן תוכלו למצוא שאלות ממבחנים </h4></a>
            </div>
        </div>
    </div>
    <div class="pull-right">
        
        <div class="pull-right">
            <div class="span5">
                <h3><i class="icon icon-share"></i>&nbsp;קישורים</h3>
                <a href="#links"><h4>כאן תוכלו למצוא קישורים לאתרים בתחום</h4></a>
            </div>
        </div>
        <div style="clear: both"></div>
        <div class="pull-right">
            <div class="span5">
                <h3><i class="icon icon-file"></i>&nbsp;קבצים</h3>
                <a href="#files"><h4>כאן תוכלו למצוא קבצים להורדה</h4></a>
            </div>
        </div>
        <div style="clear: both"></div>
        <div class="pull-right" data-bind="visible: role() != 'restricted'">
            <div class="span5">
                <h3><i class="icon icon-user"></i>&nbsp;פורום</h3>
                <a href="#forum"><h4>כאן תוכלו לשאול שאלות ולהתעדכן בהודעות</h4></a>
            </div>
        </div>
        
    </div>

    <div style="clear: both"></div>
    <div style="margin-top: 20px; margin-left: 100px; margin-right: auto">
        <img data-bind="attr: { src: Image }" alt="" width="700px" style="width:700px;"/>
    </div>
</div>
