<div class="row" style="direction: rtl">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>שלום, נא הכנס שם וסיסמה</h4>
            </div>
            <div class="panel-body">
                <form accept-charset="UTF-8" role="form">
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="שם משתמש" name="username" type="text" data-bind="value: username">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="סיסמה" name="password" type="password" data-bind="value: password">
                        </div>
                        <input class="btn btn-lg btn-success btn-block" type="submit" value="הכנס" data-bind="click: login">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
