<div class="container">
    <div class="row-fluid privacy text-left" style="direction: ltr">
        <br />
        <h2>Holyland Certificate Request Form</h2>
        <form method="post" action="Server/teuda.php" target="_blank">
            <div class="row">
                <div class="col-md-8 margin-bottom-20">
                    <input type="text" class="form-control" id="callsign" name="callsign" placeholder="Callsign">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 margin-bottom-20">
                    <input type="text" class="form-control" id="year" name="year" placeholder="Year">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 margin-bottom-20">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-8">
                    <input type="submit" name="submit" value="Generate">
                </div>
            </div>

        </form>
    </div>
</div>