<div class="container">
    <div class="row-fluid privacy text-left" style="direction: ltr">
        <h2 class="text-center">WORLDWIDE HOLYLAND CONTEST (WWHC)</h2><br />
        <h3 class="text-center">Friday, April 14, 21.00UTC - Saturday, April 15, 21.00UTC</h3>
        <hr />
        <h4>
            The Holyland contest has changed and as of 2023 is a worldwide contest (WWHC).<br />
            Please take the time to read the <a href="http://www.iarc.org/iarc/Content/docs/Holyland2023eng.pdf" target="_blank">new rules</a>.
        </h4>
        
     </div>
        <!--
            <div class="row-fluid privacy text-left" style="direction: ltr">
                <h2 class="text-center">HOLYLAND CONTEST</h2><br />
                <h3 class="text-center">Friday, April 15, 21.00UTC - Saturday, April 16, 21.00UTC</h3>
                <hr />
                <span class="pull-right text-right"><a href="#HolylandResults">Results Page</a></span>

                <h4>The Aim:</h4>
                <ul>
                    <li>To promote contacts between Radio Amateurs around the globe and Israeli Hams.</li>
                    <li>To aid Amateurs to achieve the "Holyland Award" and other Israeli awards.</li>
                </ul>
                <ol>
                    <li>
                        <label>Eligibility:</label>
                        All licensed amateurs and SWL's worldwide.
                    </li>
                    <li>
                        <label>Object:</label>
                        To contact as many different Israeli amateur radio stations on as many bands, and from as many 'Areas' as possible in different modes CW, SSB and DIGITAL.
                    </li>
                    <li>
                        <label>Period:</label>
                        <div style="color: red">Start: Friday, April 15, 21.00UTC.</div>
                        <div style="color: red">End: Saturday, April 16, 21.00UTC.</div>
                    </li>
                    <li>
                        <label>Categories:</label>
                        <ol>
                            <li>
                                <label>Single operator:</label>
                                <ol>
                                    <li>Single operator - MIX (all bands).</li>
                                    <li>Single operator - SSB only (all bands).</li>
                                    <li>Single operator - CW only (all bands).</li>
                                    <li>Single operator - Digital mode (RTTY, PSK31) (all bands).</li>
                                    <li>Single operator - FT8 only (all bands). <strong><a href="http://www.iarc.org/iarc/Content/docs/FT8instructions.pdf" target="_blank">instructions</a></strong></li>
                                    <li>Single operator - QRP 10w (all bands).</li>
                                </ol>
                            </li>
                            <li>
                                <label>Multi operators</label>
                                - single transmitter, all modes, all bands
                            </li>
                            <li>
                                <label>Short Wave Listeners</label>
                                - SWL.
                            </li>
                        </ol>
                    </li>
                    <li>
                        <label>Modes:</label>
                        CW; SSB; Digital; MIX. (Mixed = minimum 2 modes).
                    </li>
                    <li>
                        <label>Bands: 1.8, 3.5, 7, 14, 21, 28 MHz.</label><br />
                        According to the IARU Region-I recommendations: 3.50-3.56, 3.60-3.65, 3.70-3.80, 7.06-7.100, 7.130-7.200, 14.00-14.06, 14.125-14.300, 21.00-21.08, 21.20-21.40, 28.00-28.10, 28.50-28.80 MHz.
                    </li>
                    <li>
                        <label>Exchange:</label>
                        <ul>
                            <li>Worldwide stations send RS(T) + QSO number starting with 001.</li>
                            <li>Israeli stations give RS(T) and 'Area'.</li>
                        </ul>
                    </li>
                    <li>
                        <label>Valid QSO:</label>
                        <ul>
                            <li>The same station may be contacted in CW, SSB, FT8 and Digital mode on each band. It is thus possible to make up to 24 valid QSO's with the same station if worked in CW, SSB, FT8 and Digital on each band.</li>
                            <li>Digital mode users may work either RTTY or PSK31, but only once on each band. RTTY and PSK31 are the same Digital mode. FT8 is a new separate category.</li>
                            <li>Neither Cross-Mode nor Cross-Band contacts are permitted.</li>
                        </ul>
                    </li>
                    <li>
                        <label>QSO Points:</label>
                        <ol>
                            <li>2 points for each QSO on 1.8 - 3.5 - 7 MHz,</li>
                            <li>1 point for each QSO on 14 - 21 - 28 MHz.</li>
                        </ol>

                    </li>
                    <li>
                        <label>Multipliers:</label>
                        One multiplier for each 'Area' worked once per band.<br />
                        <label>Note:</label>
                        A district 'Area'. See explanation below.
                    </li>
                    <li>
                        <label>Final score:</label>
                        To calculate the final score, multiply the sum of QSO-points on all bands with the sum of multipliers worked on all bands.
                    </li>
                    <li>
                        <label>Logs:</label>
                        Electronic submission of logs is required for all entrants who use a computer to log the contest or prepare contest logs.<br />
                        <ol>
                            <li>Each entry shall report: Time UTC, call sign, band, mode, RS(T)S, QSO number sent, RS(T)R ('Area' received) and points. A log without all required information may be reclassified to Checklog.</li>
                            <li>SWL's shall report on Israeli stations only: UTC, band, mode, call sign, stations worked, RS(T), 'Area' sent and points.</li>
                            <li>The CABRILLO file format is the standard for logs. See the <a href="#LogUpload">LogUpload page</a> for detailed instructions on filling out the CABRILLO file header. Failure to fill out the header correctly may result in the entry being placed in the wrong category or reclassified as a Checklog.</li>
                            <li>Web upload is the preferred method of log submission. Web upload of logs is available at <a href="#LogUpload">http://www.iarc.org/iarc/#LogUpload</a>. Email submission is also available. Logs in CABRILLO format should be sent to <a href="mailto:4z4kx@iarc.org">4z4kx@iarc.org</a>. Include only the entry call sign in the “Subject:” line of the e-mail.</li>
                            <li>For NON-CABRILLO electronic logs. If you are not able to submit a CABRILLO format log, please contact the Contest Manager for assistance with submitting another format.</li>
                            <li>All logs received will be confirmed via e-mail. A listing of logs received can be found at <a href="#HolylandLogs">http://www.iarc.org/iarc/#HolylandLogs</a></li>
                        </ol>
                    </li>
                    <li>
                        <label>Submit log deadline</label>
                        Log must be submited not later than May 31.
                    </li>
                    <li>
                        <label>Prizes:</label>
                        <ol>
                            <li>A trophy for the overall winners - Multi Ops.</li>
                            <li>A trophy for the overall winner - MIX</li>
                            <li>A plaque for the overall winner - CW</li>
                            <li>A plaque for the overall winner - SSB</li>
                            <li>A plaque for the overall winner - QRP</li>
                            <li>A plaque for the overall winner - Digital mode</li>
                            <li>A plaque for the overall winner - FT8</li>
                            <li>A plaque for the overall winner - SWL</li>
                            <li>A plaque for each Continental winner - only highest scores</li>
                            <li><strong>Trophies and Plaques  will be awarded to the top scorers in their Winning Categories only when the minimum of 50 valid QSO's points has been reached</strong></li>
                            <li>Only Digital Certificates will be awarded <a href="http://www.iarc.org/iarc/#Certificategenerator" target="_blank">http://www.iarc.org/iarc/#Certificategenerator</a></li>
                        </ol>
                    </li>
                    <li>
                        <label>Special Operation:</label>
                        <ol>
                            <li>Israeli mobile stations may move and change their location during the contest, up to 10 different 'Areas', restricted to an operating time of at least half an hour per 'Area'. All mobile station are allowed to come back later to operate from the same squares again.</li>
                            <li>The operation from each 'Area' gives that station the status of a different station with another call, thus giving additional contest points and multipliers.</li>
                            <li>To identify its different location  'Area', those stations will change their callsigns by adding a number after their suffix. For example 4Z1SL will use 4Z1SL/1, 4Z1SL/2, 4Z1SL/3.....4Z1SL/9, 4Z1SL/0. (operate from 10 different squares).</li>
                        </ol>
                    </li>
                    <li>
                        <label>Software:</label>
                        The recommended log software
                        <ol>
                            <li><a href="https://4z1kd.github.io/HolyLogger/" target="_blank">HolyLogger</a></li>
                            <li>N1MM</li>
                            <li>AATest</li>
                            <li>Rec3</li>
                        </ol>
                    </li>
                </ol>

                <h4>Explaining the Multipliers:</h4>
                <ol>
                    <li>
                        <label>The square system:</label><br />
                        The country is divided geographically, by the Survey Department of Israel, into a grid system resulting in squares of 10 by 10 Kilometers. North to South coordinates are identified by numbers, while West to East coordinates are identified by letters. The square is defined through the combination of the relevant coordinates i.e. E14.
                    </li>
                    <li>
                        <label>The Administrative System:</label><br />
                        The country is divided into 23 administrative regions and regions are not multipliers!<br />
                        Here is a list of the Regions and their respective abbreviations:<br />
                        <div class="row">
                            <div class="panel-grey col-md-3">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th style="background-color: #cccccc">Region</th>
                                            <th style="background-color: #cccccc">Abb.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Akko</td>
                                            <td>AK</td>

                                        </tr>
                                        <tr>
                                            <td>Ashqelon</td>
                                            <td>AS</td>
                                        </tr>
                                        <tr>
                                            <td>Azza</td>
                                            <td>AZ</td>

                                        </tr>
                                        <tr>
                                            <td>Beer Sheva</td>
                                            <td>BS</td>
                                        </tr>
                                        <tr>
                                            <td>Bethlehem</td>
                                            <td>BL</td>

                                        </tr>
                                        <tr>
                                            <td>Hadera</td>
                                            <td>HD</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-grey col-md-3">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th style="background-color: #cccccc">Region</th>
                                            <th style="background-color: #cccccc">Abb.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Hagolan</td>
                                            <td>HG</td>

                                        </tr>
                                        <tr>
                                            <td>Haifa</td>
                                            <td>HF</td>
                                        </tr>
                                        <tr>
                                            <td>Hasharon</td>
                                            <td>HS</td>

                                        </tr>
                                        <tr>
                                            <td>Hebron</td>
                                            <td>HB</td>
                                        </tr>
                                        <tr>
                                            <td>Jenin</td>
                                            <td>JN</td>

                                        </tr>
                                        <tr>
                                            <td>Jerusalem</td>
                                            <td>JS</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-grey col-md-3">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th style="background-color: #cccccc">Region</th>
                                            <th style="background-color: #cccccc">Abb.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Kinneret</td>
                                            <td>KT</td>

                                        </tr>
                                        <tr>
                                            <td>Petah Tiqwa</td>
                                            <td>PT</td>
                                        </tr>
                                        <tr>
                                            <td>Ramallah</td>
                                            <td>RA</td>

                                        </tr>
                                        <tr>
                                            <td>Ramla</td>
                                            <td>RM</td>
                                        </tr>
                                        <tr>
                                            <td>Rehovot</td>
                                            <td>RH</td>

                                        </tr>
                                        <tr>
                                            <td>Shekhem</td>
                                            <td>SM</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-grey col-md-3">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th style="background-color: #cccccc">Region</th>
                                            <th style="background-color: #cccccc">Abb.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Telaviv</td>
                                            <td>TA</td>

                                        </tr>
                                        <tr>
                                            <td>Tulkarm</td>
                                            <td>TK</td>
                                        </tr>
                                        <tr>
                                            <td>Yarden</td>
                                            <td>YN</td>

                                        </tr>
                                        <tr>
                                            <td>Yizreel</td>
                                            <td>YZ</td>
                                        </tr>
                                        <tr>
                                            <td>Zefat</td>
                                            <td>ZF</td>
                                        </tr>
                                        <tr>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>
                    <li>
                        <label>The 'Areas' (multipliers):</label>
                        An 'Area' (multiplier) is made up from the 10 by 10 km. grid reference square and the region. For example: F15TA, E14TA, H08HF. The 'Area' is the basis for the "Holyland Award" and the "Holyland DX Contest". For that purpose the 'Area' must contain land and only that land or any waterway in that 'Area' is considered to be the 'Area'.
                    </li>
                    <li>
                        <label>Region Boundaries:</label>
                        The region boundaries are drawn in an arbitrary manner so that often the 10 km grid reference square does cover more than one single region. For example, the square H08 lies partly in the region of Haifa, partly in the region of Hadera and partly in the region of Yizreel. As a result one may work, in the same square, three different Areas - H08HF, H08HD and H08YZ.
                    </li>
                    <li>
                        <label>Maps: The Israel Survey Department has printed the following maps:</label>
                        <ol>
                            <li>Country Road Map with a 1:250.000 scale, comprising 2 sheets (<a href="http://iarc.org/site/Content/docs/isr1.jpg" target="_blank">North</a>, <a href="http://iarc.org/site/Content/docs/isr2.jpg" target="_blank">South</a>)</li>
                            <li>Country Road Map with a 1:100.000 scale, comprising 6 sheets.</li>
                            <li>Region Map with a 1:250.000 scale, comprising 2 sheets.</li>
                        </ol>
                    </li>
                </ol>
                <hr />
                <p>
                    All logs received by e-mail will be confirmed by e-mail.<br />
                    ALL FINAL RESULTS can be found on the IARC Web Site <a href="#HolylandResults">Holyland Results Page</a>
                </p>
                <p>
                    Best 73's & Shalom,<br />
                    MARK STERN 4Z4KX<br />
                    IARC CONTEST MANAGER<br />
                    <a href="mailto:4z4kx@iarc.org">4Z4KX@IARC.ORG</a>
                </p>

            </div>
            -->
    </div>
