<div class="container">

    <div class="row-fluid privacy">

        <h2>תחרות "ארץ הקודש" 2017</h2>
        <h3>
            נוהל הפעלה לחובבים ישראלים
        </h3>


        <!-- General Questions -->
            <div class="panel-group acc-v1 margin-bottom-40" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                תאריך
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            משבת ה 15 באפריל 2017 שעה 00.00 זמן מקומי עד 15 באפריל שעה 23.59 זמן מקומי.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                מטרה
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            לעודד קשר בין חובבי הרדיו בעולם לבין עמיתיהם בישראל.<br />
                            לסייע לכל חובבי הרדיו להשיג את התעודות הישראליות – בפרט תעודות ארץ הקודש.<br />
                            לעודד פעילות מיוחדת גם במצבי תחרות.<br />

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                התחומים
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            28, 21, 14, 7, 3.5 ו 1.8 מה"ץ – לפי המלצות של  IARU  . Region 1
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                הקטגוריות
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ol>
                                <li>מפעיל יחיד כל הגלים, 2 או 3 מודים (SSB/CW/Digital).</li>
                                <li>מפעיל יחיד רק CW.</li>
                                <li>מפעיל יחיד רק SSB.</li>
                                <li>מפעיל יחיד רק Digital  (RTTY או  PSK31).</li>
                                <li>מפעיל יחיד, כל הגלים, תחנה ניידת (עד 5 ריבועים שונים) חדש!</li>
                                <li>מפעיל יחיד, כל הגלים, תחנה ניידת (עד 10 ריבועים שונים) חדש!</li>
                                <li>מפעיל יחיד, כל הגלים, תחנה נישאת.(ריבוע יחיד)</li>
                                <li>מפעילים רבים, (כולל תחנת מועדון), משדר יחיד, כל הגלים.</li>
                                <li>מפעילים רבים, (כולל תחנת מועדון), משדר נייד יחיד או נישא.</li>
                                <li>חובב דרגה ג',ד'.</li>
                                <li>חובבים שומרי שבת המצטרפים במוצאי שבת.</li>
                                <li>מאזינים</li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                שיטות אפנון
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            RTTY, PSK31, SSB, CW
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                דיווח
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">
                            תחנות ישראליות ידווחו RST + 'ריבוע'.(לדוגמה F15RH)<br />
                            תחנות DX ידווחו RST + מספר רץ החל מ 001.<br />
                            מאזינים SWL ידווחו רק על תחנות DX שמסרו רפורט ומספר רץ וגם ריבוע של תחנה ישראלית איתה נעשה קשר.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                                קבילות קשר
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse">
                        <div class="panel-body">
                            כל תחנה יכולה להתקשר עם כל תחנה אחרת 3 פעמים על כל תחום ב- CW,Digital  וSSB.<br />
                            סך הכול 18 קשרים עם אותה תחנה על כל התחומים.<br />
                            קשר מעורב בין סוגי אפנון ו/או תחומים שונים – אסור.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse8">
                                ניקוד
                            </a>
                        </h4>
                    </div>
                    <div id="collapse8" class="panel-collapse collapse">
                        <div class="panel-body">
                            2 נקודות עבור כל קשר (כולל ישראל)  בתחומים 1.8, 3.5 ו 7 מה"ץ.<br />
                            1 נקודה עבור כל קשר (כולל ישראל)  בתחומים 14, 21 ו 28 מה"ץ.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse9">
                                מכפילים
                            </a>
                        </h4>
                    </div>
                    <div id="collapse9" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>כל מופע ראשון של מדינה מארצות ה DXCC בכל גל – 1 מכפיל.</li>
                                <li>כל מופע ראשון של ריבוע של תחנה ישראלית בכל גל – 1 מכפיל.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse10">
                                סיכום נקודות
                            </a>
                        </h4>
                    </div>
                    <div id="collapse10" class="panel-collapse collapse">
                        <div class="panel-body">
                            סכום כל נקודות הקשרים, מכל הגלים, מוכפל בסך כל המכפילים, מכל התחומים.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse11">
                                יומני התחנה
                            </a>
                        </h4>
                    </div>
                    <div id="collapse11" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>כל רישום חייב להכיל זמן, אות קריאה, תדר, RST + ריבוע שנשלח, RST ומספר רץ שהתקבלו, מכפילים וניקוד עבור הקשרים.</li>
                                <li>את היומנים חייבים להגיש לא יאוחר מ 31.5.2017 (לפי חותמת הדואר).</li>
                                <li>
                                    מען למשלוח יומנים: יומנים האלקטרוניים יש לעלות ישירות באתר האגודה.<br />
                                    על הקובץ להיות בפורמט Cabrillo כמפורט בדף הבא:
                                    <a href="#LogUpload">http://www.iarc.org/iarc/#LogUpload</a>
                                </li>
                                <li>
                                    יומני נייר יש לשלוח: מארק שטרן, 4Z4KX ת.ד 73, ראשל"צ,  7510001.<br />
                                    או במייל:    4Z4KXX@GMAIL.COM
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse12">
                                פרסים
                            </a>
                        </h4>
                    </div>
                    <div id="collapse12" class="panel-collapse collapse">
                        <div class="panel-body">
                            גביעים למנצחים בכל הקטגוריות, מגנים למקום שני ושלישי.<br />
                            פרסים מיוחדים מטעם מארגני התחרות.<br />
                            מדליות  לכל החובבים שהפעילו לפחות 6 שעות ועבדו לא פחות מ 250 תחנות.<br />

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse13">
                                הפעלה מיוחדת מתחנות ניידות
                            </a>
                        </h4>
                    </div>
                    <div id="collapse13" class="panel-collapse collapse">
                        <div class="panel-body">
                            
                                יש שתי קטגוריות בהפעלת לתחנות הניידות בזמן התחרות
                            <ol>
                                <li>תחנה ניידת מ-5 ריבועים שונים</li>
                                <li>
                                    תחנה ניידת עד 10 ריבעוים שונים.(חדש) .
                                </li>
                            </ol>
                            אות הקריאה ישתנה כאשר עוברים מרבוע אחד לריבוע אחר. לדוגמא:<br />
                            4Z1SL/1, 4Z1SL/2, 4Z1SL/3, 4Z1SL/4, 4Z1SL/5,4Z1SL/6…...4Z1SL/9 ,4Z1SL/0
                            <ul>
                                <li>ההפעלה חייבת להימשך לפחות חצי שעה לפני שינוי מקום לריבוע הבא.</li>
                                <li>מותר לחזור לריבוע שממנו כבר הפעילו קודם.</li>
                                <li>כל הפעלה מריבוע חדש תחשב כתחנה נפרדת ותחייב רישום אות הקריאה בהתאם</li>
                                <li>חובה לציין את נקודת ההפעלה מכל ריבוע וריבוע.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse14">
                                הפעלה מתחנה נישאת
                            </a>
                        </h4>
                    </div>
                    <div id="collapse14" class="panel-collapse collapse">
                        <div class="panel-body">
                            תחנה נישאת תופעל אך ורק בתנאי שדה ומחוץ לריבוע הקבוע של מקום תחנתו הקבועה של המתחרה.<br />
                            היא לא תהיה מחוברת לרשת החשמל הארצית ותופעל רק מאותו ריבוע כל זמן התחרות.<br />
                            היא תזדהה עם סיומת /P  (Portable) לאות הקריאה שלה בכל זמן התחרות.<br />
                        </div>
                    </div>
                </div>

            </div><!--/acc-v1-->
            <!-- End General Questions -->
        
        <h4>לסיכום</h4>
        <p>
            אנו מבקשים מהחובבים להשתתף בתחרות כדי לגרום להצלחתה, ולהביא את שמה של ישראל וחובבי הרדיו שלה אל תודעת החובבים של העולם. אנו מקווים שתופעלנה הרבה תחנות ניידות ונישאות גם מריבועים נדירים.
            ריבוי תחנות ניידות בזמן התחרות הוא ערובה להצלחת התחרות כולה!
        </p>
        <p>
            אנו מבקשים לשמור על חוקי התחרות ומגבלות הרישיון שברשותכם, לתת הזדמנות שווה לתחנות רחוקות – DX- וחלשות – QRP, לבצע ולהשלים את הקשר, במיוחד על התדרים הנמוכים.
            חובבים אשר לא יעמדו בחוקי התחרות – ייפסלו. כל קשריהם עם תחנות חוץ ו"ריבועים" מהם הפעילו, לא יוכרו לצורך התחרות או לתעודת "ארץ הקודש".
            נא לא לשכוח לשלוח יומני התחרות לבדיקה עד התאריך (לפי חותמת הדואר) הקובע כי:
            "יומן לא שלחת – כאילו בתחרות לא השתתפת!"
        </p>
        <p>
            אנו מאחלים לכולם הנאה והצלחה בתחרות "ארץ הקודש".<br />
            הוועדה המארגנת
        </p>
    </div>
    <!--/row-fluid-->

</div>

