<div class="container">

    <div class="row-fluid privacy text-left" style="direction: ltr">
        <h2 class="text-center">THE HOLYLAND AWARD PROGRAM</h2>
        <!--<h4 class="text-center">P.O.Box 8181, Petach Tikva 49651 Israel</h4>-->
        <hr />
        <p>
            <img class="img-responsive" src="assets/img/pages/holyland/holyland.jpg" alt="" style="margin:auto">
        </p>
        <p>
            The ‘Holyland Award’ is a special plaque issued by the Israel Amateur Radio Club (IARC) to both, licensed radio amateurs and SWL’s. The plaque is made of gold anodized aluminum sheet dim. 44 x 32 cm (17 x 12.4 inch.), Silk epoxy printed in two colors. The print, in antique atmosphere, is showing an old panorama of Jerusalem as seen from the Mount of Olives. The plaque is awarded for achieving the basic requirements from contacts done after the first of January 1992. Stickers, representing different sites, will be attached to the basic award after improving the achievements. 10 Stickers are available. QSL cards are not required, only log entries.<br />
            Each award is personally printed for its winner. A specimen was sent with the IARC team to the Friedrichshafen hamfest (1992) for the first presentation to the amateur public.
        </p>

        <hr />

        <h4 class="text-center">BASIS OF THE AWARD</h4>
        <p>The idea of national classic basis for an award scheme, was introduced by the late John Morris G3ABG in 1969 and was adopted by the WAB group for the UK national awards program. The IARC finds this idea suits it’s requirements and decided to use it for the ‘Holyland Award’ program. The award scheme is based on the geographical and administrative division of the Holy Land.</p>
        <p>The ‘Square’; The country is divided geographically, by the Survey of Israel department, into a grid system resulting in squares of 10 X 10 kilometers. A letter and two numbers which are the relevant horizontal and vertical coordinates define these squares. i.e. E-14, H-08, etc.</p>
        <p>The ‘Region’; The country is divided for administrative purposes into 23 Regions. The boundaries of these regions are drawn arbitrarily.</p>
        <p>The ‘Area’; An ‘Area’ is made up from the combination of the Square and the Region. For example; E-14-TA (Tel Aviv), G-18-JS (Jerusalem), etc. The ‘Area’ is the basis for the Holyland Award scheme.</p>

        <hr />

        <h4 class="text-center">CLAIM AND RECORD BOOK</h4>
        <label>To help with the logging and for claiming purposes, a special Record book is produced. The book includes:</label>
        <ol>
            <li>Aims, Definitions and Requirements for the ‘Holyland Award’ scheme</li>
            <li>Tables of all Regions, The Squares within the region and the settlements within the squares.</li>
            <li>Summery of the participant’s achievements.</li>
            <li>Claim sheet and Operator’s declaration.</li>
            <li>Rules of the ‘Holyland international DX contest’.</li>
        </ol>

        <p>
            In addition to the book, Country Roads Maps, scales 1:250,000 are available. Price of the book is 10 $, maps 8 $, mailing 2 $. An equivalent of major European currency is acceptable. The book is required for claiming purposes.<br />
            The book and the maps are obtainable from:<br />
            <div class="tag-box tag-box-v2">
                <p>
                    M. Webman 4X4JU<br />
                    P.O.Box 8181,<br />
                    Petach Tikva 49651, Israel.
                </p>
            </div>
        </p>

        <hr />

        <h4 class="text-center">THE SCHEME REQUIREMENTS</h4>
        <label>Awards and Stickers: The award is given for working or hearing stations in the Holy-Land ‘areas’. There are three categories:</label>
        <ol>
            <li>Amateurs operating within the Holy Land. (Category A)</li>
            <li>Amateurs operating from IARU Region I. (Category B)</li>
            <li>Amateurs operating from IARU Regions II & III. (Category C)</li>
        </ol>
        <label>Requirements: Radio operators / Swl needs to work / hear:</label>
        <ol>
            <li>In the (B) category; 100/150 ‘areas’ from 13 regions are required for the basic award. Additional 12 ‘areas’ plus 1 extra region are required per sticker.</li>
            <li>In the (C) category; 50/100 ‘areas’ from 13 regions are required for the basic award. Additional 6 ‘areas’ plus 1 extra region, are required per sticker.</li>
        </ol>

        <p>
            <label>Expedition & Mobile Awards:</label>
            The Holyland Award for activating areas and it’s stickers, is issued for operating HF from areas in the Holy Land.</p>
        <p>special engraved trophy will be awarded for activating 300 and 400 different ‘Areas’ – available to all radio amateurs working HF while operating mobile or portable in the Holy Land.</p>
        <p>
            <label>Operating frequencies:</label>
            To concentrate the efforts, specific net frequencies are recommended for the ‘Holyland Award’ scheme. Mobile and portable stations will use the following frequencies ± QRM : 28.655, 21.320, 14.265, 7.060 Mhz. (Mostly on weekend afternoon – Holy Land time).</p>
        <p>
            <label>Holyland Contest:</label>
            A contest is held annually in the third weekend of April. Details about the contest and the award, are available on request from the IARC contest manager, IARC, P.O.Box 17600, Tel Aviv 61176, Israel. (SASE required - Self-addressed stamped envelope).</p>

        <hr />
        <h4 class="text-center">INVITATION</h4>
        <p>
            The Israel Amateur Radio Club invites you, among all other radio amateurs in the world, to participate in the ‘Holyland Award’ program. We hope you will fined interest in expanding your geographical knowledge of the Holy Land and create friendship with radio amateurs operating here. The beautiful award will be the right completion for your participation and we hope, will give you much satisfaction.
        </p>
        <p>
            We here, are making all efforts to increase the activity of radio amateurs in the Holy Land, and encourage mobile and portable operation. If you have a plan to visit the Holy Land in the near future and wish to operate your radio station here, mobile or fixed. You can take part in the ‘Holyland Expedition & Mobile’ plan and win the Award and Trophies. The IARC, with great pleasure, will assist all radio amateurs who wish to operate in the Holy Land.
        </p>
        <p>
            We hope to see you among the other radio amateurs taking part in the “Holyland Award” Program.
        </p>
        <hr />
        <p>The aim of the HOLYLAND AWARD is to contact Israeli Ham stations from different "areas".</p>
        <ol>
            <li>
                <label>The square system:</label><br />
                The country is divided geographically, by the Survey Department of Israel, into a grid system resulting in squares of 10 by 10 Kilometers.<br />
                North to South coordinates are identified by numbers, while West to East coordinates are identified by letters. The square is defined through the combination of the relevant coordinates i.e. E14.</li>
            <li>
                <label>The Administrative System:</label><br />
                The country is divided into 23 administrative regions. Here is a list of the Regions and their respective abbreviations:<br />
                <div class="row">
                <div class="panel-grey col-md-3">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="background-color: #cccccc">Region</th>
                                <th style="background-color: #cccccc">Abb.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Akko</td>
                                <td>AK</td>

                            </tr>
                            <tr>
                                <td>Ashqelon</td>
                                <td>AS</td>
                            </tr>
                            <tr>
                                <td>Azza</td>
                                <td>AZ</td>

                            </tr>
                            <tr>
                                <td>Beer Sheva</td>
                                <td>BS</td>
                            </tr>
                            <tr>
                                <td>Bethlehem</td>
                                <td>BL</td>

                            </tr>
                            <tr>
                                <td>Hadera</td>
                                <td>HD</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-grey col-md-3">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="background-color: #cccccc">Region</th>
                                <th style="background-color: #cccccc">Abb.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Hagolan</td>
                                <td>HG</td>

                            </tr>
                            <tr>
                                <td>Haifa</td>
                                <td>HF</td>
                            </tr>
                            <tr>
                                <td>Hasharon</td>
                                <td>HS</td>

                            </tr>
                            <tr>
                                <td>Hebron</td>
                                <td>HB</td>
                            </tr>
                            <tr>
                                <td>Jenin</td>
                                <td>JN</td>

                            </tr>
                            <tr>
                                <td>Jerusalem</td>
                                <td>JS</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-grey col-md-3">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="background-color: #cccccc">Region</th>
                                <th style="background-color: #cccccc">Abb.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Kinneret</td>
                                <td>KT</td>

                            </tr>
                            <tr>
                                <td>Petah Tiqwa</td>
                                <td>PT</td>
                            </tr>
                            <tr>
                                <td>Ramallah</td>
                                <td>RA</td>

                            </tr>
                            <tr>
                                <td>Ramla</td>
                                <td>RM</td>
                            </tr>
                            <tr>
                                <td>Rehovot</td>
                                <td>RH</td>

                            </tr>
                            <tr>
                                <td>Shekhem</td>
                                <td>SM</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-grey col-md-3">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="background-color: #cccccc">Region</th>
                                <th style="background-color: #cccccc">Abb.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Telaviv</td>
                                <td>TA</td>

                            </tr>
                            <tr>
                                <td>Tulkarm</td>
                                <td>TK</td>
                            </tr>
                            <tr>
                                <td>Yarden</td>
                                <td>YN</td>

                            </tr>
                            <tr>
                                <td>Yizreel</td>
                                <td>YZ</td>
                            </tr>
                            <tr>
                                <td>Zefat</td>
                                <td>ZF</td>
                            </tr>
                            <tr>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                    </div>
            </li>
            <li>
                <label>The 'Areas':</label>
                An 'Area' is made up from the 10 by 10 km. grid reference square and the region. For example: E14TA, H08HF. The 'Area' is the basis for the "Holyland Award" and the "Holyland DX Contest". For that purpose the 'Area' must contain land and only that land or any waterway in that 'Area' is considered to be the 'Area'.</li>
            <li>
                <label>Region Boundaries:</label>
                The region boundaries are drawn in an arbitrary manner so that often the 10 km grid reference square does cover more than one single region. For example, the square H08 lies partly in the region of Haifa, partly in the region of Hadera and partly in the region of Yizreel. As a result one may work, in the same square, three different Areas - H08HF, H08HD and H08YZ.</li>
            <li>
                <label>Maps: The Israel Survey Department has printed the following maps:</label>
                <ol>
                    <li>Country Road Map with a 1:250.000 scale, comprising 2 sheets (<a href="http://iarc.org/site/Content/docs/isr1.jpg" target="_blank">North</a>, <a href="http://iarc.org/site/Content/docs/isr2.jpg" target="_blank">South</a>)</li>
                    <li>Country Road Map with a 1:100.000 scale, comprising 6 sheets.</li>
                    <li>Region Map with a 1:250.000 scale, comprising 2 sheets.</li>
                </ol>
            </li>
        </ol>
        <hr />
        <h4>Comments of members on the Holyland program and the Plaque</h4>
        <blockquote>
            <p>The award is beautiful and everyone who see it, thinks it is great and one if not the best in the world. I am very proud to have one</p>
            <footer><cite title="Source Title">Ruthanna Pearson WB3CQN</cite></footer>
        </blockquote>
        <blockquote>
            <p>The holyland plaque is just beautiful. I am so proud to show it off to all who visit. I had a devil of a time unwrapping the plaque, you certainly packaged it very well</p>
            <footer><cite title="Source Title">Marry Ann WA3HUP</cite></footer>
        </blockquote>
        <blockquote>
            <p>The holyland award is quite spectacular, no picture or pre-formed ideas give any impression of just how nice the award plaque actually looks. It is very very good and I just wanted to record that the design and method of production makes this award plaque special and it certainly has a major place in my shack</p>
            <footer><cite title="Source Title">J.B. Smith VK9NS</cite></footer>
        </blockquote>
        <blockquote>
            <p>The award is one of the most beautiful awards I have ever seen and received and it will get a special place to underline it’s beauty</p>
            <footer><cite title="Source Title">Gerd Uhlig DL7VOG</cite></footer>
        </blockquote>
        <blockquote>
            <p>I was very surprised! It’s a very nice award and my XYL said, it is not for my shack. This award I must put in my floor so all visitors can see it</p>
            <footer><cite title="Source Title">Claus Ulbricht DL3AAF</cite></footer>
        </blockquote>
        <blockquote>
            <p>I have seen a few awards but none could stand up to this one. I think you must have taken a long time to design it and I think it will be one of the most sought after awards. The only problem I have with the award is keeping it from my wife hi hi. It will certainly take pride of place in this hous</p>
            <footer><cite title="Source Title">J.C. Lloyd G0PWE</cite></footer>
        </blockquote>
        <blockquote>
            <p>It is really a wonderful award to receive and well worth the effort to obtain. . . I must congratulate you and the Israel Amateur Radio Club for having set up such an award and to everyone concerned who enables Radio Amateurs all over the world to take part. The Holyland award is really more beautiful than can be explained over the air.. ...it now takes pride of place in my shack</p>
            <footer><cite title="Source Title">Margaret Armstrong G0BMQ</cite></footer>
        </blockquote>
        <blockquote>
            <p>First class award in all respects, a lot of time, skill and effort has gone into the making of the award. The program as a whole, has been very thoughtfully carried out. That is why it is so successful. My congratulations to all concerned</p>
            <footer><cite title="Source Title">R. Brown G1HXH</cite></footer>
        </blockquote>
        <blockquote>
            <p>The award is very well made and makes a beautiful addition to my shack where it is proudly displayed. It is invariably commented upon by visitors to the shack and has made some of my expatriate friends here think about visiting Israel during their vacation. . . The excellent way the award was packaged so it arrived here without any damage</p>
            <footer><cite title="Source Title">Keith P. Appleton YB5AQG (N6QLQ)</cite></footer>
        </blockquote>
        <blockquote>
            <p>The program has been very enjoyable and with the aid of the maps, one can follow the route taken by the mobile. It is like traveling in the Holyland. I am an Award Hunter and hold many awards. . . Although the Holyland award is not a cheap one, it is about the best one I have come across and fully worth the cost, plus the added bonus of meeting with a great bunch of operators and the fun I have had in the program. At present it is hung in my living room, as it’s too beautiful an award to be hung in the shack</p>
            <footer><cite title="Source Title">Denver A.C.E.Wijesuriya 4S7DA</cite></footer>
        </blockquote>
        <blockquote>
            <p>Let me tell you that I like this award and I think that the Holyland award is a beauty of all awards which I have myself or know and I know a lot of awards. It will have a place in my living room in neighborhood with the USA county award to show it to all my friends. It is interesting to hear every weekend, how many stations like to have a contact with Israeli mobile operators and also to see that we have radio stations not only from all countries of Europe but also from Sri Lanka, Zaire, Australia, Japan and USA, that is great. Last but not least! I found a lot of new friends on the air with the Holyland award program in Israel and in other countries and I think that is it what we need in this time with so many troubles in the world</p>
            <footer><cite title="Source Title">Wolfgang Prufert DL8USA ex Y24GE</cite></footer>
        </blockquote>
        <blockquote>
            <p>The Award is hanging in the Dining Room on a wooden plaque and is the ONLY Award to be allowed in the house. All other Certificates etc. have to be displayed in the shack by order of my XYL. It certainly attracts interest from visitors</p>
            <footer><cite title="Source Title">B.M. Taylor Z 21 CS</cite></footer>
        </blockquote>
        <blockquote>
            <p>Words cannot describe the beauty of this award. I cherish it and brag about it to anyone that will listen. I must say, however, that the beauty of this award IS surpassed by the beauty of the friendship that I’ve seen among the active participants on the twenty meters net frequency. Stations from five continents representing so many nations, cultures, and religions working together and helping one another towards the achievement of this beautiful plaque</p>
            <footer><cite title="Source Title">Walt Smith K1DWQ</cite></footer>
        </blockquote>
        <blockquote>
            <p>Congratulations to the Israel Amateur Radio Club on sponsoring the ‘Holyland Award’. The time and the skill to design and produce such an exquisite award is apparent and will be displayed prominently in our home. It has even greater meaning since we have recently visited Israel and had the opportunity to view the city of Jerusalem from the Mount of Olives. We thus have great memories of this unforgettable panorama of history which is so beautifully depicted on the metal plaque</p>
            <footer><cite title="Source Title">Don Chamberlain W9DC</cite></footer>
        </blockquote>
        <blockquote>
            <p>I had heard many good comments about the award, and I was not disappointed when I finally saw it. Congratulations for a beautiful award and an enjoyable award program. I especially enjoyed having the maps to refer to during the program, it often brought back memories of having traveled in much of Israel with my father when I was young. Now, my own family is hoping we will pass through Israel at least once to travel som11e of the same roads</p>
            <footer><cite title="Source Title">Daniel Petersen XT2DP</cite></footer>
        </blockquote>
                <blockquote>
            <p>This is definitely the best-designed and manufactured award that I have seen. The fact it is not an easy award to obtain, makes it all that much more worthwhile. The Holyland award is being put in a frame and it will occupy the prime position in my shack, which is also my study</p>
            <footer><cite title="Source Title">Ken Pickersgill ZS6NB</cite></footer>
        </blockquote>
        
    </div>
    <!--/row-fluid-->

</div>

