<div class="container" dir="rtl">

    <div class="row-fluid privacy">

        <h2>30 שנה לתחרות "ארץ הקודש"</h2>
        <h3>
            נוהל הפעלה לחובבים ישראלים
        </h3>


        <!-- General Questions -->
        <div class="panel-group margin-bottom-40">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        תאריך
                    </h4>
                </div>
                <div id="collapseOne">
                    <div class="panel-body">
                        משבת ה 17 באפריל בשעה 00.00 זמן מקומי עד 17 באפריל בשעה 23.59 זמן מקומי.
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        מטרה
                    </h4>
                </div>
                <div id="collapseTwo">
                    <div class="panel-body">
                        לעודד קשר בין חובבי הרדיו בעולם לבין עמיתיהם בישראל.<br />
                        לסייע לכל חובבי הרדיו להשיג את התעודות הישראליות – בפרט תעודות ארץ הקודש.<br />
                        לעודד פעילות מיוחדת גם במצבי תחרות.<br />

                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        התחומים
                    </h4>
                </div>
                <div id="collapseThree">
                    <div class="panel-body">
                        28, 21, 14, 7, 3.5 ו 1.8 מה"ץ – לפי המלצות של  IARU  . Region 1
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        הקטגוריות
                    </h4>
                </div>
                <div id="collapseFour">
                    <div class="panel-body">
                        <ol>
                            <li style="direction:rtl"><b>(MIX)</b> &nbsp;מפעיל יחיד כל הגלים, 2 או יותר מודים (SSB/CW/Digital/FT8)</li>
                            <li style="direction:rtl"><b>(CW)</b> &nbsp;מפעיל יחיד רק CW</li>
                            <li style="direction:rtl"><b>(SSB)</b> מפעיל יחיד רק SSB</li>
                            <li style="direction:rtl"><b>(FT8)</b> &nbsp;מפעיל יחיד רק FT8</li>
                            <li style="direction:rtl"><b>(DIGI)</b> מפעיל יחיד רק Digital, אפנונים RTTY, PSK31</li>
                            <li style="direction:rtl"><b>(QRP)</b> מפעיל יחיד עד 10 וואט</li>
                            <li style="direction:rtl"><b>(SOB)</b> מפעיל יחיד, גל אחד, תחנה קבועה (מינימום 100 קשרים)</li>
                            <li style="direction:rtl"><b>(M5)</b>&nbsp;&nbsp;&nbsp; מפעיל יחיד, כל הגלים, תחנה ניידת (עד 5 ריבועים שונים)</li>
                            <li style="direction:rtl"><b>(M10)</b>&nbsp; מפעיל יחיד, כל הגלים, תחנה ניידת (עד 10 ריבועים שונים)</li>
                            <li style="direction:rtl"><b>(POR)</b> מפעיל יחיד, כל הגלים, תחנה נישאת (ריבוע יחיד)</li>
                            <li style="direction:rtl"><b>(MOP)</b> מפעילים רבים, (כולל תחנת מועדון), משדר יחיד, כל הגלים</li>
                            <li style="direction:rtl"><b>(MM)</b>&nbsp;&nbsp; מפעילים רבים, (כולל תחנת מועדון), משדרים רבים, כל הגלים</li>
                            <li style="direction:rtl"><b>(MMP)</b> מפעילים רבים, (כולל תחנת מועדון), משדר נייד יחיד או נישא</li>
                            <li style="direction:rtl"><b>(4Z9)</b> &nbsp;&nbsp;חובב דרגה ג'</li>
                            <li style="direction:rtl"><b>(SHA)</b> חובבים שומרי שבת המצטרפים במוצאי שבת</li>
                            <li style="direction:rtl"><b>(SWL)</b> מאזינים</li>
                            <li style="direction:rtl"><b>(NEW)</b> חובב חדש (בעל רישיון חדש פחות משנתיים)</li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        שיטות אפנון
                    </h4>
                </div>
                <div id="collapseFive">
                    <div class="panel-body">
                        FT8, RTTY, PSK31, SSB, CW
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        דיווח
                    </h4>
                </div>
                <div id="collapseSix">
                    <div class="panel-body">
                        תחנות ישראליות ידווחו RST + 'ריבוע' (לדוגמה F15RH)<br />
                        תחנות DX ידווחו RST + מספר רץ החל מ 001.<br />
                        מאזינים SWL ידווחו רק על תחנות DX שמסרו רפורט ומספר רץ וגם ריבוע של תחנה ישראלית איתה נעשה קשר.
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        קבילות קשר
                    </h4>
                </div>
                <div id="collapseSeven">
                    <div class="panel-body">
                        כל תחנה יכולה להתקשר עם כל תחנה אחרת 3 פעמים על כל תחום ב- CW,Digital  וSSB.<br />
                        סך הכול 18 קשרים עם אותה תחנה על כל התחומים.<br />
                        קשר מעורב בין סוגי אפנון ו/או תחומים שונים – אסור.
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        ניקוד
                    </h4>
                </div>
                <div id="collapse8">
                    <div class="panel-body">
                        2 נקודות עבור כל קשר (כולל ישראל)  בתחומים 1.8, 3.5 ו 7 מה"ץ.<br />
                        1 נקודה עבור כל קשר (כולל ישראל)  בתחומים 14, 21 ו 28 מה"ץ.
                        <br />
                        <span style="font-weight:bold">
                            לאור פניות חובבים מחו"ל על כך שבשבת בערב כבר לא ניתן לשמוע הרבה תחנות
                            ישראליות,  ינתן ניקוד כפול  לתחנות ישראליות על הקשרים בין 20:00 ל 23:59
                            <br />
                            4 נקודות עבור כל קשר (כולל ישראל)  בתחומים 1.8, 3.5 ו 7 מה"ץ.<br />
                            2 נקודה עבור כל קשר (כולל ישראל)  בתחומים 14, 21 ו 28 מה"ץ.
                        </span>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        מכפילים
                    </h4>
                </div>
                <div id="collapse9">
                    <div class="panel-body">
                        <ul>
                            <li>כל מופע ראשון של מדינה מארצות ה DXCC בכל גל – 1 מכפיל.</li>
                            <li>כל מופע ראשון של ריבוע של תחנה ישראלית בכל גל – 1 מכפיל.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        סיכום נקודות
                    </h4>
                </div>
                <div id="collapse10">
                    <div class="panel-body">
                        סכום כל נקודות הקשרים, מכל הגלים, מוכפל בסך כל המכפילים, מכל התחומים.
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        יומני התחנה
                    </h4>
                </div>
                <div id="collapse11">
                    <div class="panel-body">
                        <ul>
                            <li>כל רישום חייב להכיל זמן, אות קריאה, תדר, RST + ריבוע שנשלח, RST ומספר רץ שהתקבלו, מכפילים וניקוד עבור הקשרים.</li>
                            <li>את היומנים חייבים להגיש לא יאוחר מ 31.5 (לפי חותמת הדואר).</li>
                            <li>
                                מען למשלוח יומנים: יומנים האלקטרוניים יש לעלות ישירות באתר האגודה.<br />
                                על הקובץ להיות בפורמט Cabrillo כמפורט בדף הבא:
                                <a href="#LogUpload">http://www.iarc.org/iarc/#LogUpload</a>
                            </li>
                            <li>
                                יומני נייר יש לשלוח: מארק שטרן, 4Z4KX ת.ד 73, ראשל"צ,  7510001.<br />
                                או במייל:    4Z4KXX@GMAIL.COM
                            </li>
                            <li>
                                מומלץ לעבוד עם תוכנת הלוג HolyLogger שזמינה להורדה בלינק:<br />
                                <a href="https://4z1kd.github.io/HolyLogger/" target="_blank">https://4z1kd.github.io/HolyLogger/</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        פרסים
                    </h4>
                </div>
                <div id="collapse12">
                    <div class="panel-body">
                        גביעים למנצחים בכל הקטגוריות, מגנים למקום שני ושלישי.<br />
                        פרסים מיוחדים מטעם מארגני התחרות.<br />
                        מדליות  לכל החובבים שהפעילו לפחות 6 שעות ועבדו לא פחות מ 250 תחנות.<br />

                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        הפעלה מיוחדת מתחנות ניידות (ריבוי מיקומי הפעלה)
                    </h4>
                </div>
                <div id="collapse13">
                    <div class="panel-body">

                        יש שתי קטגוריות בהפעלת לתחנות הניידות בזמן התחרות
                        <ol>
                            <li>תחנה ניידת עד 5 ריבועים שונים</li>
                            <li>תחנה ניידת עד 10 רבועים שונים</li>
                        </ol>
                        אות הקריאה ישתנה כאשר עוברים מרבוע אחד לריבוע אחר. לדוגמא:<br />
                        4Z1SL/1, 4Z1SL/2, 4Z1SL/3, 4Z1SL/4, 4Z1SL/5,4Z1SL/6…...4Z1SL/9 ,4Z1SL/0
                        <ul>
                            <li>ההפעלה חייבת להימשך לפחות חצי שעה לפני שינוי מקום לריבוע הבא.</li>
                            <li>לאורך כל התחרות התחנה לא תהיה מחוברת לרשת החשמל הארצית.</li>
                            <li>מותר להפעיל ציוד, כולל אנטנה שנמצאים מחוץ לרכב. כלומר אין הכרח להמצא בתוך הרכב בזמן ההפעלה.</li>
                            <li>מותר לחזור לריבוע שממנו כבר הפעילו קודם ואז להזדהות עם המיספר של ההפעלה הקודמת שהיתה בריבוע זה</li>
                            <li>כל הפעלה מריבוע חדש תחשב כתחנה נפרדת ותחייב רישום אות הקריאה בהתאם (תוספת #/)</li>
                            <li>חובה לציין את נקודת ההפעלה מכל ריבוע וריבוע.</li>
                            <li>במידה ובקובץ הלוג יהיו 5 או פחות דיווחי מיקומים, ההפעלה תחשב אוטומטית כהשתתפות בקטגוריה של 5 מיקומים. במידה ובקובץ הלוג יהיו 6 ויותר דיווחי מיקומים ההפעלה תחשב אוטומטית כהשתתפות בקטגוריה של 10 מיקומים.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        הפעלה מתחנה נישאת (מיקום הפעלה יחיד)
                    </h4>
                </div>
                <div id="collapse14">
                    <div class="panel-body">
                        תחנה נישאת תופעל אך ורק בתנאי שדה ומחוץ לריבוע הקבוע של מקום תחנתו הקבועה של המתחרה.<br />
                        לאורך כל התחרות היא לא תהיה מחוברת לרשת החשמל הארצית ותופעל רק מאותו ריבוע כל זמן התחרות.<br />
                        היא תזדהה עם סיומת /P לאות הקריאה שלה בכל זמן התחרות.<br />
                    </div>
                </div>
            </div>

        </div><!--/acc-v1-->
        <!-- End General Questions -->

        <h4>לסיכום</h4>
        <p>
            אנו מבקשים מהחובבים להשתתף בתחרות כדי לגרום להצלחתה ולהביא את שמה של ישראל וחובבי הרדיו שלה אל תודעת החובבים של העולם. אנו מקווים שתופעלנה הרבה תחנות ניידות ונישאות גם מריבועים נדירים.
            ריבוי תחנות ניידות בזמן התחרות הוא ערובה להצלחת התחרות כולה!
        </p>
        <p>
            אנו מבקשים לשמור על חוקי התחרות ומגבלות הרישיון שברשותכם, לתת הזדמנות שווה לתחנות רחוקות – DX- וחלשות – QRP, לבצע ולהשלים את הקשר, במיוחד על התדרים הנמוכים.
            חובבים אשר לא יעמדו בחוקי התחרות – ייפסלו. כל קשריהם עם תחנות חוץ ו"ריבועים" מהם הפעילו, לא יוכרו לצורך התחרות או לתעודת "ארץ הקודש".
            נא לא לשכוח לשלוח יומני התחרות לבדיקה עד התאריך (לפי חותמת הדואר) הקובע כי:
            "יומן לא שלחת – כאילו בתחרות לא השתתפת!"
        </p>
        <p>
            אנו מאחלים לכולם הנאה והצלחה בתחרות "ארץ הקודש".<br />
            הוועדה המארגנת
        </p>
    </div>
    <!--/row-fluid-->

</div>

