
<div class="container center">
    <div class="margin-bottom-20">
    </div>
    <div class="row-fluid privacy margin-bottom-20">
        <h4>האיזור האישי</h4>
        <p>
            לחברים שלום,<br />
            לאגודה אתר וכן דף פייסבוק אבל אילו לא קשורים ישירות לניהול בסיס הנתונים האישי של החובב החבר. לצורך ניהול בסיס הנתונים האישי של החבר, המזכיר מקיים מאגר של האגודה שיושב על שרת האגודה.<br />
            <br />
            לכל חבר באגודה הוקצה בשרת איזור ובו פרטיו האישיים. מטרת האזור האישי לאפשר לחובב שירות אינטראקטיבי ובכלל זה עדכון פרטים אישיים יזום על ידי החובב ואפשרות לקריאה ואף הורדה של הגל במהדורה האלקטרונית.<br />
            על מנת להתחבר יש להכניס את אות הקריאה כפי שרשום באגודה וכן את הסיסמה שאותה המזכיר מנפיק לאור פניה אליו. הסיסמה הנ"ל היא ראשונית ומומלץ לשנותה.<br />
            אם הסיסמה נשכחה המזכיר יכול ליצור סיסמה זמנית חדשה.<br />
            <br />
            גלישה נעימה ובהצלחה.<br />
        </p>
    </div>
    <div class="row-fluid privacy">
        <form class="form-signin mg-btm">
            <div class="main">
                <input type="text" class="form-control" placeholder="אות קריאה" data-bind="value: username" autofocus>
                <input type="password" class="form-control" placeholder="סיסמה" data-bind="value: password">
                <span class="clearfix"></span>
            </div>
            <div class="login-footer">
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <div class="left-section">
                            <a href="">שכחת סיסמה?</a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-6 pull-right">
                        <button type="submit" class="btn btn-large btn-primary pull-right" data-bind="click: login">התחבר</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
