<!--=== Top ===-->
<div class="top-v1">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="list-unstyled top-v1-contacts text-left">
                    <li>
                        <i class="icon-off"></i><span data-bind="click: logout">התנתק</span>
                    </li>
                    <li><span data-bind="html: 'V' + version" style="color: #f1f1f1"></span>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-unstyled top-v1-contacts">
                    <li>אגודת חובבי הרדיו בישראל (ע"ר)
                    </li>
                    <li>
                        <i class="icon-envelope"></i>דואל: <a href="mailto:info@iarc.org">info@iarc.org</a>
                    </li>
                    <!--<li>
                        <i class="icon-phone"></i>תמיכה: 054-7828077
                    </li>-->
                </ul>
            </div>
        </div>
    </div>
</div>
<!--/top-v1-->
<!--=== End Top ===-->

<!--=== Header ===-->
<div class="header margin-bottom-10" data-bind="visible: isLoggedIn()">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="_collapse _navbar-collapse _navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-right">
                    
                    <li data-bind="css: { active: selectedMainMenu() == 'contact' }">
                        <a href="#contact">צור קשר
                        </a>
                    </li>                    
                    <li data-bind="css: { active: selectedMainMenu() == 'payments' }">
                        <a href="#payments">תשלומים</a>
                    </li>
                    <li class="dropdown" data-bind="css: { active: selectedMainMenu() == 'services' }">
                        <a href="#services" class="dropdown-toggle">שירות לחבר
                            <i class="caret"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li data-bind="css: { active: selectedSubMenu() == 'callbook' }"><a href="#callbook">Callbook</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'hagal' }"><a href="#hagal">הגל האלקטרוני</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'market' }"><a href="#market">קניה\מכירה</a></li>
                            <li data-bind="css: { active: selectedSubMenu() == 'mail' }"><a href="#mail">תיבת דואר</a></li>
                        </ul>
                    </li>
                    <!--<li data-bind="css: { active: selectedMainMenu() == 'main' }">
                        <a href="#">הודעות
                        </a>
                    </li>-->
                    <li data-bind="css: { active: selectedMainMenu() == 'details' }">
                        <a href="#details">פרטים אישיים</a>
                    </li>
                </ul>
            </div>
            <!-- /navbar-collapse -->
        </div>
    </div>
</div>
<!--/header-->
<!--=== End Header ===-->

<!--=== Content Part ===-->
<div class="container">
    <!-- End Sidebar -->
    <div class="col-md-12 pull-right container-fluid page-host" data-bind="router: { transition: 'entrance', cacheViews: true }"></div>

</div>
<!--/container-->
<!-- End Content Part -->
